Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer

remove movea implementation for now + simplifed csv read with internal simnibs method
  ti-toolbox/3d_exporter/electrode_placement.py
  ti-toolbox/core/calc.py
  ti-toolbox/core/constants.py
  ti-toolbox/core/paths.py
  ti-toolbox/core/roi.py
  ti-toolbox/gui/acknowledgments_tab.py
  ti-toolbox/gui/components/README.md
  ti-toolbox/gui/extensions/electrode_placement.py
  ti-toolbox/gui/main.py
  ti-toolbox/gui/optimizer_tab.py
  ti-toolbox/gui/simulator_tab.py
  ti-toolbox/gui/utils.py
  ti-toolbox/opt/__init__.py
  ti-toolbox/opt/leadfield.py
  ti-toolbox/opt/movea/__init__.py
  ti-toolbox/opt/movea/main.py
  ti-toolbox/opt/movea/montage_formatter.py
  ti-toolbox/opt/movea/optimizer.py
  ti-toolbox/opt/movea/visualizer.py
  ti-toolbox/tools/map_electrodes.py
Due: core, optimizer

continued to removed movea and refactored ex-search
  tests/test_movea_integration.bats
  tests/test_movea_optimizer.py
  ti-toolbox/cli/movea.sh
  ti-toolbox/gui/ex_search_tab.py
  ti-toolbox/gui/movea_tab.py
  ti-toolbox/opt/ex/__init__.py
  ti-toolbox/opt/ex/config.py
  ti-toolbox/opt/ex/ex_analyzer.py
  ti-toolbox/opt/ex/logic.py
  ti-toolbox/opt/ex/main.py
  ti-toolbox/opt/ex/results.py
  ti-toolbox/opt/ex/runner.py
  ti-toolbox/opt/ex/test_exsearch_bucketed_vs_pooled.py
  ti-toolbox/opt/ex/ti_sim.py
  ti-toolbox/opt/leadfield.py
Due: optimizer

continued to removed movea and refactored ex-search
  docs/_layouts/wiki.html
  docs/wiki/movea-opt.md
  docs/wiki/wiki.md
Due: none

removed help sections and increased min width of window
  ti-toolbox/gui/ex_search_tab.py
  ti-toolbox/gui/main.py
Due: none

updating leadfield and ex_search cli with new click module
  ti-toolbox/cli/create_leadfield.py
  ti-toolbox/cli/ex-search.sh
  ti-toolbox/cli/ex_search.py
  ti-toolbox/opt/ex/__init__.py
  ti-toolbox/opt/ex/main.py
  ti-toolbox/opt/ex/runner.py
Due: optimizer

finished ex_search and leadfield cli
  ti-toolbox/cli/create_leadfield.py
  ti-toolbox/cli/ex_search.py
Due: none

finished ex_search and leadfield cli
  ti-toolbox/opt/leadfield.py
Due: optimizer

cleanup
  ti-toolbox/opt/leadfield.py
Due: optimizer

cleanup
  ti-toolbox/opt/ex/config.py
Due: optimizer

fixed import and env passing issue
  ti-toolbox/gui/ex_search_tab.py
  ti-toolbox/opt/ex/main.py
Due: optimizer

passing tests and updated docs
  docs/wiki/ex-search.md
  tests/run_tests.sh
  tests/test_constants.py
  tests/test_ex_analyzer.py
  tests/test_ex_search_integration.bats
  tests/test_leadfield.py
Due: none

init lf data attr
  ti-toolbox/opt/leadfield.py
Due: optimizer

init lf data attr
  .coverage
Due: none

removed movea from bats
  tests/run_tests.sh
Due: none

added scripts
  ti-toolbox/scripts/batch_simulate.py
Due: none

added ROI radius and creation from cli/ex
  ti-toolbox/cli/ex_search.py
  ti-toolbox/opt/ex/runner.py
Due: optimizer

fixed script sim and added verbose flag
  ti-toolbox/scripts/batch_simulate.py
Due: none

more flexible script
  ti-toolbox/scripts/batch_simulate.py
Due: none

added parallilzation on sim level
  ti-toolbox/scripts/batch_simulate.py
Due: none

docs update
  docs/README.md
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_layouts/about.html
  docs/_layouts/gallery.html
  docs/_layouts/home.html
  docs/_layouts/installation.html
  docs/_layouts/releases.html
  docs/_layouts/wiki.html
  docs/_plugins/search_generator.rb
  docs/about/about.md
  docs/assets/css/carousel.css
  docs/assets/css/style.scss
  docs/assets/css/wiki.css
  docs/assets/js/search/header.js
  docs/assets/js/search/results.js
  docs/index.md
  docs/search/search.json
  docs/search/search.md
  docs/serve.sh
Due: none

fixed bug regarding focality with adaptive threshold
  ti-toolbox/gui/flex_search_tab.py
Due: none

fixed issue with unsupported nets crashing simulator pipe
  ti-toolbox/tools/montage_visualizer.py
Due: none

update to stats
  ti-toolbox/gui/extensions/cbp.py
  ti-toolbox/stats/permutation_analysis.py
  ti-toolbox/stats/stats_utils.py
  ti-toolbox/stats/visualization.py
Due: none

wider cluster forming threshold range
  ti-toolbox/gui/extensions/cbp.py
Due: none

added sim config json to support extension processes
  ti-toolbox/sim/simulator.py
Due: simulator

Revert documentation changes and add naming change note
  docs/PIPELINE_FLOW.md
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.2.0.md
  docs/releases/v2.2.1.md
  docs/releases/v2.2.2.md
  docs/search/search.json
  docs/wiki/extension.md
  docs/wiki/python_env.md
  docs/wiki/quick-notes.md
  docs/wiki/visual-exporter.md
Due: none

Update specific documentation files with tit/ references
  docs/PIPELINE_FLOW.md
  docs/search/search.json
  docs/wiki/extension.md
  docs/wiki/quick-notes.md
  docs/wiki/visual-exporter.md
Due: none

fixed failed tests
  container/blueprint/entrypoint_test.sh
  tit/analyzer/main_analyzer.py
  tit/analyzer/mesh_analyzer.py
  tit/analyzer/voxel_analyzer.py
Due: none

fixed failed tests
  TODO.md
  tests/run_tests.sh
  tests/test_analyzer.py
  tests/test_ex_analyzer.py
  tests/test_leadfield.py
  tests/test_voxel_analyzer.py
Due: none

fixed path complexity to amv
  tests/test_montage_visualizer.py
  tit/tools/montage_visualizer.py
Due: none

typo
  TODO.md
Due: none

vis_blender update
  tit/blender_exporter/electrode_placement.py
  tit/cli/montage_publication.py
  tit/cli/vis_blender.py
Due: none

updated logger to have a full flush with data and level
  tit/cli/vis_blender.py
  tit/tools/logging_util.py
Due: none

added to todos
  TODO.md
Due: none

reframed 3d visualizer -> blender integration
  docs/_layouts/wiki.html
  docs/wiki/blender.md
  docs/wiki/wiki.md
Due: none

replaced with publication URL
  README.md
Due: none

Path conditions:
  core: any of: ti-toolbox/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, ti-toolbox/gui/**, ti-toolbox/blender/**, ti-toolbox/tools/visualization_util.py, dev/**, docs/**
  simulator: any of: ti-toolbox/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, ti-toolbox/gui/**, ti-toolbox/blender/**, ti-toolbox/tools/visualization_util.py, dev/**, docs/**
  analyzer: any of: ti-toolbox/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, ti-toolbox/gui/**, ti-toolbox/blender/**, ti-toolbox/tools/visualization_util.py, dev/**, docs/**
  optimizer: any of: ti-toolbox/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, ti-toolbox/gui/**, ti-toolbox/blender/**, ti-toolbox/tools/visualization_util.py, dev/**, docs/**
