Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "tit/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "tit/blender/**"     # Blender scripts (require Blender)
  - "tit/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - tit/core/
    carryforward: true

  simulator:
    paths:
      - tit/sim/
    carryforward: true

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: true

  optimizer:
    paths:
      - tit/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

codecov.yml:

# Codecov Configuration for TI-Toolbox
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage report settings
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Coverage for individual patches/PRs
    patch:
      default:
        target: 65%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Component-specific coverage flags
# These match the flags passed in CircleCI: -F unittests,core,simulator,analyzer,optimizer
flags:
  unittests:
    paths:
      - tests/
    carryforward: false

  core:
    paths:
      - tit/core/
    carryforward: false
    target: 80%

  simulator:
    paths:
      - tit/sim/
    carryforward: false
    target: 70%

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: false
    target: 75%

  optimizer:
    paths:
      - tit/opt/
    carryforward: false
    target: 65%

  stats:
    paths:
      - tit/stats/
    carryforward: false
    target: 60%

  plotting:
    paths:
      - tit/plotting/
    carryforward: false
    target: 60%

  preprocessing:
    paths:
      - tit/pre/
    carryforward: false
    target: 60%

# Files to ignore in coverage reports
ignore:
  - "**/__pycache__"
  - "**/*.pyc"
  - "**/test_*.py"
  - "tests/**"
  - "setup.py"
  - "version.py"
  - "**/gui/**"  # GUI code is harder to test in headless environments
  - "**/__init__.py"  # Init files are often just imports

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - master

# GitHub status checks configuration
github_checks:
  annotations: true

remove tissue suffix from output folder names, cache resampled atlases
  tit/analyzer/visualizer.py
  tit/gui/nifti_viewer_tab.py
Due: analyzer

docker socket issue in desktop application fixed missing line
  package/docker/docker-compose.yml
Due: none

touchups docs
  docs/wiki/diffusion-processing.md
Due: none

loader cleanup
  dev/loader/loader_dev.py
Due: none

docs api cleanup
  docs/api_mkdocs/docs/getting-started.md
  docs/api_mkdocs/docs/index.md
  docs/api_mkdocs/docs/pipeline/analysis.md
  docs/api_mkdocs/docs/pipeline/core.md
  docs/api_mkdocs/docs/pipeline/optimization.md
  docs/api_mkdocs/docs/pipeline/preprocessing.md
  docs/api_mkdocs/docs/pipeline/reporting.md
  docs/api_mkdocs/docs/pipeline/simulation.md
  docs/api_mkdocs/docs/pipeline/statistics.md
  docs/api_mkdocs/docs/pipeline/tools.md
  docs/wiki/extension.md
  docs/wiki/logging.md
  docs/wiki/python_env.md
Due: none

upgraded qsi to version 1.2.0
  tit/constants.py
Due: none

fix QSI Docker builder: FS license, atlases, denoise defaults
  tests/test_pre_qsi_docker.py
  tests/test_pre_qsi_utils.py
  tit/constants.py
  tit/gui/components/qsi_config_dialogs.py
  tit/pre/qsi/config.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/dti_extractor.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/qsirecon.py
  tit/pre/qsi/utils.py
  tit/pre/structural.py
Due: preprocessing

qsi small fixes
  scripts/integration_test.py
  scripts/test_mesh_analyzer.py
  tests/test_pre_qsi_docker.py
  tests/test_pre_qsi_utils.py
  tit/constants.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/qsirecon.py
  tit/pre/qsi/utils.py
Due: preprocessing

ignore more
  .gitignore
Due: none

ability to load from .tar file
  tit/pre/dicom2nifti.py
Due: preprocessing

Prepare GUI for doing secondary search
  tit/gui/flex_search_tab.py
Due: none

added minimum electrode distance variable for flex search
  tests/test_opt_config.py
  tit/gui/components/electrode_config.py
  tit/gui/flex_search_tab.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/manifest.py
Due: optimizer

trying to clean up qsirecon atlases
  tests/test_pre_qsi_docker.py
  tit/constants.py
  tit/pre/qsi/config.py
  tit/pre/qsi/qsirecon.py
Due: preprocessing

trying to clean up qsirecon atlases
  docs/wiki/qsiprep-reference.md
  tit/constants.py
  tit/gui/components/qsi_config_dialogs.py
  tit/pre/qsi/config.py
  tit/pre/qsi/qsirecon.py
Due: preprocessing

fix QSIRecon: custom pipeline YAML to bypass upstream connectivity bug
  docs/dev/qsirecon-internal-reference.md
  docs/wiki/qsiprep-reference.md
  resources/qsirecon_pipelines/dsi_studio_gqi_scalar.yaml
  tests/test_pre_qsi_recon.py
  tit/gui/components/qsi_config_dialogs.py
  tit/pre/qsi/config.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/qsirecon.py
Due: preprocessing

add DTI QC report and rewrite dti_extractor for clarit
  tests/test_pre_qsi_dti.py
  tit/plotting/dti_qc.py
  tit/pre/qsi/dti_extractor.py
  tit/reporting/generators/__init__.py
  tit/reporting/generators/dti_qc.py
Due: plotting, preprocessing

replaced ANTs with FSL
  tit/pre/qsi/dti_extractor.py
Due: preprocessing

registration is pure python
  tests/test_pre_qsi_dti.py
  tit/pre/qsi/dti_extractor.py
Due: preprocessing

registration is pure python
  tit/pre/qsi/dti_extractor.py
Due: preprocessing

fix
  tit/pre/qsi/dti_extractor.py
Due: preprocessing

dti_extractor fix continued
  tests/test_pre_qsi_dti.py
  tit/pre/qsi/dti_extractor.py
Due: preprocessing

i/o fix
  tit/pre/qsi/dti_extractor.py
Due: preprocessing

co-registration fix for dti
  tests/test_pre_qsi_dti.py
  tit/pre/qsi/dti_extractor.py
Due: preprocessing

fix search bug for final simulation
  tit/opt/flex/builder.py
Due: optimizer

new flex-search spherical volume targeting + fix qsirecon phantom dir issue
  tests/test_flex_manifest.py
  tests/test_opt_flex_utils.py
  tit/gui/components/roi_picker.py
  tit/opt/config.py
  tit/opt/flex/manifest.py
  tit/opt/flex/utils.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/qsirecon.py
Due: optimizer, preprocessing

continued fix qsirecon phantom dir issue
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/qsirecon.py
Due: preprocessing

1. No mkdir calls from SimNIBS — Docker's -v flag createsNo directory creation from inside SimNIBS at all — the phantom entries are completely bypassed.
  tit/pre/qsi/docker_builder.py
Due: preprocessing

The pattern: Staging files follows the same approach as _stage_fs_license — write to the project root, mount into sibling container.
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/qsirecon.py
Due: preprocessing

dti qc plotting
  tests/test_plotting.py
  tit/plotting/dti_qc.py
  tit/plotting/static_overlay.py
Due: plotting

docs
  docs/api_mkdocs/docs/pipeline/preprocessing.md
  docs/wiki/diffusion-processing.md
Due: none

The combined doc is concise (~200 lines) and pushes detailed QSI specifics (all 21 recon specs, 14 atlases, CLI arguments, eddy
  docs/wiki/diffusion-processing.md
  docs/wiki/qsiprep-reference.md
Due: none

dti docs
  docs/wiki/diffusion-processing.md
Due: none

removed phase_deg as it was nonfunctional and fixed error in full_field mTI calculation
  tests/test_calc.py
  tit/calc.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator

renaming mTI functions and adding search functionality for secondary search
  tests/test_calc.py
  tit/analyzer/field_selector.py
  tit/calc.py
  tit/gui/flex_search_tab.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/simulator_tab.py
  tit/opt/__init__.py
  tit/opt/secondary.py
  tit/sim/config.py
  tit/sim/mTI.py
Due: simulator, analyzer, optimizer

fixed sqrt(e) term and added TI_avg to Botzanowski directional
  tests/test_calc.py
  tit/analyzer/field_selector.py
  tit/calc.py
  tit/sim/mTI.py
Due: simulator, analyzer

more robust x11 approach to handle nomachine connections
  loader.py
Due: none

added X11 socket and Xauthority.
  docker-compose.yml
Due: none
