Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

feat(atlas): the Morel thalamus atlas is no longer shipped; Harvard-Oxford, Cerebellum-MNIfnirt and Schaefer 400/7 are
  LICENSE
  NOTICE
  README.md
  desktop/src/renderer/pages/_shared/scene/ScenePane.tsx
  desktop/tests/fixtures/atlas_regions.json
  desktop/tests/fixtures/atlases.json
  dev/build_atlas_assets.py
  docs/_data/atlases.json
  docs/assets/atlas/morel.nii.gz
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/atlases.md
  resources/atlas/Cerebellum-MNIfnirt-maxprob-thr25-1mm.nii.gz
  resources/atlas/Cerebellum-MNIfnirt-maxprob-thr25-1mm_LUT.txt
  resources/atlas/HarvardOxford-cort-maxprob-thr25-1mm.nii.gz
  resources/atlas/HarvardOxford-cort-maxprob-thr25-1mm_LUT.txt
  resources/atlas/HarvardOxford-sub-maxprob-thr25-1mm.nii.gz
  resources/atlas/HarvardOxford-sub-maxprob-thr25-1mm_LUT.txt
  resources/atlas/MorelMNI152_labeling_1mm.nii.gz
  resources/atlas/MorelMNI152_labeling_1mm_LUT.txt
  resources/atlas/README.md
  resources/atlas/Schaefer2018_400Parcels_7Networks_order.txt
  resources/atlas/Schaefer2018_400Parcels_7Networks_order_FSLMNI152_1mm.nii.gz
  resources/atlas/manifest.json
  tests/test_atlas_manifest.py
  tests/test_viewspec.py
  tests/test_volume_surface_display.py
  tit/atlas/islands.py
  tit/atlas/manifest.py
  tit/opt/masks.py
  tit/opt/roi_spec.py
  tit/scene/guide-mni/PROVENANCE.md
  tit/scene/guide-mni/labels/MorelMNI152_labeling_1mm.nii.gz.gii
  tit/scene/guide-mni/labels/MorelMNI152_labeling_1mm.nii.gz.tvsc
  tit/scene/guide-mni/legends/MorelMNI152_labeling_1mm.nii.gz.json
  tit/scene/guide-mni/manifest.json
  tit/scene/guide-mni/surfaces/atlas-MorelMNI152_labeling_1mm.nii.gz.gii
  tit/scene/guide-mni/surfaces/atlas-MorelMNI152_labeling_1mm.nii.gz.tvsc
  tit/scene/volume_surfaces.py
  tit/server/routes/target_preview.py
Due: optimizer

feat(scene): the MNI guide draws the Harvard-Oxford and Cerebellum atlases
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tit/scene/guide-mni/PROVENANCE.md
  tit/scene/guide-mni/labels/Cerebellum-MNIfnirt-maxprob-thr25-1mm.nii.gz.gii
  tit/scene/guide-mni/labels/Cerebellum-MNIfnirt-maxprob-thr25-1mm.nii.gz.tvsc
  tit/scene/guide-mni/labels/HarvardOxford-cort-maxprob-thr25-1mm.nii.gz.gii
  tit/scene/guide-mni/labels/HarvardOxford-cort-maxprob-thr25-1mm.nii.gz.tvsc
  tit/scene/guide-mni/labels/HarvardOxford-sub-maxprob-thr25-1mm.nii.gz.gii
  tit/scene/guide-mni/labels/HarvardOxford-sub-maxprob-thr25-1mm.nii.gz.tvsc
  tit/scene/guide-mni/legends/Cerebellum-MNIfnirt-maxprob-thr25-1mm.nii.gz.json
  tit/scene/guide-mni/legends/HarvardOxford-cort-maxprob-thr25-1mm.nii.gz.json
  tit/scene/guide-mni/legends/HarvardOxford-sub-maxprob-thr25-1mm.nii.gz.json
  tit/scene/guide-mni/manifest.json
  tit/scene/guide-mni/surfaces/atlas-Cerebellum-MNIfnirt-maxprob-thr25-1mm.nii.gz.gii
  tit/scene/guide-mni/surfaces/atlas-Cerebellum-MNIfnirt-maxprob-thr25-1mm.nii.gz.tvsc
  tit/scene/guide-mni/surfaces/atlas-HarvardOxford-cort-maxprob-thr25-1mm.nii.gz.gii
  tit/scene/guide-mni/surfaces/atlas-HarvardOxford-cort-maxprob-thr25-1mm.nii.gz.tvsc
  tit/scene/guide-mni/surfaces/atlas-HarvardOxford-sub-maxprob-thr25-1mm.nii.gz.gii
  tit/scene/guide-mni/surfaces/atlas-HarvardOxford-sub-maxprob-thr25-1mm.nii.gz.tvsc
Due: none

test(e2e): the Ex editor's Add ROI is reached through Saved, and an atlas listbox is closed before the editor is
  desktop/tests/e2e/roi-mni-atlas-kind.spec.ts
  desktop/tests/e2e/segmented-idiom.spec.ts
Due: none

fix(paths): every user-supplied name is validated at the boundary and joined through one recognised containment check
  tests/test_catalog_v1.py
  tests/test_guide_routes.py
  tests/test_mask_upload.py
  tests/test_paths.py
  tests/test_request_name_validation.py
  tests/test_scene_routes.py
  tit/catalog.py
  tit/jobs/eta.py
  tit/jobs/registry.py
  tit/mesh_identity.py
  tit/opt/candidate_catalog.py
  tit/paths.py
  tit/pre/utils.py
  tit/scene/build.py
  tit/server/notebooks.py
  tit/server/routes/catalog.py
  tit/server/routes/catalog_v1.py
  tit/server/routes/files.py
  tit/server/routes/guide.py
  tit/server/routes/jobs.py
  tit/server/routes/plan.py
  tit/server/routes/scene.py
  tit/server/routes/target_preview.py
  tit/server/routes/viewer_library.py
  tit/server/routes/viewers.py
  tit/server/schemas.py
  tit/sim/montage_sources.py
  tit/viewspec.py
Due: simulator, optimizer, preprocessing

docs: ADR 33 -- path validation at the boundary; the sanitizer contract and the CodeQL counts
  dev/security/SECURITY_MASTER_DOCUMENT.md
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
Due: none

cleanup readme
  README.md
Due: none

fix(analyzer): voxel cortical atlas resolution maps surface ids to volume parcellations, keeps hemisphere
  desktop/src/renderer/pages/analyzer/buildConfig.ts
  desktop/tests/unit/analyzer-defaults.test.ts
  tests/test_analyzer_full.py
  tit/analyzer/analyzer.py
Due: analyzer

fix(desktop): job folder button opens the output folder, not the jobs dir
  desktop/src/renderer/app/jobs-rail/JobDetailPane.tsx
  desktop/src/renderer/app/jobs-rail/JobRawLog.tsx
  desktop/src/renderer/app/jobs-rail/artifacts.ts
  desktop/tests/unit/job-artifacts.test.ts
Due: none

fix(examples): example notebook runs on a fresh project, not just the maintainer's dataset
  dev/render_example_notebook.py
  dev/run_example_notebook.sh
  docs/dev/AUTOMATION.md
  docs/dev/TESTING.md
  docs/wiki/example-notebook.md
  tests/test_example_notebook_api.py
  tit/server/examples/example_workflow.ipynb
Due: none

jobs: missing inputs are refused at submission with a named path and a fix
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  tests/test_jobs_preflight.py
  tests/test_jobs_routes.py
  tit/jobs/preflight.py
  tit/server/routes/jobs.py
  tit/server/schemas.py
Due: none

desktop: a refused submission shows every missing input, its path and the fix
  desktop/src/renderer/api/client.ts
  desktop/src/renderer/pages/analyzer/AnalyzerPage.tsx
  desktop/src/renderer/pages/analyzer/submitBatch.ts
  desktop/src/renderer/pages/optimizer/index.tsx
  desktop/src/renderer/pages/panels/cluster-permutation/index.tsx
  desktop/src/renderer/pages/panels/nifti-group-average/index.tsx
  desktop/src/renderer/pages/panels/nilearn-visuals/index.tsx
  desktop/src/renderer/pages/panels/source/index.tsx
  desktop/src/renderer/pages/panels/visual-exporter/index.tsx
  desktop/src/renderer/pages/preprocess/index.tsx
  desktop/src/renderer/pages/simulator/RunControls.tsx
  desktop/src/renderer/ui/Toast.tsx
  desktop/src/renderer/ui/components.css
  desktop/tests/unit/missing-inputs-notice.test.tsx
Due: none

desktop: one scene.png per scene, the 3D pane when the scene has a mesh, no job-result.json left behind
  desktop/src/main/roiPlates.test.ts
  desktop/src/main/roiPlates.ts
  desktop/src/renderer/app/jobs-rail/artifacts.ts
Due: none

analyzer: one scene per analysis, field masked to ROI over translucent anatomy
  desktop/src/renderer/pages/analyzer/PARITY.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/analyzer.md
  tests/numerical/test_analysis_scene.py
  tests/numerical/test_analyzer_masks.py
  tests/numerical/test_roi_confirmation.py
  tests/test_analyzer_full.py
  tests/test_analyzer_modules.py
  tests/test_plotting.py
  tests/test_viewspec_scene.py
  tit/analyzer/analyzer.py
  tit/analyzer/scene.py
  tit/analyzer/visualizer.py
  tit/figures/__init__.py
  tit/figures/roi_plate.py
  tit/plotting/__init__.py
  tit/plotting/focality.py
  tit/roi_confirmation.py
  tit/viewspec.py
Due: analyzer, plotting

chore(gitignore): ignore tit.atlas.segstats' own labels cache
  .gitignore
Due: none

feat(examples): add flex-search goal comparison study on ernie
  examples/studies/flex_goals_ernie/README.md
  examples/studies/flex_goals_ernie/build_configs.py
  examples/studies/flex_goals_ernie/configs/lhippo_mean.json
  examples/studies/flex_goals_ernie/configs/lhippo_mean_ratio.json
  examples/studies/flex_goals_ernie/configs/lhippo_roc_adapt.json
  examples/studies/flex_goals_ernie/configs/lhippo_roc_fixed.json
  examples/studies/flex_goals_ernie/configs/lhippo_tf_w0.json
  examples/studies/flex_goals_ernie/configs/lhippo_tf_w1.json
  examples/studies/flex_goals_ernie/configs/thalamus_mean.json
  examples/studies/flex_goals_ernie/configs/thalamus_mean_ratio.json
  examples/studies/flex_goals_ernie/configs/thalamus_roc_adapt.json
  examples/studies/flex_goals_ernie/configs/thalamus_roc_fixed.json
  examples/studies/flex_goals_ernie/configs/thalamus_tf_w0.json
  examples/studies/flex_goals_ernie/configs/thalamus_tf_w1.json
  examples/studies/flex_goals_ernie/flex_goals_ernie.ipynb
  examples/studies/flex_goals_ernie/run_all.sh
Due: none

desktop: blocked-submission toast is short and auto-dismisses; Details opens the full list in a dialog
  desktop/src/renderer/ui/Toast.tsx
  desktop/src/renderer/ui/components.css
  desktop/tests/unit/missing-inputs-notice.test.tsx
Due: none

desktop: every page terminal's folder button reveals the job's output folder, not its log bookkeeping folder
  desktop/src/renderer/pages/_shared/run/JobTerminal.tsx
  desktop/src/renderer/ui/Jobs.tsx
  desktop/tests/unit/run-jobTerminal-reveal.test.tsx
Due: none

analyzer: every analysis folder writes histogram.png, the ROI's field against the whole grey matter
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/analyzer.md
  tests/numerical/test_analyzer_masks.py
  tests/test_analyzer_full.py
  tests/test_analyzer_modules.py
  tit/analyzer/analyzer.py
  tit/analyzer/visualizer.py
Due: analyzer

examples: the notebook's project root is one literal edited line, no env-var lookup
  dev/run_example_notebook.sh
  docs/wiki/example-notebook.md
  tests/test_example_notebook_api.py
  tit/server/examples/example_workflow.ipynb
Due: none

analyzer: histogram is the whole-head distribution coloured by ROI fraction again, legend said once; long error toasts clip to a Details dialog
  desktop/src/renderer/pages/analyzer/AnalyzerPage.tsx
  desktop/src/renderer/ui/Toast.tsx
  desktop/src/renderer/ui/components.css
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/analyzer.md
  tit/analyzer/visualizer.py
Due: analyzer

notebooks: long cell output is condensed by default to a 24-row tail with a Show all toggle
  desktop/src/renderer/pages/notebooks/Outputs.tsx
  desktop/src/renderer/pages/notebooks/notebooks.css
  desktop/tests/unit/notebook-output-condensed.test.tsx
Due: none

desktop: a finished job refreshes every page's input lists immediately
  desktop/src/renderer/app/Shell.tsx
  desktop/src/renderer/app/jobs/invalidation.ts
  desktop/src/renderer/pages/optimizer/index.tsx
  desktop/tests/unit/job-completion-invalidation.test.ts
Due: none

tit: public scripting API has NumPy docstrings, complete hints and __all__ so help() and IDE completion are useful
  tit/analyzer/analyzer.py
  tit/analyzer/group.py
  tit/calc.py
  tit/opt/__init__.py
  tit/opt/config.py
  tit/opt/ex/ex.py
  tit/opt/flex/flex.py
  tit/opt/mex/mex.py
  tit/paths.py
  tit/pre/structural.py
  tit/sim/__init__.py
  tit/sim/config.py
  tit/sim/utils.py
  tit/stats/config.py
  tit/stats/permutation.py
Due: simulator, analyzer, optimizer, stats, preprocessing

pre: FastSurfer no longer dies on a stale native-host heartbeat, and the FreeSurfer license is pasted once in Settings
  contracts/generated/config.schema.json
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/pages/preprocess/PreprocessSteps.tsx
  desktop/src/renderer/pages/settings/FreeSurferLicense.tsx
  desktop/src/renderer/pages/settings/SurferSettingsCard.tsx
  desktop/src/renderer/pages/settings/api.ts
  desktop/tests/mock-server/contract.test.ts
  desktop/tests/mock-server/server.mjs
  desktop/tests/unit/freesurfer-license-ui.test.tsx
  desktop/tests/unit/native-fastsurfer-ui.test.tsx
  desktop/tests/unit/preprocess-defaults.test.ts
  desktop/tests/unit/settings-warm-cache.test.tsx
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/fastsurfer.md
  docs/wiki/pre-processing.md
  docs/wiki/troubleshooting.md
  tests/test_freesurfer_license.py
  tests/test_native_fastsurfer.py
  tests/test_pre_freesurfer.py
  tit/jobs/preflight.py
  tit/pre/freesurfer.py
  tit/pre/native_fastsurfer.py
  tit/pre/preflight.py
  tit/pre/qsi/docker_builder.py
  tit/server/routes/surfer_settings.py
  tit/surfer_settings.py
Due: preprocessing

desktop: the Plan panel is gone; the action bar counts the jobs Run will submit
  desktop/src/renderer/pages/_shared/run/JobTerminal.tsx
  desktop/src/renderer/pages/_shared/run/PlanGrid.tsx
  desktop/src/renderer/pages/_shared/run/RunPanel.tsx
  desktop/src/renderer/pages/_shared/run/index.ts
  desktop/src/renderer/pages/_shared/run/planModel.ts
  desktop/src/renderer/pages/_shared/run/run.css
  desktop/src/renderer/pages/analyzer/AnalyzerPage.tsx
  desktop/src/renderer/pages/optimizer/index.tsx
  desktop/src/renderer/pages/preprocess/index.tsx
  desktop/src/renderer/pages/simulator/index.tsx
  desktop/src/renderer/ui/Chrome.tsx
  desktop/tests/e2e/analyzer.spec.ts
  desktop/tests/e2e/batch.spec.ts
  desktop/tests/e2e/optimizer.spec.ts
  desktop/tests/e2e/preprocess.spec.ts
  desktop/tests/e2e/real/analyzer-mesh.spec.ts
  desktop/tests/e2e/real/analyzer-voxel.spec.ts
  desktop/tests/e2e/real/ex.spec.ts
  desktop/tests/e2e/real/flex-result-selection.spec.ts
  desktop/tests/e2e/real/flex.spec.ts
  desktop/tests/e2e/real/mex.spec.ts
  desktop/tests/e2e/real/montage-shape.spec.ts
  desktop/tests/e2e/real/nifti-group-average.spec.ts
  desktop/tests/e2e/real/preprocess.spec.ts
  desktop/tests/e2e/real/sim-mti.spec.ts
  desktop/tests/e2e/real/sim.spec.ts
  desktop/tests/e2e/selection.spec.ts
  desktop/tests/e2e/simulator.spec.ts
  desktop/tests/unit/run-planModel.test.ts
  desktop/tests/unit/run-terminalSources.test.ts
Due: none

flex: the job console names each setup stage once and prints one line per candidate
  resources/map-electrodes/tes_flex_optimization.py
  tests/test_logger.py
  tests/test_opt_flex.py
  tit/logger.py
  tit/opt/flex/flex.py
Due: optimizer

opt: an MNI atlas label is warped into subject space in seconds, once per subject
  docs/dev/CHANGELOG.md
  tests/numerical/test_mni_warp.py
  tests/test_custom_mask_config.py
  tests/test_opt_flex_utils.py
  tit/opt/ex/roi.py
  tit/opt/flex/utils.py
  tit/opt/masks.py
  tit/roi_confirmation.py
Due: optimizer

jobs: CPU and memory are sampled over the job's process tree and a finished job keeps its peak and average; the Jobs table drops STAGE
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/app/jobs-rail/JobDetailPane.tsx
  desktop/src/renderer/app/jobs-rail/JobsTable.tsx
  desktop/src/renderer/app/jobs-rail/format.ts
  desktop/src/renderer/app/jobs-rail/jobs-rail.css
  desktop/tests/mock-server/contract.test.ts
  desktop/tests/mock-server/server.mjs
  desktop/tests/unit/jobs-table.test.tsx
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/test_jobs_manager.py
  tests/test_jobs_model.py
  tests/test_jobs_runner.py
  tit/jobs/manager.py
  tit/jobs/runner.py
  tit/jobs/spec.py
Due: none

jobs: the Jobs page, the rail and the Summary draw a job row from one column model; the page table loses STAGE too
  desktop/src/renderer/app/jobs-rail/JobDetailPane.tsx
  desktop/src/renderer/app/jobs-rail/JobsTable.tsx
  desktop/src/renderer/app/jobs-rail/columns.tsx
  desktop/src/renderer/app/jobs-rail/format.ts
  desktop/src/renderer/app/jobs-rail/jobs-rail.css
  desktop/src/renderer/pages/jobs/JobsSelectionTable.tsx
  desktop/tests/unit/jobs-row-model.test.tsx
Due: none

jobs: the Artifacts tab lists the output folder from disk, and the Jobs table's CPU/RSS columns fit their numbers at every width
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/app/jobs-rail/JobDetailPane.tsx
  desktop/src/renderer/app/jobs-rail/api.ts
  desktop/src/renderer/app/jobs-rail/format.ts
  desktop/src/renderer/app/jobs-rail/jobs-rail.css
  desktop/src/renderer/pages/jobs/jobs-page.css
  desktop/src/renderer/pages/overview/recentModel.ts
  desktop/tests/e2e/jobs-columns.spec.ts
  desktop/tests/e2e/jobs.spec.ts
  desktop/tests/mock-server/contract.test.ts
  desktop/tests/mock-server/server.mjs
  desktop/tests/unit/jobs-table.test.tsx
  desktop/tests/unit/overview-recent-jobs.test.ts
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/test_integration_flows.py
  tests/test_jobs_routes.py
  tit/catalog.py
  tit/jobs/manager.py
  tit/server/routes/jobs.py
  tit/sim/__main__.py
  tit/sim/base.py
Due: simulator

docs: record release-note ownership exception
  AGENTS.md
Due: none

fix(docs): rebuild search from current source pages
  docs/.gitignore
  docs/_plugins/search_generator.rb
  docs/search/search.json
Due: none

docs(site): replace retired Markdown stubs with redirects
  docs/_data/redirects.yml
  docs/_plugins/redirect_generator.rb
  docs/gallery/v2.md
  docs/wiki/gui.md
  docs/wiki/testing-pipeline.md
Due: none

docs(ci): remove the stale CircleCI duplicate
  .circleci/README_CIRCLECI.md
Due: none

docs(analyzer): remove the stale package-level duplicate
  tit/analyzer/README.md
Due: analyzer

docs(site): installation sources live with the user guides
  README.md
  container/blueprint/README.md
  desktop/tests/e2e/browser-mode.spec.ts
  docs/_config.yml
  docs/_data/redirects.yml
  docs/dev/RELEASING.md
  docs/installation/troubleshooting.md
  docs/wiki/installation-cli.md
  docs/wiki/installation-dependencies.md
  docs/wiki/installation-hpc.md
  docs/wiki/installation-linux.md
  docs/wiki/installation-macos.md
  docs/wiki/installation-windows.md
  docs/wiki/installation.md
  docs/wiki/troubleshooting.md
  tests/test_launch.py
Due: none

docs(site): about and search sources live with the user guides
  docs/README.md
  docs/_config.yml
  docs/wiki/about.md
  docs/wiki/search.md
Due: none

docs(privacy): telemetry policy has one current home
  dev/telemetry/README.md
  docs/_data/nav.yml
  docs/dev/AUTOMATION.md
  docs/wiki/telemetry.md
Due: none

docs(container): keep only the current local blueprint contract
  container/blueprint/README.md
Due: none

fix(docs): keep generated search JSON out of Liquid
  docs/_plugins/search_generator.rb
Due: none

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
