Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer

Release v2.2.1
  package/assets/icon.ico
Due: none

Release v2.2.1
  package/package.json
Due: none

Release v2.2.1
  .github/workflows/release-build.yml
  README.md
  docs/installation/macos.md
  docs/installation/windows.md
  docs/releases/changelog.md
  docs/releases/releases.md
  package/package.json
Due: none

Release v2.2.1
  .github/workflows/release-build.yml
  docs/installation/macos.md
  package/package.json
Due: none

removed statment about executables
  docs/installation/installation.md
Due: none

Update package dependencies and configuration for notarization
  package/package.json
Due: none

Refactor notarization configuration and update package dependencies
  .github/workflows/release-build.yml
  package/.gitignore
  package/package-lock.json
Due: none

removed statment about executables
  docs/releases/releases.md
Due: none

removed electron desktop intallation until finalized
  docs/installation/macos.md
  docs/installation/windows.md
Due: none

Add macOS build files for notarization
  .gitignore
  package/build/entitlements.mac.plist
  package/build/notarize.js
Due: none

fixing executable GUI launcher by removing faulty path
  package/docker/docker-compose.yml
Due: none

automatic updating of current version for correct notification of users
  dev/update/update_version.py
  package/src/main.js
  ti-toolbox/__init__.py
Due: none

1h cache instead of 24h
  README.md
Due: none

removed irrelevant statment after notatization
  README.md
Due: none

reintroducing desktop app approaches
  docs/installation/installation.md
Due: none

reintroducing desktop app approaches
  dev/update/update_version.py
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.2.1.md
Due: none

reduces sidebar width
  docs/assets/css/wiki.css
Due: none

fixing freeview crash
  docker-compose.yml
  package/docker/docker-compose.yml
Due: none

better error handling and env setup coming from Electron
  package/src/backend/docker-manager.js
  package/src/backend/project-service.js
  package/src/index.html
  package/src/styles.css
Due: none

reintroducing desktop app approaches
  docs/installation/linux.md
  docs/installation/macos.md
  docs/installation/windows.md
Due: none

added electron to contribution list
  docs/about/about.md
Due: none

more sensible way of developing w/o conflicts
  dev/bash_dev/docker-compose.dev.yml
Due: none

small cleanups
  ti-toolbox/core/constants.py
  ti-toolbox/core/nifti.py
  ti-toolbox/opt/ex/ex_analyzer.py
Due: core, optimizer

added infor regarding new ex-search with current ratio optimization
  docs/_includes/head.html
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.2.1.md
Due: none

cleaned imports
  resources/map-electrodes/tes_flex_optimization.py
  ti-toolbox/3d_exporter/TI_quick_volumetic.py
  ti-toolbox/analyzer/main_analyzer.py
  ti-toolbox/benchmark/bench_runner.py
  ti-toolbox/core/mesh.py
  ti-toolbox/gui/main.py
  ti-toolbox/new_project/first_time_user.py
  ti-toolbox/opt/ex/ex_analyzer.py
  ti-toolbox/opt/flex/flex.py
  ti-toolbox/opt/flex/flex_config.py
  ti-toolbox/opt/flex/multi_start.py
  ti-toolbox/opt/roi.py
  ti-toolbox/opt/ti_calculations.py
  ti-toolbox/sim/TI.py
  ti-toolbox/sim/mTI.py
  ti-toolbox/tools/field_extract.py
Due: core, simulator, analyzer, optimizer

continuing to clean imports
  ti-toolbox/3d_exporter/cortical_regions_to_ply.py
  ti-toolbox/3d_exporter/cortical_regions_to_stl.py
Due: none

updated the 3d_exporter
  ti-toolbox/3d_exporter/TI_quick_volumetic.py
  ti-toolbox/3d_exporter/region_ply_exporter.py
  ti-toolbox/3d_exporter/region_stl_exporter.py
  ti-toolbox/3d_exporter/vector_field_exporter.py
Due: none

continued import cleanup
  ti-toolbox/opt/ex/ex_analyzer.py
  ti-toolbox/opt/ex/ti_sim.py
  ti-toolbox/stats/atlas_utils.py
  ti-toolbox/stats/cluster_permutation.py
  ti-toolbox/stats/io_utils.py
  ti-toolbox/stats/posthoc_atlas_analysis.py
  ti-toolbox/stats/stats_utils.py
  ti-toolbox/stats/visualization.py
Due: optimizer

continued import cleanup
  ti-toolbox/opt/flex/flex_config.py
  ti-toolbox/opt/flex/flex_log.py
  ti-toolbox/opt/flex/multi_start.py
Due: optimizer

continued import cleanup
  ti-toolbox/analyzer/compare_analyses.py
  ti-toolbox/analyzer/csv_group_comparator.py
  ti-toolbox/analyzer/mesh_analyzer.py
  ti-toolbox/analyzer/visualizer.py
  ti-toolbox/analyzer/voxel_analyzer.py
Due: analyzer

changed flex.roi to flex.utils
  ti-toolbox/opt/flex/__init__.py
  ti-toolbox/opt/flex/utils.py
Due: optimizer

cleaned core
  ti-toolbox/core/calc.py
  ti-toolbox/core/roi.py
  ti-toolbox/gui/ex_search_tab.py
  ti-toolbox/opt/ti_calculations.py
Due: core, optimizer

update to movea
  ti-toolbox/cli/movea.sh
  ti-toolbox/gui/movea_tab.py
  ti-toolbox/opt/movea/__init__.py
  ti-toolbox/opt/movea/main.py
  ti-toolbox/opt/movea/montage_formatter.py
  ti-toolbox/opt/movea/optimizer.py
  ti-toolbox/opt/movea/visualizer.py
Due: optimizer

updated tests according to latest changes
  tests/test_calc.py
  tests/test_ex_search_integration.bats
  tests/test_flex_search.py
  tests/test_movea_optimizer.py
Due: none

corrected naming given latest changes
  ti-toolbox/3d_exporter/region_ply_exporter.py
  ti-toolbox/3d_exporter/vector_field_exporter.py
  ti-toolbox/gui/extensions/visual_exporter.py
Due: none

added note as within the toolbox
  docs/wiki/movea-opt.md
Due: none

reintroducing executables
  docs/index.md
Due: none

Path conditions:
  core: any of: ti-toolbox/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, ti-toolbox/gui/**, ti-toolbox/blender/**, ti-toolbox/tools/visualization_util.py, dev/**, docs/**
  simulator: any of: ti-toolbox/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, ti-toolbox/gui/**, ti-toolbox/blender/**, ti-toolbox/tools/visualization_util.py, dev/**, docs/**
  analyzer: any of: ti-toolbox/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, ti-toolbox/gui/**, ti-toolbox/blender/**, ti-toolbox/tools/visualization_util.py, dev/**, docs/**
  optimizer: any of: ti-toolbox/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, ti-toolbox/gui/**, ti-toolbox/blender/**, ti-toolbox/tools/visualization_util.py, dev/**, docs/**
