Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "tit/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "tit/blender/**"     # Blender scripts (require Blender)
  - "tit/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - tit/core/
    carryforward: true

  simulator:
    paths:
      - tit/sim/
    carryforward: true

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: true

  optimizer:
    paths:
      - tit/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

codecov.yml:

# Codecov Configuration for TI-Toolbox
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage report settings
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Coverage for individual patches/PRs
    patch:
      default:
        target: 65%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Component-specific coverage flags
# These match the flags passed in CircleCI: -F unittests,core,simulator,analyzer,optimizer
flags:
  unittests:
    paths:
      - tests/
    carryforward: false

  core:
    paths:
      - tit/core/
    carryforward: false
    target: 80%

  simulator:
    paths:
      - tit/sim/
    carryforward: false
    target: 70%

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: false
    target: 75%

  optimizer:
    paths:
      - tit/opt/
    carryforward: false
    target: 65%

  stats:
    paths:
      - tit/stats/
    carryforward: false
    target: 60%

  plotting:
    paths:
      - tit/plotting/
    carryforward: false
    target: 60%

  preprocessing:
    paths:
      - tit/pre/
    carryforward: false
    target: 60%

# Files to ignore in coverage reports
ignore:
  - "**/__pycache__"
  - "**/*.pyc"
  - "**/test_*.py"
  - "tests/**"
  - "setup.py"
  - "version.py"
  - "**/gui/**"  # GUI code is harder to test in headless environments
  - "**/__init__.py"  # Init files are often just imports

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - master

# GitHub status checks configuration
github_checks:
  annotations: true

removed mTI opt for now.
  tit/opt/__init__.py
Due: optimizer

multi-subject examples
  scripts/analyzer.py
  scripts/leadfield.py
  scripts/optimizer.py
  scripts/pipeline.py
  scripts/preprocess.py
  scripts/simulator.py
Due: none

correct naming of electrode thickness
  scripts/pipeline.py
  scripts/simulator.py
  tit/constants.py
  tit/gui/components/electrode_config.py
  tit/gui/simulator_tab.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/manifest.py
  tit/reporting/generators/simulation.py
  tit/sim/TI.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator, optimizer

new tool to be used in simulator pipeline
  tit/reporting/README.md
  tit/sim/TI.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
  tit/tools/mesh2nii.py
  tit/tools/mesh2nii_loop.sh
Due: simulator

added steam_handler and also cleaned up some packages loading
  scripts/analyzer.py
  scripts/optimizer.py
  scripts/pipeline.py
  scripts/preprocess.py
  scripts/simulator.py
  tit/__init__.py
  tit/analyzer/__main__.py
  tit/logger.py
  tit/opt/__init__.py
  tit/opt/ex/__init__.py
  tit/opt/ex/__main__.py
  tit/opt/flex/__main__.py
  tit/pre/__main__.py
  tit/sim/__main__.py
  tit/sim/utils.py
  tit/stats/__init__.py
  tit/stats/__main__.py
  tit/tools/__init__.py
Due: simulator, analyzer, optimizer, stats, preprocessing

corrected atlas in charm
  tit/pre/charm.py
Due: preprocessing

updated ci/cd of both testing suite and mkdocs
  .circleci/README_CIRCLECI.md
  .circleci/config.yml
  codecov.yml
  docs/api_mkdocs/docs/getting-started.md
  docs/api_mkdocs/docs/index.md
  docs/api_mkdocs/docs/javascripts/mathjax.js
  docs/api_mkdocs/docs/reference/.gitkeep
  docs/api_mkdocs/docs/reference/analyzer.md
  docs/api_mkdocs/docs/reference/core.md
  docs/api_mkdocs/docs/reference/opt.md
  docs/api_mkdocs/docs/reference/sim.md
  docs/api_mkdocs/docs/reference/stats.md
  docs/api_mkdocs/docs/scripts/gen_ref_pages.py
  docs/api_mkdocs/mkdocs.yml
  docs/api_mkdocs/requirements.txt
  docs/build-api.sh
  tests/run_tests.sh
Due: none

updated ci/cd of both testing suite and mkdocs
  .circleci/config.yml
  tests/run_tests.sh
Due: none

updated ci/cd of both testing suite and mkdocs
  .circleci/config.yml
  docs/api_mkdocs/docs/getting-started.md
  docs/api_mkdocs/mkdocs.yml
Due: none

fixed path for codecov
  .circleci/config.yml
Due: none

automation of mkdocs and codecov continued
  .circleci/config.yml
  .github/workflows/deploy-docs.yml
Due: none

fix(ci): use official Codecov binary and fix repo slug casing
  .circleci/config.yml
Due: none

cleaned up todos
  TODO.md
Due: none

fix(ci): remove invalid 'target' fields from codecov flag definitions
  codecov.yml
Due: none

corrected serve bash for docs
  docs/serve.sh
  docs/wiki/pre-processing.md
Due: none

moved code blocks to scripting page
  docs/wiki/analyzer.md
  docs/wiki/cli.md
  docs/wiki/cluster-permutation-testing.md
  docs/wiki/ex-search.md
  docs/wiki/flex-search.md
  docs/wiki/pre-processing.md
  docs/wiki/python_env.md
  docs/wiki/scripting.md
  docs/wiki/simulator.md
  docs/wiki/wiki.md
Due: none

moved code blocks to scripting page
  docs/_layouts/wiki.html
  docs/search/search.json
Due: none

moved code blocks to scripting page
  docs/wiki/gui.md
  docs/wiki/scripting.md
Due: none

moved code blocks to scripting page
  docs/wiki/scripting.md
Due: none

unit test in tit/
  codecov.yml
Due: none

added guard to fail if codecov is missing
  .circleci/config.yml
Due: none

trying to fix path to coverage.xml
  .circleci/config.yml
Due: none

ignoring tracks
  .gitignore
Due: none

Streamline CI/CD Pipelin
  .circleci/config.yml
  codecov.yml
Due: none

Streamline CI/CD Pipelin
  .circleci/config.yml
  .circleci/fix_coverage_paths.py
Due: none

Added sudo chown before the Python script run
  .circleci/config.yml
Due: none

smart caching of docker image for testing in circleCI
  .circleci/config.yml
Due: none

coverage for pre and opt
  tests/test_opt_builder.py
  tests/test_opt_engine.py
  tests/test_opt_ex.py
  tests/test_opt_flex.py
  tests/test_opt_flex_utils.py
  tests/test_opt_leadfield.py
  tests/test_opt_main.py
  tests/test_opt_pareto.py
  tests/test_opt_results.py
  tests/test_pre_charm.py
  tests/test_pre_dicom.py
  tests/test_pre_main.py
  tests/test_pre_qsi_config.py
  tests/test_pre_qsi_docker.py
  tests/test_pre_qsi_dti.py
  tests/test_pre_qsi_prep.py
  tests/test_pre_qsi_recon.py
  tests/test_pre_qsi_utils.py
  tests/test_pre_recon_all.py
  tests/test_pre_tissue.py
  tests/test_pre_utils_full.py
Due: none

dataset descriptions
  resources/dataset_descriptions/freesurfer.dataset_description.json
  resources/dataset_descriptions/root.dataset_description.json
  resources/dataset_descriptions/simnibs.dataset_description.json
  resources/dataset_descriptions/ti-toolbox.dataset_description.json
Due: none

correct font sizing in GUI
  tit/gui/style.py
Due: none

updated help tab in GUI
  tit/gui/help_tab.py
Due: none

GUI would not load, no tit.cli
  container/blueprint/apptainer.def
  dev/loader/docker-compose.dev.yml
  docs/installation/hpc-apptainer.md
  package/docker/loader.sh
  package/src/backend/docker-manager.js
Due: none

Analysis Tissue selection didn't work
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/analyzer/group.py
  tit/gui/analyzer_tab.py
  tit/paths.py
Due: analyzer

Update test_analyzer_full.py
  tests/test_analyzer_full.py
Due: none

added two additional options for mTI field calculations
  tests/test_calc.py
  tests/test_sim_pipeline.py
  tit/calc.py
  tit/gui/simulator_tab.py
  tit/sim/__init__.py
  tit/sim/__main__.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator
