Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

corrected mni2subjects import given simnibs 4.6.0
  tests/test_analyzer_full.py
  tit/analyzer/analyzer.py
  tit/blender/region_exporter.py
  tit/gui/extensions/visual_exporter.py
Due: analyzer

fixing 4.6.0 changes
  tests/test_analyzer_full.py
  tit/analyzer/analyzer.py
  tit/blender/region_exporter.py
  tit/gui/extensions/visual_exporter.py
Due: analyzer

UI bug - fix U/M updating
  tit/gui/simulator_tab.py
Due: none

v2.3.0 release
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.0.md
Due: none

corrected api building script to use correctly UV
  docs/build-api.sh
  uv.lock
Due: none

updating API docs
  docs/api/getting-started/index.html
  docs/api/index.html
  docs/api/objects.inv
  docs/api/pipeline/analysis/index.html
  docs/api/pipeline/optimization/index.html
  docs/api/pipeline/preprocessing/index.html
  docs/api/pipeline/reporting/index.html
  docs/api/pipeline/simulation/index.html
  docs/api/reference/tit/analyzer/analyzer/index.html
  docs/api/reference/tit/analyzer/group/index.html
  docs/api/reference/tit/analyzer/index.html
  docs/api/reference/tit/opt/ex/ex/index.html
  docs/api/reference/tit/opt/ex/index.html
  docs/api/reference/tit/opt/flex/flex/index.html
  docs/api/reference/tit/opt/flex/index.html
  docs/api/reference/tit/opt/flex/manifest/index.html
  docs/api/reference/tit/opt/index.html
  docs/api/reference/tit/reporting/core/assembler/index.html
  docs/api/reference/tit/reporting/core/index.html
  docs/api/reference/tit/reporting/generators/flex_search/index.html
  docs/api/reference/tit/reporting/generators/index.html
  docs/api/reference/tit/reporting/generators/preprocessing/index.html
  docs/api/reference/tit/reporting/generators/simulation/index.html
  docs/api/reference/tit/reporting/index.html
  docs/api/reference/tit/reporting/reportlets/index.html
  docs/api/reference/tit/reporting/reportlets/references/index.html
  docs/api/reference/tit/sim/TI/index.html
  docs/api/reference/tit/sim/mTI/index.html
  docs/api/search/search_index.json
  docs/api_mkdocs/docs/getting-started.md
  docs/api_mkdocs/docs/index.md
  docs/api_mkdocs/docs/pipeline/analysis.md
  docs/api_mkdocs/docs/pipeline/optimization.md
  docs/api_mkdocs/docs/pipeline/preprocessing.md
  docs/api_mkdocs/docs/pipeline/reporting.md
  docs/api_mkdocs/docs/pipeline/simulation.md
Due: none

docs
  docs/api/pipeline/core/index.html
  docs/api/search/search_index.json
  docs/api_mkdocs/docs/pipeline/core.md
  docs/search/search.json
  docs/wiki/blender.md
Due: none

Update field_selector.py
  tit/analyzer/field_selector.py
Due: analyzer

added mTI field measure using directional AM from joint E-field
  tests/test_calc.py
  tit/calc.py
  tit/gui/simulator_tab.py
  tit/sim/config.py
  tit/sim/mTI.py
Due: simulator

clean up for main, only keeping full field amplitude as additional mTI measure
  tests/test_calc.py
  tit/calc.py
  tit/gui/simulator_tab.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator

removed dangling reference from refactor GUI flex tab crashing
  tit/gui/flex_search_tab.py
Due: none

squashed a couple little bugs
  tests/test_opt_flex_utils.py
  tit/gui/analyzer_tab.py
  tit/gui/ex_search_tab.py
  tit/gui/flex_search_tab.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/utils.py
Due: optimizer

added simnibs log handler
  tit/opt/ex/__main__.py
  tit/opt/ex/ex.py
  tit/opt/flex/__main__.py
  tit/opt/flex/flex.py
  tit/pre/__main__.py
  tit/sim/__main__.py
  tit/sim/utils.py
Due: simulator, optimizer, preprocessing

All other modules are consistent — they either use get_fix path manager bug
  tests/test_pre_main.py
  tit/pre/__main__.py
Due: preprocessing

dynamic charm forceform for opinionated new 4.6.0 version
  tit/pre/charm.py
Due: preprocessing

accepting both .nii and .nii.gz
  tit/pre/utils.py
Due: preprocessing

estored the -m <m2m_dir> flag that SimNIBS 4.6 expects. We had removed it in a prior commit but 4.6 still requires it.
  tit/pre/charm.py
Due: preprocessing

removed console text colors for now.
  tests/test_pre_charm.py
  tit/gui/analyzer_tab.py
  tit/gui/components/console.py
  tit/gui/ex_search_tab.py
  tit/gui/flex_search_tab.py
  tit/gui/pre_process_tab.py
  tit/gui/simulator_tab.py
Due: none

updated nifti viewer to default on jet and allowed for multiple metrics to be simulated
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/calc.py
  tit/constants.py
  tit/gui/analyzer_tab.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/simulator_tab.py
  tit/sim/__main__.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator, analyzer

correct roi picker stipping issue that effected MMP atlas only
  tit/gui/components/roi_picker.py
Due: none

fixed simnibs 4.6.0 atlas bug by added a patch
  container/blueprint/Dockerfile.simnibs
  container/blueprint/Dockerfile.simnibs.dev
  container/blueprint/apptainer.def
  resources/atlas2subject/patch_atlas2subject.py
  tests/test_analyzer_full.py
  tit/analyzer/analyzer.py
  tit/analyzer/visualizer.py
Due: analyzer

fixed issue with dicom2nifti conversion
  tit/pre/dicom2nifti.py
  tit/pre/structural.py
Due: preprocessing

Labeling -> labeling
  docs/api_mkdocs/docs/pipeline/core.md
  scripts/test_mesh_analyzer.py
  tests/test_paths.py
  tit/paths.py
  tit/pre/tissue_analyzer.py
Due: preprocessing

CI/CD — Allow Windows/Linux releases when macOS fails
  .github/workflows/release-build.yml
Due: none

correct packing paths to reflect new simnibs version 4.6.0
  container/blueprint/Dockerfile.simnibs.dev
  container/blueprint/Dockerfile.test
  container/blueprint/apptainer.def
  docs/wiki/python_env.md
  docs/wiki/testing-pipeline.md
  package/src/backend/docker-manager.js
Due: none

resolved an incorrect timeout logic
  package/src/backend/docker-manager.js
  package/src/main.js
Due: none

charm.py fix passing str(m2m_dir) as the positional arg
  tit/pre/charm.py
Due: preprocessing

charm.py fix passing str(m2m_dir) as the positional arg
  tests/test_pre_charm.py
Due: none

charm.py fix passing str(m2m_dir) as the positional arg patch
  resources/subject_atlas/patch_subject_atlas.py
Due: none

ti-ana-blend path and i/o streamlining
  container/blueprint/Dockerfile.simnibs
  scripts/blender.py
  tests/test_analyzer_full.py
  tests/test_analyzer_modules.py
  tests/test_atlas_coverage.py
  tests/test_blender_config.py
  tests/test_blender_integration.py
  tests/test_sim_pipeline.py
  tests/test_sim_utils.py
  tit/analyzer/analyzer.py
  tit/atlas/mesh.py
  tit/blender/__main__.py
  tit/blender/config.py
  tit/blender/electrode_placement.py
  tit/blender/montage_publication.py
  tit/blender/region_exporter.py
  tit/blender/vector_field_exporter.py
  tit/gui/extensions/visual_exporter.py
  tit/sim/TI.py
  tit/sim/base.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator, analyzer

fix path to .blend
  scripts/integration_test.py
  tit/blender/montage_publication.py
Due: none

patching new simnibs bugs
  container/blueprint/Dockerfile.simnibs
  resources/patches/patch_nan_to_num.py
Due: none

cleaned up release docs
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.0.md
Due: none

remove tissue suffix from output folder names, cache resampled atlases
  tests/test_analyzer_full.py
  tests/test_analyzer_modules.py
  tests/test_paths.py
  tit/analyzer/analyzer.py
  tit/gui/analyzer_tab.py
  tit/paths.py
Due: analyzer

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
