Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "tit/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "tit/blender/**"     # Blender scripts (require Blender)
  - "tit/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - tit/core/
    carryforward: true

  simulator:
    paths:
      - tit/sim/
    carryforward: true

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: true

  optimizer:
    paths:
      - tit/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

codecov.yml:

# Codecov Configuration for TI-Toolbox
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage report settings
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Coverage for individual patches/PRs
    patch:
      default:
        target: 65%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Component-specific coverage flags
# These match the flags passed in CircleCI: -F unittests,core,simulator,analyzer,optimizer
flags:
  unittests:
    paths:
      - tests/
    carryforward: false

  core:
    paths:
      - tit/core/
    carryforward: false
    target: 80%

  simulator:
    paths:
      - tit/sim/
    carryforward: false
    target: 70%

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: false
    target: 75%

  optimizer:
    paths:
      - tit/opt/
    carryforward: false
    target: 65%

  stats:
    paths:
      - tit/stats/
    carryforward: false
    target: 60%

  plotting:
    paths:
      - tit/plotting/
    carryforward: false
    target: 60%

  preprocessing:
    paths:
      - tit/pre/
    carryforward: false
    target: 60%

# Files to ignore in coverage reports
ignore:
  - "**/__pycache__"
  - "**/*.pyc"
  - "**/test_*.py"
  - "tests/**"
  - "setup.py"
  - "version.py"
  - "**/gui/**"  # GUI code is harder to test in headless environments
  - "**/__init__.py"  # Init files are often just imports

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - master

# GitHub status checks configuration
github_checks:
  annotations: true

docs(site): landing page opens with one vertical How-it-works flow
  docs/assets/css/style.scss
  docs/index.md
Due: none

docs(site): How-it-works cards match the carousel height and link outward
  docs/assets/css/style.scss
  docs/index.md
Due: none

feat(optimizer): reciprocity search is a third method on the Optimizer page
  desktop/src/renderer/pages/_shared/run/planModel.ts
  desktop/src/renderer/pages/_shared/run/terminalSources.ts
  desktop/src/renderer/pages/optimizer/JobRows.tsx
  desktop/src/renderer/pages/optimizer/PARITY.md
  desktop/src/renderer/pages/optimizer/RecipSections.tsx
  desktop/src/renderer/pages/optimizer/cost.ts
  desktop/src/renderer/pages/optimizer/index.tsx
  desktop/src/renderer/pages/optimizer/plan.ts
  desktop/src/renderer/pages/optimizer/recipConfig.ts
  desktop/src/renderer/pages/optimizer/rows.ts
  desktop/src/renderer/pages/results/api.ts
  desktop/src/renderer/pages/results/outputsTree.ts
  desktop/src/renderer/pages/results/useOutputs.ts
  desktop/tests/e2e/optimizer.spec.ts
  desktop/tests/unit/optimizer-recip-sections.test.tsx
  desktop/tests/unit/optimizer-recip.test.ts
  desktop/tests/unit/optimizer-rows.test.ts
Due: none

feat(opt): reciprocity search picks a montage from the leadfield, no solve
  contracts/CHANGES.md
  contracts/generated/config.schema.json
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  docs/_data/nav.yml
  docs/dev/ARCHITECTURE.md
  docs/dev/DECISIONS.md
  docs/wiki/reciprocity-search.md
  docs/wiki/wiki.md
  tests/smoke/matrix.py
  tests/test_config_schema.py
  tests/test_recip_search.py
  tit/catalog.py
  tit/config_io.py
  tit/constants.py
  tit/jobs/config_check.py
  tit/jobs/costs.py
  tit/jobs/eta.py
  tit/jobs/kinds.py
  tit/jobs/locks.py
  tit/jobs/plans.py
  tit/jobs/spec.py
  tit/opt/__init__.py
  tit/opt/candidate_catalog.py
  tit/opt/config.py
  tit/opt/recip/__init__.py
  tit/opt/recip/__main__.py
  tit/opt/recip/engine.py
  tit/opt/recip/recip.py
  tit/opt/recip/results.py
  tit/paths.py
  tit/server/routes/catalog_v1.py
  tit/server/routes/overview.py
  tit/server/routes/plan.py
  tit/server/routes/validate.py
Due: optimizer

fix(opt): four-channel reciprocity defaults that leave candidates to evaluate
  docs/dev/CHANGELOG.md
  docs/wiki/reciprocity-search.md
  tests/test_recip_search.py
  tit/jobs/eta.py
  tit/opt/config.py
  tit/opt/recip/engine.py
  tit/server/routes/plan.py
Due: optimizer

fix(optimizer): the reciprocity UI reads the generated contract, not a local copy
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/pages/optimizer/PARITY.md
  desktop/src/renderer/pages/optimizer/RecipSections.tsx
  desktop/src/renderer/pages/optimizer/cost.ts
  desktop/src/renderer/pages/optimizer/plan.ts
  desktop/src/renderer/pages/optimizer/recipConfig.ts
  desktop/src/renderer/pages/results/api.ts
  desktop/src/renderer/pages/results/outputsTree.ts
  desktop/src/renderer/pages/results/useOutputs.ts
  desktop/tests/e2e/optimizer.spec.ts
  desktop/tests/unit/optimizer-recip-sections.test.tsx
  desktop/tests/unit/optimizer-recip.test.ts
  docs/dev/DECISIONS.md
Due: none

fix(loader): --dev silently switched the UI to the browser
  CONTRIBUTING.md
  dev/launch-electron.sh
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/dev/notes/v3-dev-loop-scene-mni-plan.md
  loader.sh
  tests/test_desktop_bootstrap.py
  tests/test_electron_loader_handoff.py
  tit/cli.py
Due: none

fix(optimizer): Ex and mEx rows never showed the live scene pane
  desktop/src/renderer/pages/_shared/scene/TargetPreview.tsx
  desktop/src/renderer/pages/optimizer/index.tsx
  desktop/tests/e2e/roi-idiom.spec.ts
  desktop/tests/unit/target-preview.test.tsx
  docs/dev/CHANGELOG.md
Due: none

fix(roi): charm's labeling.nii.gz islands were part of the optimised target
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/numerical/test_roi_islands.py
  tit/analyzer/analyzer.py
  tit/atlas/islands.py
  tit/opt/ex/roi.py
  tit/opt/flex/utils.py
  tit/scene/volume_surfaces.py
Due: analyzer, optimizer

fix(optimizer): a fresh Ex row targets a subcortical region, so the scene pane draws
  desktop/src/renderer/pages/optimizer/rows.ts
  desktop/tests/unit/optimizer-rows.test.ts
Due: none

test(optimizer): saved targets are opted into now that Ex rows start subcortical
  desktop/tests/e2e/optimizer.spec.ts
  desktop/tests/e2e/roi-idiom.spec.ts
Due: none

fix(optimizer): an Ex row fills its leadfield by itself, or offers to generate one
  desktop/src/renderer/pages/optimizer/index.tsx
  desktop/tests/e2e/optimizer.spec.ts
  docs/dev/CHANGELOG.md
Due: none

docs(plan): lane D revised with the one-space-two-controls decision and MNI rendering
  docs/dev/notes/v3-dev-loop-scene-mni-plan.md
Due: none

feat(roi): one space per ROI, two controls that cannot disagree
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/pages/_shared/roi/RoiPicker.tsx
  desktop/src/renderer/pages/_shared/roi/types.ts
  desktop/src/renderer/pages/_shared/scene/ScenePane.tsx
  desktop/src/renderer/pages/_shared/scene/TargetPreview.tsx
  desktop/src/renderer/pages/_shared/scene/api.ts
  desktop/src/renderer/pages/_shared/scene/queries.ts
  desktop/src/renderer/pages/_shared/scene/scene-pane.css
  desktop/src/renderer/pages/_shared/scene/targetPreviewModel.ts
  desktop/src/renderer/pages/analyzer/AnalyzerPage.tsx
  desktop/src/renderer/pages/optimizer/exConfig.ts
  desktop/src/renderer/pages/optimizer/index.tsx
  desktop/src/renderer/ui/SegmentedControl.tsx
  desktop/tests/unit/analyzer-defaults.test.ts
  desktop/tests/unit/optimizer-flexconfig.test.ts
  desktop/tests/unit/optimizer-roi.test.ts
  desktop/tests/unit/optimizer-rows.test.ts
  desktop/tests/unit/optimizer-subjects.test.ts
  desktop/tests/unit/roi-space.test.tsx
  desktop/tests/unit/target-preview.test.tsx
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/test_guide_routes.py
  tit/scene/guide.py
  tit/server/routes/guide.py
Due: none

feat(roi): an MNI ROI is transformed and shown before the job runs
  tests/numerical/test_roi_confirmation.py
  tit/analyzer/analyzer.py
  tit/opt/ex/ex.py
  tit/opt/ex/roi.py
  tit/opt/flex/flex.py
  tit/opt/mex/mex.py
  tit/roi_confirmation.py
Due: analyzer, optimizer

refactor(loader): one loader; --dev is a bind mount, loader_dev is gone
  CONTRIBUTING.md
  agent-plugin/mcp/server.py
  container/blueprint/entrypoint.ti-toolbox.sh
  dev/launch-electron.sh
  dev/loader/loader_dev.py
  dev/loader/loader_dev.sh
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/desktop-app.md
  docs/wiki/development.md
  docs/wiki/troubleshooting.md
  loader.sh
  tests/test_bash_loader_lifecycle.py
  tests/test_desktop_bootstrap.py
  tests/test_electron_loader_handoff.py
  tests/test_launch.py
  tests/test_loader_interactive.py
  tests/test_portable_dev_loader.py
  tit/cli.py
  tit/launch.py
Due: none

fix(loader): bash --dev now reaches Electron, so the checkout is really mounted
  docs/dev/CHANGELOG.md
  loader.sh
  tests/test_electron_loader_handoff.py
Due: none

feat(scene): a packaged MNI152 guide, and a floor that cannot empty a region
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/pages/_shared/scene/ScenePane.tsx
  desktop/tests/mock-server/server.mjs
  pyproject.toml
  resources/atlas/README.md
  tests/numerical/test_roi_islands.py
  tests/test_guide_routes.py
  tit/atlas/islands.py
  tit/scene/guide-mni/PROVENANCE.md
  tit/scene/guide-mni/labels/CIT168_labeling_MNI152NLin2009cAsym.nii.gz.gii
  tit/scene/guide-mni/labels/CIT168_labeling_MNI152NLin2009cAsym.nii.gz.tvsc
  tit/scene/guide-mni/labels/MorelMNI152_labeling_1mm.nii.gz.gii
  tit/scene/guide-mni/labels/MorelMNI152_labeling_1mm.nii.gz.tvsc
  tit/scene/guide-mni/labels/massp2021-parcellation_decade-18to40.nii.gz.gii
  tit/scene/guide-mni/labels/massp2021-parcellation_decade-18to40.nii.gz.tvsc
  tit/scene/guide-mni/legends/CIT168_labeling_MNI152NLin2009cAsym.nii.gz.json
  tit/scene/guide-mni/legends/MorelMNI152_labeling_1mm.nii.gz.json
  tit/scene/guide-mni/legends/massp2021-parcellation_decade-18to40.nii.gz.json
  tit/scene/guide-mni/manifest.json
  tit/scene/guide-mni/nets/EEG10-10_Cutini_2011.csv.json
  tit/scene/guide-mni/nets/EEG10-10_Neuroelectrics.csv.json
  tit/scene/guide-mni/nets/EEG10-10_UI_Jurak_2007.csv.json
  tit/scene/guide-mni/nets/EEG10-20_Okamoto_2004.csv.json
  tit/scene/guide-mni/nets/EEG10-20_extended_SPM12.csv.json
  tit/scene/guide-mni/nets/easycap_BC_TMS64_X21.csv.json
  tit/scene/guide-mni/surfaces/atlas-CIT168_labeling_MNI152NLin2009cAsym.nii.gz.gii
  tit/scene/guide-mni/surfaces/atlas-CIT168_labeling_MNI152NLin2009cAsym.nii.gz.tvsc
  tit/scene/guide-mni/surfaces/atlas-MorelMNI152_labeling_1mm.nii.gz.gii
  tit/scene/guide-mni/surfaces/atlas-MorelMNI152_labeling_1mm.nii.gz.tvsc
  tit/scene/guide-mni/surfaces/atlas-massp2021-parcellation_decade-18to40.nii.gz.gii
  tit/scene/guide-mni/surfaces/atlas-massp2021-parcellation_decade-18to40.nii.gz.tvsc
  tit/scene/guide-mni/surfaces/gm.gii
  tit/scene/guide-mni/surfaces/gm.tvsc
  tit/scene/guide-mni/surfaces/skin.gii
  tit/scene/guide-mni/surfaces/skin.tvsc
  tit/scene/guide_build.py
Due: none

chore: example scripts move to examples/scripts; two one-off dev scripts removed
  agent-plugin/mcp/server.py
  agent-plugin/skills/ti-scripting/SKILL.md
  dev/flex_candidate_replay.py
  dev/visualize_skin_region_margin.py
  docs/dev/BENCHMARKS.md
  docs/dev/CHANGELOG.md
  examples/README.md
  examples/scripts/analyzer.py
  examples/scripts/blender.py
  examples/scripts/cluster_permutation.py
  examples/scripts/ex.py
  examples/scripts/flex.py
  examples/scripts/leadfield.py
  examples/scripts/pipeline.py
  examples/scripts/preprocess.py
  examples/scripts/simulator.py
  tests/test_scripts.py
Due: none

feat(scene): the pane draws the subject, and says which head it is showing
  desktop/src/renderer/pages/_shared/scene/ScenePane.tsx
  desktop/src/renderer/pages/_shared/scene/TargetPreview.tsx
  desktop/src/renderer/pages/_shared/scene/scene-pane.css
  desktop/src/renderer/pages/analyzer/PARITY.md
  desktop/src/renderer/pages/optimizer/PARITY.md
  desktop/tests/e2e/guide.spec.ts
  desktop/tests/e2e/scene-errors.spec.ts
  desktop/tests/e2e/scene-pane.spec.ts
  desktop/tests/e2e/scene-space.spec.ts
  docs/dev/CHANGELOG.md
  tit/roi_confirmation.py
Due: none

ui(scene): the Subject/MNI switch shares the atlas toolbar line
  desktop/src/renderer/pages/_shared/scene/ScenePane.tsx
  desktop/src/renderer/pages/_shared/scene/TargetPreview.tsx
  desktop/src/renderer/pages/_shared/scene/scene-pane.css
Due: none

feat(optimizer): the Ex leadfield's cap is drawn on the head, coloured by bucket
  desktop/src/renderer/pages/_shared/scene/ScenePane.tsx
  desktop/src/renderer/pages/_shared/scene/TargetPreview.tsx
  desktop/src/renderer/pages/optimizer/ExSections.tsx
  desktop/src/renderer/pages/optimizer/JobRows.tsx
  desktop/src/renderer/pages/optimizer/PARITY.md
  desktop/src/renderer/pages/optimizer/buckets.ts
  desktop/src/renderer/pages/optimizer/index.tsx
  desktop/src/renderer/pages/optimizer/optimizer.css
  desktop/src/renderer/ui/ChannelLegend.tsx
  desktop/tests/e2e/scene-pane.spec.ts
  desktop/tests/unit/optimizer-buckets.test.ts
  docs/dev/CHANGELOG.md
Due: none

feat(figures): every optimization and analysis leaves an ROI plate, centred and filling the view
  desktop/src/main/index.ts
  desktop/src/main/jobsNotifier.ts
  desktop/src/main/roiPlates.test.ts
  desktop/src/main/roiPlates.ts
  desktop/src/renderer/pages/analyzer/PARITY.md
  desktop/src/renderer/pages/optimizer/PARITY.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/numerical/conftest.py
  tests/numerical/test_roi_confirmation.py
  tests/numerical/test_roi_plate.py
  tit/analyzer/analyzer.py
  tit/figures/__init__.py
  tit/figures/roi_plate.py
  tit/opt/ex/ex.py
  tit/opt/ex/roi.py
  tit/opt/flex/flex.py
  tit/opt/mex/mex.py
  tit/roi_confirmation.py
Due: analyzer, optimizer

docs(notes): Tetravox integration options and the gaps the ROI plates hit
  docs/dev/notes/tetravox-integration-options.md
Due: none

fix(figures): cortical .annot targets get a plate, and a union of regions is one plate
  docs/dev/CHANGELOG.md
  tests/numerical/test_roi_confirmation.py
  tit/roi_confirmation.py
Due: none

feat(analyzer): sphere and cortical analyses leave the ROI plate, one colour per region
  docs/dev/CHANGELOG.md
  tit/analyzer/analyzer.py
Due: analyzer

feat(analyzer): sphere and cortical analyses leave the ROI plate, one colour per region
  tit/analyzer/analyzer.py
Due: analyzer

feat(atlas): every shipped MNI atlas declares its kind, and an MNI label is warped into the subject before anything else touches it
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/pages/_shared/roi/RoiPicker.tsx
  desktop/src/renderer/pages/_shared/roi/api.ts
  desktop/tests/e2e/roi-mni-atlas-kind.spec.ts
  desktop/tests/fixtures/atlases.json
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/atlases.md
  resources/atlas/README.md
  resources/atlas/manifest.json
  tests/test_atlas_manifest.py
  tests/test_catalog_v1.py
  tests/test_opt_flex_utils.py
  tit/atlas/__init__.py
  tit/atlas/constants.py
  tit/atlas/manifest.py
  tit/atlas/voxel.py
  tit/catalog.py
  tit/opt/flex/utils.py
  tit/opt/masks.py
  tit/viewspec.py
Due: optimizer

feat(figures): an ROI leaves one scene file that points at the data, not six copies of it
  desktop/src/main/roiPlates.test.ts
  desktop/src/main/roiPlates.ts
  desktop/src/renderer/app/jobs-rail/artifacts.ts
  desktop/src/renderer/app/openInViewer.ts
  desktop/src/renderer/pages/analyzer/PARITY.md
  desktop/src/renderer/pages/optimizer/PARITY.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/numerical/conftest.py
  tests/numerical/test_roi_confirmation.py
  tests/numerical/test_roi_plate.py
  tit/analyzer/analyzer.py
  tit/figures/__init__.py
  tit/figures/roi_plate.py
  tit/roi_confirmation.py
Due: analyzer

feat(overview): the project's front door lists the jobs it ran, and a row leads to their results
  desktop/src/renderer/pages/overview/RecentJobs.tsx
  desktop/src/renderer/pages/overview/index.tsx
  desktop/src/renderer/pages/overview/overview.css
  desktop/src/renderer/pages/overview/recentModel.ts
  desktop/tests/e2e/overview-recent-jobs.spec.ts
  desktop/tests/unit/overview-recent-jobs.test.ts
  docs/dev/CHANGELOG.md
Due: none

fix(jobs): a finished job's log was empty because the console asked a real server for events "since -1"
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/app/jobs-rail/api.ts
  desktop/tests/mock-server/server.mjs
  desktop/tests/unit/job-events-since.test.ts
Due: none

fix(jobs): a running job's console lost the middle of its log once 500 events had passed
  desktop/src/renderer/app/jobs/jobsStream.ts
  desktop/tests/unit/job-log-ring-gap.test.ts
Due: none

fix(jobs): the Summary tab's console excerpt froze seconds before the job it describes ended
  desktop/src/renderer/app/jobs-rail/JobDetailPane.tsx
  desktop/tests/unit/job-detail-excerpt-key.test.ts
Due: none

fix(jobs): scrolling back in a log turns Follow off instead of being undone by the next line
  desktop/src/renderer/ui/Jobs.tsx
  desktop/src/renderer/ui/VirtualList.tsx
  desktop/tests/unit/job-console.test.tsx
  desktop/tests/unit/virtual-list-follow.test.tsx
Due: none

docs(changelog): the four jobs-log defects fixed for v3.0.0, and the e2e that walks the Raw log
  desktop/tests/e2e/jobs-log-follow.spec.ts
  docs/dev/CHANGELOG.md
Due: none

test(e2e): a real-server spec walks a finished job's Raw log, its excerpt and Follow
  desktop/tests/e2e/real/jobs-log.spec.ts
Due: none

refactor(paths): every regenerable cache lives in one hidden .ti-toolbox/ at the project root
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/numerical/test_dot_cache_layout.py
  tests/test_custom_mask_config.py
  tests/test_paths.py
  tests/test_scene_cache.py
  tests/test_scene_storage_safety.py
  tit/opt/flex/utils.py
  tit/paths.py
  tit/scene/__init__.py
  tit/scene/cache.py
  tit/server/routes/scene.py
  tit/storage.py
  tit/viewspec.py
Due: optimizer

fix(plan): the CPUs, threads and duration a plan shows are the ones the run gets
  desktop/src/renderer/pages/_shared/run/PlanGrid.tsx
  desktop/tests/e2e/preprocess.spec.ts
  desktop/tests/unit/run-planModel.test.ts
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/test_cpu.py
  tests/test_plan_accuracy.py
  tests/test_plan_routes.py
  tit/cpu.py
  tit/jobs/costs.py
  tit/jobs/eta.py
  tit/jobs/runner.py
  tit/jobs/scheduler.py
  tit/opt/ex/parallel.py
  tit/opt/flex/flex.py
  tit/pre/qsi/utils.py
  tit/server/routes/plan.py
  tit/surfer_settings.py
Due: optimizer, preprocessing

test(e2e): seed the mock job after the window exists, and assert the real server accepts the console's backlog
  desktop/tests/e2e/jobs-log-follow.spec.ts
  desktop/tests/e2e/real/jobs-log.spec.ts
Due: none

test(e2e): eight specs described the previous UI; the offscreen gate is green again
  desktop/src/renderer/pages/results/index.tsx
  desktop/tests/e2e/page-memory.spec.ts
  desktop/tests/e2e/results-panes.spec.ts
  desktop/tests/e2e/results.spec.ts
  desktop/tests/e2e/segmented-idiom.spec.ts
  desktop/tests/e2e/settings.spec.ts
  desktop/tests/e2e/smoke.spec.ts
  desktop/tests/fixtures/optimization_candidates.json
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
Due: none
