Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

small changes to pass tests
  tit/pre/common.py
  tit/pre/structural.py
Due: preprocessing

removed pre omit from codecov
  .coveragerc
Due: none

removed pre omit from codecov
  .circleci/config.yml
  .codecov.yml
  .coveragerc
Due: none

removed redundan
  .coveragerc
Due: none

added some docstrings
  tit/pre/recon_all.py
Due: preprocessing

qsiprep & qsirecon init
  container/blueprint/Dockerfile.simnibs
  dev/bash_dev/docker-compose.dev.yml
  docker-compose.yml
  tests/test_qsi_config.py
  tests/test_qsi_docker_builder.py
  tit/cli/pre_process.py
  tit/core/constants.py
  tit/core/paths.py
  tit/gui/pre_process_tab.py
  tit/pre/__init__.py
  tit/pre/qsi/__init__.py
  tit/pre/qsi/config.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/dti_extractor.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/qsirecon.py
  tit/pre/qsi/utils.py
  tit/pre/structural.py
Due: core, preprocessing

added atlas argument to qsirecon for connectivity spec
  tit/pre/qsi/qsirecon.py
  tit/pre/structural.py
Due: preprocessing

removed xauthority
  docker-compose.yml
Due: none

updated loader x11 handling, init paths and new DOI
  dev/bash_dev/loader_dev.py
  dev/bash_dev/loader_dev.sh
  loader.py
  loader.sh
  package/ARCHITECTURE.md
  package/src/main.js
  resources/dataset_descriptions/root.dataset_description.json
  tit/core/paths.py
  tit/project_init/README.md
  tit/project_init/first_time_user.py
  tit/project_init/initializer.py
Due: core

changed hyperlink to point directly to 2.7.7
  docs/installation/macos.md
Due: none

solved DTI conversion and added wiki docs
  docs/_layouts/wiki.html
  docs/wiki/diffusion-processing.md
  docs/wiki/pre-processing.md
  docs/wiki/simulator.md
  docs/wiki/wiki.md
  tit/pre/qsi/__init__.py
  tit/pre/qsi/dti_extractor.py
Due: preprocessing

added qsiprep/recon/dti tests and fixed preprocess failed tests
  tests/run_tests.sh
  tests/test_loader.py
  tests/test_pre_structural.py
  tests/test_qsi_config.py
  tests/test_qsi_dti_extractor.py
  tests/test_qsi_qsiprep.py
  tests/test_qsi_qsirecon.py
  tests/test_qsi_utils.py
Due: none

Merge branch 'main' of github.com:idossha/TI-toolbox
  tests/test_qsi_dti_extractor.py
Due: none

added qsi related tracking in the system monitor tan
  tit/gui/system_monitor_tab.py
Due: none

moved all tissue analyzer from tools to pre/ and cleaned it up
  tit/benchmark/tissue_analyzer.py
  tit/pre/tissue_analyzer.py
  tit/tools/tissue_analyzer.py
Due: preprocessing

combined dicon2nifti and fix t2 scripts
  tit/pre/dicom2nifti.py
  tit/pre/fix_t2_filenames.py
Due: preprocessing

combined dicon2nifti and fix t2 scripts
  tit/pre/__init__.py
Due: none

reporting
  tests/test_flex_report_integration.py
  tests/test_pre_dicom2nifti.py
  tests/test_pre_fix_t2.py
  tests/test_pre_structural.py
  tests/test_pre_tissue_analyzer.py
  tests/test_reporting_generators.py
  tests/test_reporting_preprocessing_generator.py
  tests/test_reporting_report_util.py
  tests/test_reporting_simulation_generator.py
  tests/test_simulator_outputs.bats
  tests/test_tools_tissue_analyzer.py
  tit/gui/simulator_tab.py
  tit/opt/flex/flex.py
  tit/pre/structural.py
  tit/reporting/README.md
  tit/reporting/__init__.py
  tit/reporting/bash_reporting.sh
  tit/reporting/core/__init__.py
  tit/reporting/core/assembler.py
  tit/reporting/core/base.py
  tit/reporting/core/protocols.py
  tit/reporting/core/templates.py
  tit/reporting/generators/__init__.py
  tit/reporting/generators/base_generator.py
  tit/reporting/generators/flex_search.py
  tit/reporting/generators/preprocessing.py
  tit/reporting/generators/simulation.py
  tit/reporting/preprocessing_report_generator.py
  tit/reporting/report_util.py
  tit/reporting/reportlets/__init__.py
  tit/reporting/reportlets/images.py
  tit/reporting/reportlets/metadata.py
  tit/reporting/reportlets/references.py
  tit/reporting/reportlets/text.py
  tit/reporting/simulation_report_generator.py
  tit/sim/simulator.py
Due: simulator, optimizer, preprocessing

updated references in new reporting approach
  tit/reporting/generators/base_generator.py
  tit/reporting/generators/flex_search.py
  tit/reporting/reportlets/references.py
Due: none

cleaned up keys
  tit/reporting/reportlets/references.py
Due: none

cleaned up dependencies from previous versions
  pyproject.toml
  version.py
Due: none

better detection and configuration of DooD resources
  tit/gui/pre_process_tab.py
  tit/pre/qsi/config.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/qsirecon.py
  tit/pre/qsi/utils.py
  tit/pre/structural.py
Due: preprocessing

todo
  TODO.md
Due: none

unofficial dev loader
  docs/wiki/diffusion-processing.md
Due: none

removed some unnecessary ties
  tit/ml/responder/train.py
Due: none

added apptainer approach to the container/blueprint still needs to be tested
  container/blueprint/README.md
  container/blueprint/apptainer.def
  container/blueprint/apptainer_run.sh
Due: none

trying to solve freeview
  container/blueprint/apptainer.def
Due: none

another try
  container/blueprint/apptainer.def
Due: none

working singularity
  container/blueprint/apptainer.def
Due: none

added docs to support singularity
  docs/installation/hpc-apptainer.md
  docs/installation/installation.md
Due: none

added to left navbar
  docs/_layouts/installation.html
Due: none

tightened preprocessing file inputs to avoid infiltration of dot files which broke steps
  tit/pre/charm.py
  tit/pre/dicom2nifti.py
  tit/pre/recon_all.py
Due: preprocessing

updated tests given latest preprocess changes to file inputs
  tests/test_pre_charm.py
  tests/test_pre_dicom2nifti.py
  tests/test_pre_recon_all.py
Due: none

GUI redesign and new batch simulator approach
  tit/gui/acknowledgments_tab.py
  tit/gui/analyzer_tab.py
  tit/gui/components/console.py
  tit/gui/ex_search_tab.py
  tit/gui/flex_search_tab.py
  tit/gui/main.py
  tit/gui/optimizer_tab.py
  tit/gui/pre_process_tab.py
  tit/gui/simulator_tab.py
  tit/gui/style.py
  tit/gui/system_monitor_tab.py
Due: none

cleanup todos
  TODO.md
Due: none

ignore more agentic stuff
  .gitignore
Due: none

continue to improve UI
  tit/gui/__init__.py
  tit/gui/acknowledgments_tab.py
  tit/gui/components/console.py
  tit/gui/ex_search_tab.py
  tit/gui/extensions/quick_notes.py
  tit/gui/extensions/visual_exporter.py
  tit/gui/flex_search_tab.py
  tit/gui/graphics_config.py
  tit/gui/main.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/optimizer_tab.py
  tit/gui/pre_process_tab.py
  tit/gui/settings_menu.py
  tit/gui/simulator_tab.py
  tit/gui/style.py
  tit/gui/system_monitor_tab.py
Due: none

continue to improve UI #2
  tit/gui/components/console.py
  tit/gui/nifti_viewer_tab.py
Due: none

added to do
  TODO.md
Due: none

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
