Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "tit/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "tit/blender/**"     # Blender scripts (require Blender)
  - "tit/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - tit/core/
    carryforward: true

  simulator:
    paths:
      - tit/sim/
    carryforward: true

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: true

  optimizer:
    paths:
      - tit/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

codecov.yml:

# Codecov Configuration for TI-Toolbox
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage report settings
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Coverage for individual patches/PRs
    patch:
      default:
        target: 65%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Component-specific coverage flags
# These match the flags passed in CircleCI: -F unittests,core,simulator,analyzer,optimizer
flags:
  unittests:
    paths:
      - tests/
    carryforward: false

  core:
    paths:
      - tit/core/
    carryforward: false
    target: 80%

  simulator:
    paths:
      - tit/sim/
    carryforward: false
    target: 70%

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: false
    target: 75%

  optimizer:
    paths:
      - tit/opt/
    carryforward: false
    target: 65%

  stats:
    paths:
      - tit/stats/
    carryforward: false
    target: 60%

  plotting:
    paths:
      - tit/plotting/
    carryforward: false
    target: 60%

  preprocessing:
    paths:
      - tit/pre/
    carryforward: false
    target: 60%

# Files to ignore in coverage reports
ignore:
  - "**/__pycache__"
  - "**/*.pyc"
  - "**/test_*.py"
  - "tests/**"
  - "setup.py"
  - "version.py"
  - "**/gui/**"  # GUI code is harder to test in headless environments
  - "**/__init__.py"  # Init files are often just imports

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - master

# GitHub status checks configuration
github_checks:
  annotations: true

feat(opt/flex): add Pareto threshold-grid sweep module
  tit/opt/flex/__init__.py
  tit/opt/flex/pareto_sweep.py
Due: optimizer

feat(gui): add Pareto Sweep mode to focality optimization
  tit/gui/flex_search_tab.py
Due: none

fix(pareto-sweep): catch empty-ROI error and block invalid subject-space coordinates
  tests/test_pareto_empty_roi.py
  tit/gui/flex_search_tab.py
  tit/opt/flex/multi_start.py
  tit/opt/flex/utils.py
Due: optimizer

added the massp2021 nuclei atlas and temp removed HOS as it gave errors
  resources/atlas/HOS-thr0-1mm.nii.gz
  resources/atlas/HOS-thr0-1mm.txt
  resources/atlas/HarvardOxford-sub-maxprob-thr0-1mm.nii.gz
  resources/atlas/HarvardOxford-sub-maxprob-thr0-1mm.txt
  resources/atlas/massp2021-parcellation_decade-18to40.nii.gz
  resources/atlas/massp2021_labels.txt
Due: none

cleaned up release links
  dev/update/update_version.py
Due: none

corrected hypterlinks on website for direct download of releases
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.2.1.md
  docs/releases/v2.2.2.md
  docs/releases/v2.2.3.md
  docs/releases/v2.2.4.md
Due: none

All three template functions (update_releases_page, update_changelog_file, create_individual_version_file) now use this format. The existing docs for past versions remain unchanged.
  dev/update/update_version.py
Due: none

added option to select wm/gm/both to the flex-search
  tit/gui/flex_search_tab.py
  tit/opt/flex/utils.py
Due: optimizer

updated version of simnibs and freesurfer
  container/blueprint/Dockerfile.freesurfer
  container/blueprint/Dockerfile.simnibs
Due: none

cleaned up update_version.py
  dev/update/update_version.py
  tit/gui/components/add_montage_dialog.py
  tit/gui/components/conductivity_dialog.py
Due: none

freesurfer 8.1.0
  dev/bash_dev/docker-compose.dev.yml
Due: none

corrected new path for freesurfer wget
  container/blueprint/Dockerfile.freesurfer
Due: none

moved some files towards new release
  dev/bash_dev/docker-compose.dev.yml
  dev/bash_dev/loader_dev.py
  dev/deprecated/config_sys.sh
  dev/deprecated/loader.sh
  dev/deprecated/loader_dev.sh
  docker-compose.yml
  loader.py
Due: none

added subcortical nuceli segmentation of hippo and thala
  tit/pre/recon_all.py
Due: preprocessing

feat(pareto-sweep): promote best run, output-folder override, and montage display fix
  tit/gui/flex_search_tab.py
  tit/gui/simulator_tab.py
  tit/opt/flex/flex_config.py
  tit/opt/flex/pareto_sweep.py
Due: optimizer

Feature/focality pareto sweep (#75)
  tests/test_pareto_empty_roi.py
  tit/gui/flex_search_tab.py
  tit/gui/simulator_tab.py
  tit/opt/flex/__init__.py
  tit/opt/flex/flex_config.py
  tit/opt/flex/multi_start.py
  tit/opt/flex/pareto_sweep.py
  tit/opt/flex/utils.py
Due: optimizer

moved loader dev
  dev/loader/docker-compose.dev.yml
  dev/loader/loader_dev.py
Due: none

new scripting approach instead of cli
  scripts/analyzer.py
  scripts/blender.py
  scripts/optimizer.py
  scripts/preprocess.py
  scripts/simulator.py
Due: none

cleaner simulator
  tit/sim/README.md
  tit/sim/TI.py
  tit/sim/__init__.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/montage_loader.py
  tit/sim/post_processor.py
  tit/sim/session_builder.py
  tit/sim/simulator.py
  tit/sim/subprocess_runner.py
  tit/sim/utils.py
  tit/sim/visualize-montage.sh
Due: simulator

cleaner simualtor approach and some extra fat trimming
  scripts/simulator.py
  tit/__init__.py
  tit/cli/advanced/batch_simulate.py
  tit/cli/simulator.py
  tit/constants.py
  tit/core/__init__.py
  tit/gui/simulator_tab.py
  tit/paths.py
  tit/plotting/_common.py
  tit/pre/charm.py
  tit/sim/TI.py
  tit/sim/mTI.py
  tit/sim/utils.py
  tit/tools/field_extract.py
  tit/tools/montage_visualizer.py
  tit/tools/nifti_to_mesh.py
Due: core, simulator, plotting, preprocessing

new preprocess following the same new guidelines
  scripts/preprocess.py
  tit/cli/pre_process.py
  tit/gui/components/__init__.py
  tit/gui/components/add_montage_dialog.py
  tit/gui/components/conductivity_dialog.py
  tit/gui/components/qsi_config_dialogs.py
  tit/gui/pre_process_tab.py
  tit/pre/__init__.py
  tit/pre/utils.py
Due: preprocessing

comments
  tit/sim/TI.py
  tit/sim/config.py
Due: simulator

clean up of extract_labels
  tit/gui/extensions/visual_exporter.py
  tit/tools/extract_labels.py
  tit/tools/montage_visualizer.py
Due: none

working optimizer script
  scripts/optimizer.py
Due: none

corrected freesurfer install
  container/blueprint/Dockerfile.freesurfer
Due: none

remove fsl empty volume
  dev/loader/loader_dev.py
Due: none

removed opt cli scripts
  tit/cli/ex_search.py
  tit/cli/flex_search.py
Due: none

maintained the freesurfer path to be /usr/local/freesurfer/ like documentation requires
  container/blueprint/Dockerfile.freesurfer
Due: none

synthseg does not work on docker desktop on apple silicon
  container/blueprint/Dockerfile.freesurfer.8.1.0
Due: none

downgraded back to 7.4.1 freesurfer
  dev/loader/docker-compose.dev.yml
  docker-compose.yml
Due: none

fixed string vs tuple
  dev/loader/loader_dev.py
Due: none

pm and logger refactor
  tit/__init__.py
  tit/logger.py
  tit/paths.py
  tit/project_init/example_data_manager.py
  tit/project_init/first_time_user.py
  tit/project_init/initializer.py
  tit/reporting/core/base.py
  tit/reporting/core/templates.py
  tit/reporting/generators/base_generator.py
  tit/reporting/generators/simulation.py
  tit/reporting/reportlets/images.py
  tit/reporting/reportlets/metadata.py
  tit/reporting/reportlets/references.py
  tit/reporting/reportlets/text.py
  tit/sim/TI.py
  tit/sim/__init__.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
  tit/stats/permutation_analysis.py
  tit/stats/stats_utils.py
  tit/tools/montage_visualizer.py
  tit/tools/nifti_to_mesh.py
Due: simulator, stats

removed overwrite protection
  tit/core/overwrite.py
Due: core

pm and logger refactor
  tit/plotting/_common.py
  tit/plotting/nilearn/visualizer.py
Due: plotting

simplified leadfield generation signifcantly
  scripts/optimizer.py
  tit/opt/ex/__init__.py
  tit/opt/ex/config.py
  tit/opt/ex/main.py
  tit/opt/leadfield.py
Due: optimizer

opt: remove backward-compat shims, lazy imports, and dead code
  tit/gui/flex_search_tab.py
  tit/opt/__init__.py
  tit/opt/ex/__init__.py
  tit/opt/ex/ex.py
  tit/opt/ex/results.py
  tit/opt/ex/roi_utils.py
  tit/opt/flex/__init__.py
  tit/opt/flex/flex.py
  tit/opt/flex/multi_start.py
  tit/opt/flex/pareto_sweep.py
  tit/opt/flex/utils.py
Due: optimizer

removed benchmarks
  tit/benchmark/README.md
  tit/benchmark/__init__.py
  tit/benchmark/__main__.py
  tit/benchmark/bench_runner.py
  tit/benchmark/charm.py
  tit/benchmark/config.py
  tit/benchmark/core.py
  tit/benchmark/dicom.py
  tit/benchmark/ex_search.py
  tit/benchmark/flex.py
  tit/benchmark/leadfield.py
  tit/benchmark/logger.py
  tit/benchmark/mesh_analyzer.py
  tit/benchmark/recon.py
  tit/benchmark/simulator.py
  tit/benchmark/tissue_analyzer.py
  tit/benchmark/voxel_analyzer.py
Due: none

new ex-search
  tit/opt/__init__.py
  tit/opt/config.py
  tit/opt/ex/__init__.py
  tit/opt/ex/engine.py
  tit/opt/ex/ex.py
  tit/opt/ex/logic.py
  tit/opt/ex/results.py
  tit/opt/ex/roi_utils.py
  tit/opt/ex/runner.py
  tit/opt/leadfield.py
  tit/opt/roi_presets.json
Due: optimizer

small cleanups
  tit/__init__.py
  tit/project_init/example_data_manager.py
  tit/reporting/reportlets/metadata.py
  tit/sim/mTI.py
Due: simulator

small cleanups
  tit/core/__init__.py
  tit/core/errors.py
  tit/core/utils.py
Due: core
