Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

examples: quantitative threshold-sensitivity findings callout
  examples/focality_integral_ernie/make_artifact.py
Due: none

examples: add improved-integral variant objectives + --variants study
  examples/focality_integral_ernie/run_comparison.py
Due: none

examples: arm-agnostic report generators + held-out metrics
  examples/focality_integral_ernie/make_artifact.py
  examples/focality_integral_ernie/make_report.py
Due: none

examples: cohort focality study runner (atlas ROIs, 5 arms x 3 targets)
  examples/focality_cohort/run_study.py
Due: none

fix: rewrite dev loader_dev.sh as a working Python-free bash loader
  dev/deprecated/loader_dev.sh
  dev/freesurfer-volume-versioning.md
  dev/loader/loader_dev.sh
Due: none

examples: use TI-Toolbox default electrode (Ø8 mm, 4 mm gel) in cohort study
  examples/focality_cohort/run_study.py
Due: none

examples: single-subject cohort report + atlas-ROI T1 overlay
  examples/focality_cohort/report_subject.py
  examples/focality_integral_ernie/t1_overlay.py
Due: none

examples: report fixes — progress plot, stacked layout, voxel-aspect, common scale
  examples/focality_cohort/report_subject.py
  examples/focality_integral_ernie/t1_overlay.py
Due: none

examples: single-subject report shows only fully-complete targets
  examples/focality_cohort/report_subject.py
Due: none

examples: joint placement+current-ratio search and constrained/Pareto objective
  examples/focality_cohort/joint_search.py
Due: none

examples: two-stage ratio selection + progress logging in joint search
  examples/focality_cohort/joint_search.py
Due: none

feat(opt): threshold-free focality goal + opt-in current-ratio search
  docs/assets/imgs/flex-search/flex-search_current-ratio.png
  docs/assets/imgs/flex-search/flex-search_objective-comparison.png
  docs/wiki/flex-search.md
  examples/focality_cohort/joint_search.py
  examples/focality_cohort/report_subject.py
  examples/focality_cohort/run_study.py
  examples/focality_integral_ernie/README.md
  examples/focality_integral_ernie/make_artifact.py
  examples/focality_integral_ernie/make_report.py
  examples/focality_integral_ernie/run_comparison.py
  examples/focality_integral_ernie/t1_overlay.py
  tests/test_flex_manifest.py
  tests/test_objectives.py
  tests/test_opt_builder.py
  tests/test_opt_config.py
  tests/test_opt_flex.py
  tests/test_opt_flex_utils.py
  tit/gui/flex_search_tab.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/manifest.py
  tit/opt/flex/objectives.py
Due: optimizer

fix(opt): scale the current split per channel, not per electrode
  tests/test_objectives.py
  tit/opt/flex/objectives.py
Due: optimizer

[Track] flex-search: threshold-free focality goal + opt-in current-ratio search (#139)
  docs/assets/imgs/flex-search/flex-search_current-ratio.png
  docs/assets/imgs/flex-search/flex-search_objective-comparison.png
  docs/wiki/flex-search.md
  tests/test_flex_manifest.py
  tests/test_objectives.py
  tests/test_opt_builder.py
  tests/test_opt_config.py
  tests/test_opt_flex.py
  tests/test_opt_flex_utils.py
  tit/gui/flex_search_tab.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/manifest.py
  tit/opt/flex/objectives.py
  tit/opt/flex/utils.py
Due: optimizer

calc/fields: correct and unify the TI/mTI metric surface
  tests/test_calc.py
  tests/test_calc_mti.py
  tests/test_field_registry.py
  tests/test_fields.py
  tests/test_sim_config.py
  tests/test_sim_pipeline.py
  tit/analyzer/field_selector.py
  tit/blender/vector_field_exporter.py
  tit/calc.py
  tit/constants.py
  tit/fields.py
  tit/gui/analyzer_tab.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/source.py
  tit/source/config.py
  tit/stats/config.py
Due: analyzer, stats

docs: ground the field-metrics note in the literature; restore hf_sar caveat
  docs/notes/ti-field-metrics.html
  tit/fields.py
Due: none

fields: sign-refine the N>8 hf_peak sweep, drop dead _norm
  tests/test_fields.py
  tit/fields.py
Due: none

calc: add TI_avg orientation average and magnitude-AM envelope
  docs/notes/ti-field-metrics.html
  tests/test_calc_mti.py
  tests/test_field_registry.py
  tests/test_sim_pipeline.py
  tit/calc.py
  tit/constants.py
  tit/sim/TI.py
  tit/sim/mTI.py
Due: simulator

sim/analyzer: bring mTI to parity and let the analyzer pick a field
  tests/test_analyzer_modules.py
  tests/test_sim_pipeline.py
  tit/analyzer/field_selector.py
  tit/gui/analyzer_tab.py
  tit/sim/mTI.py
Due: simulator, analyzer

docs: restyle the figures to match the note
  docs/notes/ti-field-metrics.html
Due: none

calc: adopt the Hirata sign-agnostic TI form; absorb the non-metric fixes from PR #136
  tests/README_TESTING.md
  tests/test_calc_mti.py
  tests/test_opt_builder.py
  tests/test_opt_engine.py
  tit/calc.py
  tit/opt/flex/builder.py
Due: optimizer

calc/sim: make carrier grouping explicit; fix description/code mismatches
  tests/test_calc_mti.py
  tests/test_config_io.py
  tests/test_sim_pipeline.py
  tit/blender/vector_field_exporter.py
  tit/calc.py
  tit/constants.py
  tit/fields.py
  tit/gui/extensions/source.py
  tit/sim/TI.py
  tit/sim/__main__.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
  tit/source/__init__.py
  tit/source/config.py
Due: simulator

gui: move current-ratio search into Basic Parameters, help behind an icon
  tit/gui/flex_search_tab.py
Due: none

opt: add the multipolar exhaustive search (tit/opt/mex)
  tests/test_opt_mex.py
  tit/config_io.py
  tit/opt/__init__.py
  tit/opt/config.py
  tit/opt/ex/buckets.py
  tit/opt/ex/results.py
  tit/opt/mex/__init__.py
  tit/opt/mex/__main__.py
  tit/opt/mex/engine.py
  tit/opt/mex/logic.py
  tit/opt/mex/mex.py
  tit/paths.py
Due: optimizer

gui: add a TI/mTI toggle to the ex-search tab
  tests/test_gui_imports.py
  tests/test_opt_config.py
  tit/gui/ex_search_tab.py
  tit/opt/config.py
Due: optimizer

opt: atlas-region and MNI-space ROIs for exhaustive search
  tests/test_opt_config.py
  tests/test_opt_engine.py
  tests/test_opt_ex.py
  tests/test_opt_mex.py
  tit/opt/config.py
  tit/opt/ex/engine.py
  tit/opt/ex/ex.py
  tit/opt/ex/roi.py
  tit/opt/mex/engine.py
  tit/opt/mex/mex.py
Due: optimizer

gui: expose atlas-region and MNI-space ROIs in the ex-search tab
  tests/test_atlas.py
  tests/test_gui_imports.py
  tit/atlas/voxel.py
  tit/gui/ex_search_tab.py
Due: none

sim: make the output fields selectable, TI_max only by default
  tests/test_sim_config.py
  tests/test_sim_pipeline.py
  tit/constants.py
  tit/gui/simulator_tab.py
  tit/sim/TI.py
  tit/sim/__main__.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator

gui: pair Tissue with Space and Field with Type in the analyzer
  tit/gui/analyzer_tab.py
Due: none

gui: reuse the shared ROI picker in ex-search; stabilise and extend the analyzer
  tests/test_analyzer_spheres.py
  tests/test_gui_imports.py
  tit/analyzer/spheres.py
  tit/gui/analyzer_tab.py
  tit/gui/ex_search_tab.py
Due: analyzer

gui: make ex-search ROI either/or, and stop the boxes reserving dead space
  tests/test_gui_imports.py
  tit/gui/ex_search_tab.py
Due: none

gui: stop ex-search reserving vertical slack between its boxes
  tests/test_gui_imports.py
  tit/gui/ex_search_tab.py
Due: none

gui: top-align the ex-search boxes and stop the electrode stack over-reserving width
  tests/test_gui_imports.py
  tit/gui/ex_search_tab.py
Due: none

gui: drop the ex-search grid so paired boxes stop sharing a row height
  tests/test_gui_imports.py
  tit/gui/ex_search_tab.py
Due: none

gui/opt: allow atlas targeting in mTI, drop the redundant header, hold the ROI box height
  tests/test_gui_imports.py
  tests/test_opt_config.py
  tests/test_opt_mex.py
  tit/gui/ex_search_tab.py
  tit/opt/config.py
  tit/opt/mex/mex.py
Due: optimizer

gui: give the mTI electrode grid's spare width to the inputs, not the labels
  tests/test_gui_imports.py
  tit/gui/ex_search_tab.py
Due: none

gui: align the mTI bucket labels by their E glyph, not their colon
  tests/test_gui_imports.py
  tit/gui/ex_search_tab.py
Due: none

docs: fold the focality mini-study into flex-search, and correct its ROI section
  docs/assets/imgs/flex-search/flex-search_objective-comparison.png
  docs/assets/imgs/flex-search/focality-study_dist.png
  docs/assets/imgs/flex-search/focality-study_roc.png
  docs/assets/imgs/flex-search/focality-study_summary.png
  docs/wiki/flex-search.md
Due: none

docs: register the multipolar TI and atlas browser pages
  docs/_layouts/wiki.html
  docs/search/search.json
  docs/wiki/wiki.md
Due: none

fix: restore the missing Glasser R-MIP row; correct testing-pipeline claims
  docs/dev/known-issues-2026-08.md
  docs/wiki/testing-pipeline.md
  resources/atlas/MNI_Glasser_HCP_v1.0.txt
Due: none

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
