Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "tit/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "tit/blender/**"     # Blender scripts (require Blender)
  - "tit/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - tit/core/
    carryforward: true

  simulator:
    paths:
      - tit/sim/
    carryforward: true

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: true

  optimizer:
    paths:
      - tit/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

codecov.yml:

# Codecov Configuration for TI-Toolbox
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage report settings
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Coverage for individual patches/PRs
    patch:
      default:
        target: 65%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Component-specific coverage flags
# These match the flags passed in CircleCI: -F unittests,core,simulator,analyzer,optimizer
flags:
  unittests:
    paths:
      - tests/
    carryforward: false

  core:
    paths:
      - tit/core/
    carryforward: false
    target: 80%

  simulator:
    paths:
      - tit/sim/
    carryforward: false
    target: 70%

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: false
    target: 75%

  optimizer:
    paths:
      - tit/opt/
    carryforward: false
    target: 65%

  stats:
    paths:
      - tit/stats/
    carryforward: false
    target: 60%

  plotting:
    paths:
      - tit/plotting/
    carryforward: false
    target: 60%

  preprocessing:
    paths:
      - tit/pre/
    carryforward: false
    target: 60%

# Files to ignore in coverage reports
ignore:
  - "**/__pycache__"
  - "**/*.pyc"
  - "**/test_*.py"
  - "tests/**"
  - "setup.py"
  - "version.py"
  - "**/gui/**"  # GUI code is harder to test in headless environments
  - "**/__init__.py"  # Init files are often just imports

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - master

# GitHub status checks configuration
github_checks:
  annotations: true

montage_visualizer: arcs face TI partner + channel colour legend
  tit/tools/montage_visualizer.py
Due: none

montage_visualizer: arcs face TI partner + channel colour legend (#128)
  tit/tools/montage_visualizer.py
Due: none

fields: replace magnitude/hf_max with Cassarà safety metrics hf_peak & hf_sar
  tests/test_fields.py
  tests/test_source.py
  tests/test_stats_surface.py
  tit/constants.py
  tit/fields.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/source.py
  tit/sim/TI.py
  tit/source/config.py
  tit/source/fsaverage.py
  tit/stats/config.py
Due: simulator, stats

fields: add hf_peak/hf_sar Cassarà TI safety metrics
  tests/test_fields.py
  tests/test_source.py
  tests/test_stats_surface.py
  tit/constants.py
  tit/fields.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/source.py
  tit/sim/TI.py
  tit/source/config.py
  tit/source/fsaverage.py
  tit/stats/config.py
Due: simulator, stats

fields: add hf_peak/hf_sar Cassarà TI safety metrics (#129)
  tests/test_fields.py
  tests/test_source.py
  tests/test_stats_surface.py
  tit/constants.py
  tit/fields.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/source.py
  tit/sim/TI.py
  tit/source/config.py
  tit/source/fsaverage.py
  tit/stats/config.py
Due: simulator, stats

sim: parallelize msh-to-NIfTI conversion in simulation post-processing
  tests/test_sim_pipeline.py
  tit/sim/TI.py
  tit/sim/mTI.py
  tit/sim/utils.py
  tit/tools/mesh2nii.py
Due: simulator

gui: add skip/replace policy for existing simulation outputs
  tit/gui/simulator_tab.py
Due: none

flex: union of same-type ROIs (Phase 1 backend)
  tests/test_opt_builder.py
  tests/test_opt_flex_utils.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/utils.py
Due: optimizer

flex GUI: multi-region ROI picker (union) — Phase 2
  tit/gui/components/roi_picker.py
  tit/gui/flex_search_tab.py
Due: none

ex-search: union of selected spherical ROIs (Phase 3)
  tests/test_opt_ex.py
  tit/gui/ex_search_tab.py
  tit/opt/config.py
  tit/opt/ex/engine.py
  tit/opt/ex/ex.py
Due: optimizer

Validate non-ROI picker in flex run_optimization
  tit/gui/flex_search_tab.py
Due: none

flex/ex: review polish — union-operator consistency, display dedup, safe combined-ROI coord read
  tit/gui/ex_search_tab.py
  tit/opt/flex/builder.py
  tit/opt/flex/utils.py
Due: optimizer

Add reusable AtlasRegionFinderDialog and HelpIcon GUI components
  tit/gui/components/__init__.py
  tit/gui/components/atlas_region_finder.py
  tit/gui/components/help_icon.py
Due: none

Rework ROI picker: click-to-load region finders + unified spheres table
  tit/gui/components/roi_picker.py
Due: none

Reuse shared region-finder and help-icon components in analyzer and ex tabs
  tit/gui/analyzer_tab.py
  tit/gui/ex_search_tab.py
Due: none

GUI: defer atlas region load to Add Selected; make HelpIcon click-to-popup
  tit/gui/components/atlas_region_finder.py
  tit/gui/components/help_icon.py
  tit/gui/ex_search_tab.py
Due: none

flex GUI: cortical ROI by region name; reorder ROI pages + dynamic height
  tit/gui/components/roi_picker.py
  tit/gui/flex_search_tab.py
Due: none

roi_picker/help_icon: review polish — clear error on unresolvable cortical names; docstring wording
  tit/gui/components/help_icon.py
  tit/gui/components/roi_picker.py
Due: none

Resolve subcortical region names for subject FreeSurfer atlases via bundled LUT
  resources/atlas/FreeSurferColorLUT.txt
  tit/gui/components/roi_picker.py
Due: none

Add RegionChipsWidget reusable chips component
  tit/gui/components/__init__.py
  tit/gui/components/region_chips.py
Due: none

roi_picker: use RegionChipsWidget as source of truth for cortical/subcortical ROIs
  tit/gui/components/roi_picker.py
Due: none

roi_picker: harden subcortical atlas-read fallback (ImageFileError); comment nits
  tit/gui/components/roi_picker.py
Due: none

region finder: drop RGB colour swatch — show label number and name only
  tit/gui/components/atlas_region_finder.py
Due: none

Analyzer: replace region-name text field with shared RegionChipsWidget
  tit/gui/analyzer_tab.py
Due: none

analyzer: drop dead region-string fallbacks; alphabetize finder list
  tit/gui/analyzer_tab.py
Due: none

GUI: full-width analyzer region chips row; column-order-agnostic LUT name parsing
  tit/gui/analyzer_tab.py
  tit/gui/components/roi_picker.py
Due: none

roi_picker: ignore mri_segstats sidecar for FS subject atlases — resolve subcortical names via bundled LUT (fixes '1: 245555.0 <name>')
  tit/gui/components/roi_picker.py
Due: none

Reorganize analyzer Analysis Configuration into adaptive target groups
  tit/gui/analyzer_tab.py
Due: none

Fix analyzer Tissue selector hidden in Voxel+Spherical mode
  tit/gui/analyzer_tab.py
Due: none

Accept ids-or-names in AtlasRegionFinderDialog preselection
  tit/gui/components/atlas_region_finder.py
Due: none

Enforce single-atlas ROI selection in roi_picker
  tit/gui/components/roi_picker.py
Due: none

Analyzer: mirror optimizer region-selection UX
  tit/gui/analyzer_tab.py
Due: none

region select: only clear chips on an actual atlas/space change (not re-selecting the same value)
  tit/gui/analyzer_tab.py
  tit/gui/components/roi_picker.py
Due: none

analyzer: keep independent Mesh/Voxel region selections (restore on Space switch instead of clearing)
  tit/gui/analyzer_tab.py
  tit/gui/components/region_chips.py
Due: none

combine-roi-optimizers: union of same-type ROIs in flex & ex search + region-chips UX (#130)
  resources/atlas/FreeSurferColorLUT.txt
  tests/test_opt_builder.py
  tests/test_opt_ex.py
  tests/test_opt_flex_utils.py
  tit/gui/analyzer_tab.py
  tit/gui/components/__init__.py
  tit/gui/components/atlas_region_finder.py
  tit/gui/components/help_icon.py
  tit/gui/components/region_chips.py
  tit/gui/components/roi_picker.py
  tit/gui/ex_search_tab.py
  tit/gui/flex_search_tab.py
  tit/opt/config.py
  tit/opt/ex/engine.py
  tit/opt/ex/ex.py
  tit/opt/flex/builder.py
  tit/opt/flex/utils.py
Due: optimizer

Make FreeSurfer volume prune non-destructive and consistent across launchers
  dev/loader/loader_dev.py
  loader.py
  package/src/backend/docker-manager.js
Due: none

Version the FreeSurfer data volume so image updates re-seed it (#131, fixes #123)
  dev/freesurfer-volume-versioning.md
  dev/loader/docker-compose.dev.yml
  dev/loader/loader_dev.py
  docker-compose.yml
  loader.py
  package/docker/docker-compose.yml
  package/src/backend/docker-manager.js
Due: none

3d-visualizer: reuse searchable label picker + subcortical field PLY
  tit/gui/extensions/visual_exporter.py
  tit/tools/nifti_to_mesh.py
Due: none

nifti_to_mesh: return (mask, 0) from remove_small_components single-component path
  tit/tools/nifti_to_mesh.py
Due: none

updated todo
  TODO.md
Due: none
