Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

new flex + corrected some imports
  scripts/optimizer.py
  tit/__init__.py
  tit/core/__init__.py
  tit/opt/config.py
  tit/opt/flex/__main__.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/flex_config.py
  tit/opt/flex/flex_log.py
  tit/opt/flex/multi_start.py
  tit/opt/flex/pareto.py
  tit/opt/flex/utils.py
Due: core, optimizer

new analyzer
  scripts/analyzer.py
  scripts/optimizer.py
  scripts/preprocess.py
  tit/analyzer/__init__.py
  tit/analyzer/analyzer.py
  tit/analyzer/compare_analyses.py
  tit/analyzer/csv_group_comparator.py
  tit/analyzer/field_selector.py
  tit/analyzer/group.py
  tit/analyzer/group_analyzer.py
  tit/analyzer/main_analyzer.py
  tit/analyzer/mesh_analyzer.py
  tit/analyzer/visualizer.py
  tit/analyzer/voxel_analyzer.py
Due: analyzer

cluster permutation update
  scripts/cluster_permutation.py
Due: none

cluster permutation update
  tit/cli/__init__.py
  tit/cli/base.py
  tit/cli/cluster_permuatation.py
  tit/cli/utils.py
  tit/cli/vis_blender.py
  tit/paths.py
  tit/stats/__init__.py
  tit/stats/config.py
  tit/stats/engine.py
  tit/stats/nifti.py
  tit/stats/permutation.py
  tit/stats/permutation_analysis.py
  tit/stats/stats_utils.py
Due: stats

added matlab runtime preinstallation for sub nuceli scripts to work
  container/blueprint/Dockerfile.freesurfer
Due: none

gui updates according to latest changes
  tit/gui/acknowledgments_tab.py
  tit/gui/analyzer_tab.py
  tit/gui/components/__init__.py
  tit/gui/components/action_buttons.py
  tit/gui/components/add_montage_dialog.py
  tit/gui/components/base_thread.py
  tit/gui/components/console.py
  tit/gui/components/qsi_config_dialogs.py
  tit/gui/components/qt_log_handler.py
  tit/gui/contact_tab.py
  tit/gui/ex_search_tab.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/electrode_placement.py
  tit/gui/extensions/nifti_group_average.py
  tit/gui/extensions/nilearn_viz.py
  tit/gui/extensions/quick_notes.py
  tit/gui/extensions/subject_info_viewer.py
  tit/gui/extensions/visual_exporter.py
  tit/gui/flex_search_tab.py
  tit/gui/graphics_config.py
  tit/gui/main.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/pre_process_tab.py
  tit/gui/process.py
  tit/gui/settings_menu.py
  tit/gui/simulator_tab.py
  tit/gui/style.py
  tit/gui/utils.py
Due: none

added curl
  container/blueprint/Dockerfile.freesurfer
Due: none

dockerfile
  container/blueprint/Dockerfile.simnibs
Due: none

removed gui dev
  tit/gui/gui_dev/QUICK_START_DEV.md
  tit/gui/gui_dev/dev.sh
  tit/gui/gui_dev/dev_runner.py
  tit/gui/gui_dev/requirements-gui.txt
Due: none

removed old files
  benchmark_config.yaml
  loader.sh
  package-lock.json
Due: none

removed cli dir altogether
  tit/cli/gui.py
  tit/cli/vis_blender.py
Due: none

removed aliases and added a dpi env var fot consistent GUI
  container/blueprint/entrypoint.sh
Due: none

cleaned up loaders
  dev/loader/loader_dev.py
  loader.py
Due: none

better tearing down of compose system
  dev/loader/loader_dev.py
Due: none

paths update
  tit/blender/helpers/inspect_blend.py
  tit/blender/montage_publication.py
  tit/blender/region_ply_exporter.py
  tit/blender/region_stl_exporter.py
  tit/blender/scene_setup.py
  tit/blender/utils.py
  tit/blender/vector_field_exporter.py
Due: none

gui update
  tit/gui/__init__.py
  tit/gui/analyzer_tab.py
  tit/gui/components/__init__.py
  tit/gui/components/base_thread.py
  tit/gui/components/console.py
  tit/gui/components/subject_row.py
  tit/gui/ex_search_tab.py
  tit/gui/extensions.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/nifti_group_average.py
  tit/gui/extensions/visual_exporter.py
  tit/gui/flex_search_tab.py
  tit/gui/graphics_config.py
  tit/gui/main.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/pre_process_tab.py
  tit/gui/process.py
  tit/gui/settings_menu.py
  tit/gui/simulator_tab.py
  tit/gui/style.py
  tit/gui/system_monitor_tab.py
  tit/gui/utils.py
Due: none

working new version
  dev/loader/docker-compose.dev.yml
Due: none

new tes flex class according to new simnibs version 4.6
  resources/map-electrodes/tes_flex_optimization.py
Due: none

scripts
  scripts/analyzer.py
  scripts/cluster_permutation.py
  scripts/optimizer.py
  scripts/pipeline.py
  scripts/preprocess.py
  scripts/simulator.py
Due: none

updated gui to handle new api
  tit/gui/analyzer_tab.py
  tit/gui/components/__init__.py
  tit/gui/components/subject_row.py
  tit/gui/ex_search_tab.py
  tit/gui/extensions.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/nifti_group_average.py
  tit/gui/extensions/visual_exporter.py
  tit/gui/flex_search_tab.py
  tit/gui/settings_menu.py
  tit/gui/simulator_tab.py
Due: none

initialization
  tit/analyzer/__init__.py
  tit/opt/__init__.py
  tit/opt/ex/__init__.py
  tit/sim/utils.py
  tit/stats/__init__.py
  tit/tools/montage_visualizer.py
Due: simulator, analyzer, optimizer

added __main__ as entrypoints for GUI
  tit/__init__.py
  tit/analyzer/__main__.py
  tit/config_io.py
  tit/constants.py
  tit/logger.py
  tit/opt/ex/__main__.py
  tit/opt/flex/__main__.py
  tit/paths.py
  tit/pre/__main__.py
  tit/sim/__main__.py
  tit/stats/__main__.py
Due: simulator, analyzer, optimizer, stats, preprocessing

simple pipeline examploe
  scripts/pipeline.py
Due: none

new simnibs method for flex
  resources/map-electrodes/tes_flex_optimization.py
Due: none

corrected net
  scripts/pipeline.py
Due: none

overwriting numpy >2.0
  container/blueprint/Dockerfile.simnibs
Due: none

cleanup
  tit/opt/flex/builder.py
  tit/sim/utils.py
Due: simulator, optimizer

silenced matplotlib font errors
  tit/logger.py
Due: none

__main__ useage. continue tabs developement and SN4.6 updates
  tit/analyzer/__init__.py
  tit/analyzer/analyzer.py
  tit/blender/region_stl_exporter.py
  tit/gui/analyzer_tab.py
  tit/gui/components/base_thread.py
  tit/gui/extensions/electrode_placement.py
  tit/gui/extensions/visual_exporter.py
  tit/gui/pre_process_tab.py
  tit/gui/simulator_tab.py
  tit/paths.py
  tit/pre/__main__.py
  tit/sim/__main__.py
  tit/sim/utils.py
Due: simulator, analyzer, preprocessing

centralized atlas logic
  tit/analyzer/__init__.py
  tit/atlas/__init__.py
  tit/atlas/constants.py
  tit/atlas/mesh.py
  tit/atlas/overlap.py
  tit/atlas/voxel.py
  tit/gui/analyzer_tab.py
  tit/gui/flex_search_tab.py
  tit/gui/nifti_viewer_tab.py
  tit/opt/flex/utils.py
  tit/stats/atlas_utils.py
  tit/stats/permutation.py
  tit/stats/posthoc_atlas_analysis.py
Due: analyzer, optimizer, stats

continued GUI refactor
  tit/atlas/__init__.py
  tit/atlas/constants.py
  tit/atlas/voxel.py
  tit/gui/components/__init__.py
  tit/gui/components/electrode_config.py
  tit/gui/components/roi_picker.py
  tit/gui/components/solver_params.py
  tit/gui/flex_search_tab.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/style.py
Due: none

added anisotropic optimization ability
  tit/gui/flex_search_tab.py
  tit/gui/style.py
  tit/opt/config.py
  tit/opt/flex/builder.py
Due: optimizer

cleaned up UI of analyzer tab
  tit/gui/analyzer_tab.py
Due: none

update to flex-searc dir naming and intergration with simulator
  tit/atlas/mesh.py
  tit/atlas/overlap.py
  tit/constants.py
  tit/gui/components/console.py
  tit/gui/components/electrode_config.py
  tit/gui/components/solver_params.py
  tit/gui/ex_search_tab.py
  tit/gui/flex_search_tab.py
  tit/gui/pre_process_tab.py
  tit/gui/simulator_tab.py
  tit/gui/style.py
  tit/gui/utils.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/manifest.py
  tit/opt/flex/pareto.py
  tit/opt/flex/utils.py
  tit/paths.py
Due: optimizer

Anisotropy Config Parameter
  docs/wiki/diffusion-processing.md
  docs/wiki/simulator.md
  tit/atlas/constants.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/pre/qsi/dti_extractor.py
  tit/sim/TI.py
  tit/sim/config.py
  tit/sim/mTI.py
Due: simulator, optimizer, preprocessing

added stout to ex-search tab and fixed analyzre tab console to be stretchable
  tit/gui/analyzer_tab.py
  tit/opt/ex/__main__.py
Due: optimizer

leadfield script
  scripts/leadfield.py
Due: none

extended mTI to multiple pairs not limited to 4.
  tit/__init__.py
  tit/calc.py
  tit/sim/__main__.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator

updated docs given latest changes
  docs/PIPELINE_FLOW.md
  docs/README.md
  docs/api_mkdocs/docs/index.md
  docs/api_mkdocs/docs/reference/analyzer.md
  docs/api_mkdocs/docs/reference/core.md
  docs/api_mkdocs/docs/reference/opt.md
  docs/api_mkdocs/docs/reference/sim.md
  docs/api_mkdocs/docs/reference/stats.md
  docs/api_mkdocs/mkdocs.yml
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.0.md
  docs/wiki/analyzer.md
  docs/wiki/atlas-resampling.md
  docs/wiki/cli.md
  docs/wiki/cluster-permutation-testing.md
  docs/wiki/ex-search.md
  docs/wiki/flex-search.md
  docs/wiki/gui.md
  docs/wiki/logging.md
  docs/wiki/pre-processing.md
  docs/wiki/python_env.md
  docs/wiki/reports.md
  docs/wiki/simulator.md
  docs/wiki/testing-pipeline.md
Due: none

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
