Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "ti-toolbox/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "ti-toolbox/blender/**"     # Blender scripts (require Blender)
  - "ti-toolbox/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - ti-toolbox/core/
    carryforward: true

  simulator:
    paths:
      - ti-toolbox/sim/
    carryforward: true

  analyzer:
    paths:
      - ti-toolbox/analyzer/
    carryforward: true

  optimizer:
    paths:
      - ti-toolbox/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

commented for now
  dev/bash_dev/docker-compose.dev.yml
Due: none

new electrone approach
  package/.gitignore
  package/.npmrc
  package/ARCHITECTURE.md
  package/QUICK_START.md
  package/README.md
  package/assets/icon.png
  package/build.sh
  package/docker/docker-compose.yml
  package/docker/loader.sh
  package/package.json
  package/src/backend/config-store.js
  package/src/backend/docker-manager.js
  package/src/backend/env.js
  package/src/backend/execa.js
  package/src/backend/logger.js
  package/src/backend/project-service.js
  package/src/index.html
  package/src/main.js
  package/src/renderer.js
  package/src/styles.css
  package/start-ti-toolbox.sh
  package/test-docker-integration.sh
Due: none

added new project creation and icon
  package/assets/icon.icns
  package/assets/icon.ico
  package/src/index.html
  package/src/main.js
  package/src/renderer.js
  package/src/styles.css
Due: none

added a new workflow to work with electrone
  .github/workflows/README.md
  .github/workflows/release-build.yml
  .github/workflows/release_bk.yml
Due: none

added to docs
  docs/assets/imgs/electron-architecture.svg
  docs/wiki/desktop-app.md
  docs/wiki/wiki.md
  package/ARCHITECTURE.md
  package/README.md
  package/build.sh
  package/tests/test-docker-integration.sh
Due: none

added to docs under development
  docs/_layouts/wiki.html
  docs/wiki/desktop-app.md
  docs/wiki/wiki.md
Due: none

additions to update_version.py to include electron stuff
  dev/update/update_version.py
  dev/update/update_version_new.py
Due: none

Fixed broken (case-sensitive) link in README.md
  README.md
Due: none

usability / UI touchups
  ti-toolbox/gui/analyzer_tab.py
  ti-toolbox/gui/pre_process_tab.py
  ti-toolbox/gui/simulator_tab.py
Due: none

fixed link representation for consistency
  README.md
Due: none

update info to benchmark readme
  ti-toolbox/benchmark/README.md
Due: none

usability / UI touchups
  ti-toolbox/gui/ex_search_tab.py
Due: none

added perm link for new desktop app
  docs/wiki/desktop-app.md
Due: none

shorter description to keep it one liners
  ti-toolbox/gui/extensions/cbp.py
  ti-toolbox/gui/extensions/electrode_placement.py
  ti-toolbox/gui/extensions/nifti_group_average.py
  ti-toolbox/gui/extensions/subject_info_viewer.py
  ti-toolbox/gui/extensions/visual_exporter.py
Due: none

fixed freesur bin path issue
  package/docker/docker-compose.yml
Due: none

improved electrode options + MNI control
  ti-toolbox/gui/analyzer_tab.py
  ti-toolbox/gui/flex_search_tab.py
  ti-toolbox/gui/simulator_tab.py
  ti-toolbox/opt/flex/flex.py
  ti-toolbox/opt/flex/flex_config.py
  ti-toolbox/opt/flex/flex_log.py
  ti-toolbox/opt/flex/multi_start.py
Due: optimizer

fixed bug for new analyzer update
  ti-toolbox/analyzer/main_analyzer.py
  ti-toolbox/gui/analyzer_tab.py
Due: analyzer

clean up -> only using .2f for analysis output naming
  ti-toolbox/analyzer/group_analyzer.py
  ti-toolbox/analyzer/mesh_analyzer.py
  ti-toolbox/analyzer/visualizer.py
  ti-toolbox/analyzer/voxel_analyzer.py
Due: analyzer

clean up -> only using .2f for analysis output naming
  ti-toolbox/gui/analyzer_tab.py
Due: none

added valid skin region visualization functioality to flex search
  resources/map-electrodes/tes_flex_optimization.py
  ti-toolbox/gui/flex_search_tab.py
  ti-toolbox/opt/flex/flex_config.py
Due: optimizer

cleanup of arguments
  ti-toolbox/gui/flex_search_tab.py
  ti-toolbox/gui/optimizer_tab.py
  ti-toolbox/opt/flex/flex_config.py
Due: optimizer

documentation
  docker-compose.yml
  ti-toolbox/tools/README_map_electrodes.md
Due: none

clean up of compose files
  dev/bash_dev/docker-compose.dev.yml
  docker-compose.yml
Due: none

Delete dev/bash_dev/.default_paths.dev
  dev/bash_dev/.default_paths.dev
Due: none

better ignoring of default paths
  .gitignore
Due: none

docs update for electrode mapping and new subtitle for tools
  docs/_layouts/wiki.html
  docs/wiki/electrode-mapping.md
  docs/wiki/wiki.md
Due: none

docs update for electrode mapping and new subtitle for tools
  docs/wiki/electrode-mapping.md
Due: none

improved analysis histrogram
  ti-toolbox/analyzer/visualizer.py
Due: analyzer

analyzer cleanup and reduced fallback issue given lastest changes mni/subject related
  ti-toolbox/analyzer/compare_analyses.py
  ti-toolbox/analyzer/group_analyzer.py
  ti-toolbox/analyzer/main_analyzer.py
  ti-toolbox/cli/group_analyzer.sh
  ti-toolbox/gui/analyzer_tab.py
Due: analyzer

better scrolling and UI elements for ana tab
  ti-toolbox/gui/analyzer_tab.py
Due: none

clean up UI for opptimizer dropdown and subject-info
  ti-toolbox/core/constants.py
  ti-toolbox/gui/extensions/subject_info_viewer.py
  ti-toolbox/gui/optimizer_tab.py
Due: core

added flag for MOVEA
  ti-toolbox/gui/movea_tab.py
Due: none

Release v2.2.1
  dev/bash_dev/docker-compose.dev.yml
  dev/update/update_version.py
  docker-compose.yml
  docs/_layouts/releases.html
  docs/releases/changelog.md
  docs/releases/v2.2.1.md
  package/docker/docker-compose.yml
  package/package.json
  package/src/index.html
  resources/dataset_descriptions/simnibs.dataset_description.json
  version.py
Due: none

Release v2.2.1
  .github/workflows/release-build.yml
Due: none

Add package-lock.json to enable CI builds
  package/package-lock.json
Due: none

Release v2.2.1
  package/.gitignore
Due: none

Release v2.2.1
  package/package.json
Due: none
