Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

fixed some UI bugs in the GUI
  tit/gui/components/roi_picker.py
  tit/gui/flex_search_tab.py
  tit/opt/leadfield.py
Due: optimizer

improved gear/extension UX
  tit/gui/settings_menu.py
Due: none

update loader.py
  loader.py
Due: none

Remove old fetch-stats workflow and point to unified dashboard
  .github/workflows/fetch-stats.yml
  dev/telemetry/README.md
Due: none

Fix telemetry data loss and convert all operations to track_operation
  tit/analyzer/group.py
  tit/blender/montage_publication.py
  tit/blender/region_exporter.py
  tit/blender/vector_field_exporter.py
  tit/constants.py
  tit/gui/main.py
  tit/pre/charm.py
  tit/pre/dicom2nifti.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/qsirecon.py
  tit/pre/recon_all.py
  tit/reporting/generators/base_generator.py
  tit/telemetry.py
Due: analyzer, preprocessing

implemented prelliminary secondary ex search given unipolar montage
  tit/gui/flex_search_tab.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/secondary_ex_search_tab.py
  tit/opt/__init__.py
  tit/opt/config.py
  tit/opt/secondary.py
  tit/opt/secondary_ex.py
  tit/plotting/ti_metrics.py
Due: optimizer, plotting

Canonicalize TIT_HOST_OS at emit layer for cross-launcher parity
  .gitignore
  tests/test_telemetry.py
  tit/telemetry.py
Due: none

Add arch canonicalization to telemetry emit layer
  tests/test_telemetry.py
  tit/telemetry.py
Due: none

Unify compose project name and arch across both launchers
  docker-compose.yml
  package/src/backend/env.js
Due: none

Add CHANGELOG and document supported entrypoints
  CHANGELOG.md
  README.md
  tit/telemetry.py
Due: none

Feature/launcher parity (#91)
  .gitignore
  CHANGELOG.md
  README.md
  docker-compose.yml
  package/src/backend/env.js
  tests/test_telemetry.py
  tit/telemetry.py
Due: none

Drop compose name field, move changelog to docs/releases/
  CHANGELOG.md
  docker-compose.yml
  docs/releases/changelog.md
  package/src/backend/env.js
Due: none

Revert compose name field and root CHANGELOG
  CHANGELOG.md
  docker-compose.yml
  package/src/backend/env.js
Due: none

Delete CHANGELOG.md
  CHANGELOG.md
Due: none

revert readme
  README.md
Due: none

Add error_detail to telemetry error events
  tests/test_telemetry.py
  tit/telemetry.py
Due: none

Improve simulation reports: electrode names, GM/WM visualizations, interactive viewers
  tests/test_pre_pipeline.py
  tit/gui/simulator_tab.py
  tit/opt/flex/builder.py
  tit/plotting/nilearn/visualizer.py
  tit/pre/structural.py
  tit/reporting/generators/flex_search.py
  tit/reporting/generators/preprocessing.py
  tit/reporting/generators/simulation.py
Due: optimizer, plotting, preprocessing

Guard against None project_dir in GUI startup
  tit/gui/pre_process_tab.py
  tit/pre/utils.py
Due: preprocessing

Fix discussion follow-up preprocessing and reports
  docs/api_mkdocs/docs/index.md
  docs/api_mkdocs/docs/pipeline/preprocessing.md
  docs/dev/qsirecon-internal-reference.md
  docs/installation/bash-cli.md
  docs/wiki/diffusion-processing.md
  docs/wiki/flex-search.md
  docs/wiki/pre-processing.md
  docs/wiki/reports.md
  docs/wiki/simulator.md
  tests/test_pre_dicom.py
  tests/test_pre_qsi_docker.py
  tests/test_reporting_generators.py
  tests/test_sim_utils.py
  tit/constants.py
  tit/gui/help_tab.py
  tit/gui/pre_process_tab.py
  tit/opt/flex/builder.py
  tit/pre/dicom2nifti.py
  tit/pre/utils.py
  tit/reporting/generators/flex_search.py
  tit/reporting/generators/simulation.py
  tit/reporting/reportlets/images.py
  tit/sim/utils.py
  tit/tools/montage_visualizer.py
Due: simulator, optimizer, preprocessing

Upgrade QSI containers to 26.0.0
  docs/dev/qsirecon-internal-reference.md
  docs/wiki/diffusion-processing.md
  tests/test_pre_qsi_docker.py
  tit/constants.py
  tit/pre/qsi/config.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/utils.py
Due: preprocessing

Clean nilearn visualizer imports
  tit/plotting/nilearn/visualizer.py
Due: plotting

Add lightweight integration flow tests
  tests/test_integration_flows.py
Due: none

Add CI data integration tests
  tests/README_TESTING.md
  tests/test_ci_data_integration.py
Due: none

Add comprehensive integration entrypoint
  tests/README_TESTING.md
  tests/comprehensive_integration.py
  tests/run_comprehensive_integration.sh
Due: none

Make comprehensive integration self-contained
  container/blueprint/entrypoint_test.sh
  tests/README_TESTING.md
  tests/comprehensive_integration.py
  tests/run_comprehensive_integration.sh
  tests/test_integration_flows.py
  tests/test_pre_dicom.py
  tit/pre/dicom2nifti.py
Due: preprocessing

Use DICOM directory fixture in release gate
  tests/README_TESTING.md
  tests/comprehensive_integration.py
  tests/run_comprehensive_integration.sh
Due: none

Add Brainstorm MNI electrode caps
  resources/ElectrodeCaps_MNI/BioSemi-128-A1.csv
  resources/ElectrodeCaps_MNI/BioSemi-256-A1.csv
  resources/ElectrodeCaps_MNI/BioSemi-64-10-10.csv
  resources/ElectrodeCaps_MNI/GSN-HydroCel-128.csv
Due: none

Harden telemetry config and analyzer refresh
  tests/test_analyzer.py
  tests/test_paths.py
  tit/analyzer/field_selector.py
  tit/gui/analyzer_tab.py
  tit/gui/main.py
  tit/gui/simulator_tab.py
  tit/paths.py
Due: analyzer

Update nifti_viewer_tab.py
  tit/gui/nifti_viewer_tab.py
Due: none

Harden GUI process lifecycle refreshes
  tit/gui/analyzer_tab.py
  tit/gui/components/base_thread.py
  tit/gui/ex_search_tab.py
  tit/gui/flex_search_tab.py
  tit/gui/main.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/pre_process_tab.py
Due: none

Improve simulation and flex-search reports
  docs/wiki/reports.md
  tests/test_report_previews.py
  tests/test_reporting.py
  tests/test_reporting_generators.py
  tests/test_sim_utils.py
  tit/gui/simulator_tab.py
  tit/reporting/__init__.py
  tit/reporting/core/base.py
  tit/reporting/core/templates.py
  tit/reporting/generators/base_generator.py
  tit/reporting/generators/flex_search.py
  tit/reporting/generators/simulation.py
  tit/reporting/reportlets/__init__.py
  tit/reporting/reportlets/references.py
  tit/reporting/reportlets/text.py
  tit/sim/utils.py
Due: simulator

Release v2.3.1
  .github/workflows/release-build.yml
  container/blueprint/README.md
  docker-compose.yml
  docs/_layouts/releases.html
  docs/releases/changelog.md
  docs/releases/v2.3.1.md
  docs/wiki/gui.md
  docs/wiki/reports.md
  package/docker/docker-compose.yml
  package/package-lock.json
  package/package.json
  package/src/index.html
  package/src/main.js
  tit/__init__.py
Due: none

added mcr install to 8.1.0
  container/blueprint/Dockerfile.freesurfer.8.1.0
Due: none

docs cleanup
  docs/releases/changelog.md
  docs/releases/v2.3.1.md
Due: none

Fix flaky telemetry operation tests
  tests/test_telemetry.py
Due: none

added some notes
  dev/notes/flex-search-multicore-analysis.md
Due: none

v2.3.1
  resources/dataset_descriptions/simnibs.dataset_description.json
  version.py
Due: none

v2.3.1 for dev
  dev/loader/docker-compose.dev.yml
Due: none

Fix flex-search simulation run identity
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.1.md
  tests/test_config_io.py
  tit/gui/simulator_tab.py
  tit/reporting/generators/simulation.py
  tit/sim/__main__.py
  tit/sim/config.py
  tit/sim/utils.py
Due: simulator

Add flex-search skin region controls and reports
  dev/visualize_skin_region_margin.py
  docs/assets/imgs/flex-search/valid_skin_region_margin_landmark_guarded.png
  docs/wiki/flex-search.md
  docs/wiki/scripting.md
  resources/map-electrodes/tes_flex_optimization.py
  tests/test_config_io.py
  tests/test_opt_builder.py
  tests/test_opt_config.py
  tests/test_reporting_generators.py
  tit/gui/components/solver_params.py
  tit/gui/flex_search_tab.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/skin_visualization.py
  tit/reporting/generators/flex_search.py
Due: optimizer

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
