Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "tit/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "tit/blender/**"     # Blender scripts (require Blender)
  - "tit/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - tit/core/
    carryforward: true

  simulator:
    paths:
      - tit/sim/
    carryforward: true

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: true

  optimizer:
    paths:
      - tit/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

codecov.yml:

# Codecov Configuration for TI-Toolbox
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage report settings
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Coverage for individual patches/PRs
    patch:
      default:
        target: 65%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Component-specific coverage flags
# These match the flags passed in CircleCI: -F unittests,core,simulator,analyzer,optimizer
flags:
  unittests:
    paths:
      - tests/
    carryforward: false

  core:
    paths:
      - tit/core/
    carryforward: false
    target: 80%

  simulator:
    paths:
      - tit/sim/
    carryforward: false
    target: 70%

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: false
    target: 75%

  optimizer:
    paths:
      - tit/opt/
    carryforward: false
    target: 65%

  stats:
    paths:
      - tit/stats/
    carryforward: false
    target: 60%

  plotting:
    paths:
      - tit/plotting/
    carryforward: false
    target: 60%

  preprocessing:
    paths:
      - tit/pre/
    carryforward: false
    target: 60%

# Files to ignore in coverage reports
ignore:
  - "**/__pycache__"
  - "**/*.pyc"
  - "**/test_*.py"
  - "tests/**"
  - "setup.py"
  - "version.py"
  - "**/gui/**"  # GUI code is harder to test in headless environments
  - "**/__init__.py"  # Init files are often just imports

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - master

# GitHub status checks configuration
github_checks:
  annotations: true

added discord
  README.md
Due: none

corrected discord invite
  README.md
Due: none

v2.3.1
  docker-compose.yml
  tests/test_electrode_overlay.py
  tests/test_sim_utils.py
  tit/gui/nifti_viewer_tab.py
  tit/sim/utils.py
  tit/tools/__init__.py
  tit/tools/electrode_overlay.py
Due: simulator

Fix flex-search skin visualization report image
  resources/map-electrodes/tes_flex_optimization.py
  tests/test_reporting_generators.py
  tit/opt/flex/builder.py
  tit/opt/flex/skin_visualization.py
Due: optimizer

Fix electrode overlay channel labels
  tests/test_electrode_overlay.py
  tit/gui/nifti_viewer_tab.py
  tit/tools/electrode_overlay.py
Due: none

Move electrode overlay into montage images
  tit/gui/nifti_viewer_tab.py
Due: none

Choose electrode overlay folder by simulation mode
  tit/gui/nifti_viewer_tab.py
Due: none

Update v2.3.1 release docs
  README.md
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.1.md
  docs/wiki/simulator.md
  docs/wiki/visualizers.md
Due: none

cleanup
  docs/releases/releases.md
Due: none

Harden telemetry-driven error handling
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.1.md
  tests/test_opt_flex.py
  tests/test_pre_pipeline.py
  tests/test_pre_qsi_prep.py
  tests/test_pre_qsi_recon.py
  tests/test_sim_pipeline.py
  tests/test_telemetry.py
  tit/opt/flex/flex.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/qsirecon.py
  tit/pre/qsi/utils.py
  tit/pre/structural.py
  tit/sim/utils.py
  tit/telemetry.py
Due: simulator, optimizer, preprocessing

Update v2.3.1 release notes
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.1.md
Due: none

Fix simulation integration fixture
  tests/test_integration_flows.py
Due: none

Organize v2.3.1 release notes
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.1.md
Due: none

Add preprocessing existing-output policy
  tests/test_pre_main.py
  tests/test_pre_pipeline.py
  tests/test_pre_preflight.py
  tit/gui/pre_process_tab.py
  tit/pre/__init__.py
  tit/pre/__main__.py
  tit/pre/preflight.py
  tit/pre/structural.py
Due: preprocessing

Update v2.3.1 preprocessing release docs
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.1.md
  docs/wiki/pre-processing.md
Due: none

added citi16
  resources/atlas/CIT168_labeling_MNI152NLin2009cAsym.nii.gz
  resources/atlas/CIT168_labeling_MNI152NLin2009cAsym_LUT.txt
  resources/atlas/README.md
Due: none

Add MNI thalamus atlas resources
  resources/atlas/MorelMNI152_labeling_1mm.nii.gz
  resources/atlas/MorelMNI152_labeling_1mm_LUT.txt
  resources/atlas/README.md
Due: none

Add MNI atlas targeting for flex ROI
  tests/test_config_io.py
  tests/test_flex_manifest.py
  tests/test_opt_config.py
  tests/test_opt_flex_utils.py
  tit/atlas/constants.py
  tit/gui/components/roi_picker.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/manifest.py
  tit/opt/flex/utils.py
Due: optimizer

Export mapped flex simulations to Simulations
  tests/test_flex_simulation_export.py
  tit/opt/flex/flex.py
  tit/opt/flex/simulation_export.py
Due: optimizer

Improve preprocessing preflight telemetry signal
  tests/test_pre_pipeline.py
  tests/test_pre_preflight.py
  tests/test_pre_qsi_prep.py
  tests/test_pre_utils_full.py
  tit/gui/pre_process_tab.py
  tit/pre/__init__.py
  tit/pre/preflight.py
  tit/pre/qsi/qsiprep.py
  tit/pre/structural.py
  tit/pre/utils.py
Due: preprocessing

Improve NIfTI viewer defaults
  tit/gui/nifti_viewer_tab.py
Due: none

List subject ROI masks in subcortical picker
  tests/test_atlas_coverage.py
  tit/atlas/voxel.py
  tit/gui/components/roi_picker.py
Due: none

Fix viewer percentile default and report duration
  tit/gui/nifti_viewer_tab.py
  tit/gui/simulator_tab.py
Due: none

some edge cases handing for leadfield listing and 2D montage img
  tests/test_opt_leadfield.py
  tests/test_sim_utils.py
  tit/gui/ex_search_tab.py
  tit/opt/leadfield.py
  tit/sim/utils.py
Due: simulator, optimizer

Extend ex-search ROI mask workflows
  scripts/warp_freesurfer_thalamus_atlas.py
  tests/test_analyzer_full.py
  tests/test_atlas_coverage.py
  tests/test_config_io.py
  tests/test_ex_buckets.py
  tests/test_ex_logic.py
  tests/test_opt_config.py
  tests/test_opt_engine.py
  tests/test_opt_ex.py
  tests/test_opt_main.py
  tests/test_opt_results.py
  tests/test_plotting.py
  tit/analyzer/analyzer.py
  tit/atlas/voxel.py
  tit/gui/analyzer_tab.py
  tit/gui/ex_search_tab.py
  tit/opt/config.py
  tit/opt/ex/__main__.py
  tit/opt/ex/buckets.py
  tit/opt/ex/engine.py
  tit/opt/ex/ex.py
  tit/opt/ex/logic.py
  tit/opt/ex/results.py
  tit/plotting/__init__.py
  tit/plotting/ti_metrics.py
Due: analyzer, optimizer, plotting

Fix simulator montage defaults and persistence
  tests/test_sim_utils.py
  tit/gui/simulator_tab.py
  tit/sim/utils.py
Due: simulator

Fix Ex-Search GUI project config
  tests/test_gui_imports.py
  tit/gui/ex_search_tab.py
Due: none

Fix Ex-Search leadfield test patch target
  tests/test_opt_engine.py
Due: none

Refine flex preflight checks
  tests/test_opt_builder.py
  tests/test_opt_flex.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/utils.py
Due: optimizer

cleaned todo
  TODO.md
Due: none

Fix DICOM conversion command
  tests/test_pre_dicom.py
  tit/pre/dicom2nifti.py
Due: preprocessing

Fix simulator batch subject handling
  tests/test_sim_config.py
  tit/gui/simulator_tab.py
  tit/sim/utils.py
Due: simulator

Add functional thalamus ROI generation
  tests/test_pre_dicom.py
  tests/test_pre_pipeline.py
  tests/test_thalamus_rois.py
  tit/gui/pre_process_tab.py
  tit/pre/__main__.py
  tit/pre/dicom2nifti.py
  tit/pre/preflight.py
  tit/pre/structural.py
  tit/tools/__init__.py
  tit/tools/thalamus_rois.py
Due: preprocessing

Add ROI overlay selector to NIfTI viewer
  tit/gui/nifti_viewer_tab.py
Due: none

Fix QSIPrep preflight false-negative on Windows hosts
  tit/pre/qsi/utils.py
Due: preprocessing

Add tit.source EEG forward + fsaverage field-mapping module
  tests/conftest.py
  tests/test_source.py
  tit/gui/main.py
  tit/gui/source_tab.py
  tit/paths.py
  tit/source/__init__.py
  tit/source/__main__.py
  tit/source/config.py
  tit/source/forward.py
  tit/source/fsaverage.py
Due: none

Add mne to SimNIBS container for EEG forward pipeline
  container/blueprint/Dockerfile.simnibs
  container/blueprint/Dockerfile.simnibs.dev
Due: none

Redesign Electron launcher UI
  package/src/index.html
  package/src/main.js
  package/src/renderer.js
  package/src/styles.css
Due: none

Add symmetric bucket search and averaging utility
  scripts/average_ex_search_results.py
  tests/test_average_ex_search_results.py
  tests/test_ex_buckets.py
  tests/test_ex_logic.py
  tests/test_opt_config.py
  tit/gui/ex_search_tab.py
  tit/opt/config.py
  tit/opt/ex/buckets.py
  tit/opt/ex/engine.py
  tit/opt/ex/ex.py
  tit/opt/ex/logic.py
Due: optimizer

Fix DWI DICOM conversion and empty-dir recon-all false positive; clean up tit/pre
  tests/test_pre_dicom.py
  tests/test_pre_pipeline.py
  tests/test_pre_preflight.py
  tests/test_pre_qsi_docker.py
  tests/test_pre_qsi_prep.py
  tests/test_pre_qsi_recon.py
  tests/test_pre_utils_full.py
  tit/pre/__main__.py
  tit/pre/dicom2nifti.py
  tit/pre/preflight.py
  tit/pre/qsi/config.py
  tit/pre/qsi/debug_dti.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/qsirecon.py
  tit/pre/qsi/utils.py
  tit/pre/recon_all.py
  tit/pre/structural.py
  tit/pre/tissue_analyzer.py
  tit/pre/utils.py
Due: preprocessing
