Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

pre: fix DICOM scan crash on macOS junk files; add CT + NIfTI ingestion
  tests/test_integration_flows.py
  tests/test_pre_dicom.py
  tests/test_pre_pipeline.py
  tests/test_pre_utils_full.py
  tit/gui/help_tab.py
  tit/gui/pre_process_tab.py
  tit/paths.py
  tit/pre/dicom2nifti.py
  tit/pre/preflight.py
  tit/pre/structural.py
  tit/pre/utils.py
Due: preprocessing

pre: address review — fix CT case shadowing, archive collisions, symlink cycles
  tests/test_analyzer_full.py
  tests/test_analyzer_group.py
  tests/test_atlas_coverage.py
  tests/test_blender_config.py
  tests/test_blender_integration.py
  tests/test_electrode_overlay.py
  tests/test_flex_manifest.py
  tests/test_pre_dicom.py
  tests/test_pre_pipeline.py
  tests/test_stats_coverage.py
  tests/test_stats_main.py
  tests/test_telemetry.py
  tit/pre/dicom2nifti.py
  tit/pre/utils.py
Due: preprocessing

pre: fix DICOM scan crash on macOS junk files; add CT + NIfTI ingestion (#133)
  tests/test_analyzer_full.py
  tests/test_analyzer_group.py
  tests/test_atlas_coverage.py
  tests/test_blender_config.py
  tests/test_blender_integration.py
  tests/test_electrode_overlay.py
  tests/test_flex_manifest.py
  tests/test_integration_flows.py
  tests/test_pre_dicom.py
  tests/test_pre_pipeline.py
  tests/test_pre_utils_full.py
  tests/test_stats_coverage.py
  tests/test_stats_main.py
  tests/test_telemetry.py
  tit/gui/help_tab.py
  tit/gui/pre_process_tab.py
  tit/paths.py
  tit/pre/dicom2nifti.py
  tit/pre/preflight.py
  tit/pre/structural.py
  tit/pre/utils.py
Due: preprocessing

[3D Visualizer] Searchable label picker + subcortical field PLY export (#132)
  TODO.md
  tit/gui/extensions/visual_exporter.py
  tit/tools/nifti_to_mesh.py
Due: none

tests: fix stale flex-search mocks and stop MagicMock/ leaking into the repo
  tests/test_opt_flex.py
  tests/test_pre_pipeline.py
Due: none

tests: fix stale flex-search mocks and stop MagicMock/ leaking into the repo (#134)
  tests/test_opt_flex.py
  tests/test_pre_pipeline.py
Due: none

Release v2.4.0
  dev/loader/docker-compose.dev.yml
  docker-compose.yml
  docs/_layouts/releases.html
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.4.0.md
  package/docker/docker-compose.yml
  package/package.json
  package/src/index.html
  package/src/main.js
  resources/dataset_descriptions/simnibs.dataset_description.json
  tit/__init__.py
  version.py
Due: none

docs(release): bold release-note lead-ins to match prior release pages
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.4.0.md
Due: none

removed double title
  docs/releases/v2.3.1.md
Due: none

removed download links text
  docs/releases/v2.2.1.md
  docs/releases/v2.2.2.md
  docs/releases/v2.2.3.md
  docs/releases/v2.2.4.md
  docs/releases/v2.3.0.md
  docs/releases/v2.3.1.md
  docs/releases/v2.3.2.md
  docs/releases/v2.4.0.md
Due: none

fix(gui): populate sim combos when first subject has no simulations
  tit/gui/analyzer_tab.py
  tit/gui/nifti_viewer_tab.py
Due: none

fix(gui): require complete electrode dimensions in flex-search
  tit/gui/components/electrode_config.py
  tit/gui/flex_search_tab.py
Due: none

ci: bump action-gh-release v1->v2 to overwrite existing assets
  .github/workflows/release-build.yml
Due: none

ci: bump action-gh-release v1->v2 to overwrite existing assets (#135)
  .github/workflows/release-build.yml
Due: none

docs: adopt MNE-style software citation metadata
  .zenodo.json
  CITATION.cff
  README.md
  dev/update/update_version.py
Due: none

fix: use Zenodo's canonical lowercase license identifier
  .zenodo.json
Due: none

readme cleanup
  README.md
Due: none

docs: add Zenodo DOIs for the archived software
  CITATION.cff
  README.md
Due: none

opt: add threshold-free focality goals to flex-search (F5)
  tests/test_opt_builder.py
  tests/test_opt_config.py
  tests/test_opt_flex.py
  tests/test_opt_flex_utils.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/utils.py
Due: optimizer

feat(calc): verified N-pair mTI envelope with per-pair phase (mti-focality-core Phase 1)
  scripts/verify_mti_envelope.py
  tests/test_calc_mti.py
  tests/test_opt_config.py
  tit/calc.py
  tit/opt/__init__.py
  tit/opt/config.py
Due: optimizer

feat(calc,opt): exact K=1 envelope, robust K>=2 refinement, carrier metrics (mti-carrier-metrics Phase 2)
  scripts/verify_mti_envelope.py
  tests/test_calc_mti.py
  tests/test_ex_logic.py
  tests/test_opt_config.py
  tests/test_opt_engine.py
  tests/test_opt_ex.py
  tit/calc.py
  tit/opt/carrier.py
  tit/opt/config.py
  tit/opt/ex/engine.py
  tit/opt/ex/ex.py
  tit/opt/ex/results.py
Due: optimizer

fix(tests): patch engine's own TI reference, not a fresh reimport
  tests/test_opt_engine.py
Due: none

fix(opt): correct N>2 mTI field model and make it runnable (F1/F10/F11)
  tests/test_opt_mp.py
  tit/opt/config.py
  tit/opt/fast_eval.py
  tit/opt/mp/engine.py
  tit/opt/mp/optimizer.py
  tit/opt/mp/results.py
Due: optimizer

fix(opt): derive atlas voxel size from affine column norms, not diagonal
  tit/opt/roi.py
Due: optimizer

fix(opt): support union of atlas labels in ROIResolver
  tit/opt/roi.py
Due: optimizer

feat(opt): FEM-based evaluator for continuous (pre-mapping) montages
  tests/test_opt_montage_eval.py
  tit/opt/montage_eval.py
Due: optimizer

perf(opt): fix mp DE search throughput on real leadfields (F10 follow-up)
  tests/test_opt_mp.py
  tit/opt/config.py
  tit/opt/fast_eval.py
  tit/opt/mp/optimizer.py
  tit/opt/mp/results.py
Due: optimizer

fix: port verified mTI metric groundwork, warn on broken postproc option, fix vacuous tests
  tests/README_TESTING.md
  tests/test_calc_mti.py
  tests/test_opt_builder.py
  tests/test_opt_engine.py
  tit/calc.py
  tit/opt/flex/builder.py
Due: optimizer

feat(opt): project cortical surface-atlas labels into the GM ribbon for leadfield ROIs
  tests/test_opt_config.py
  tests/test_opt_roi.py
  tit/config_io.py
  tit/opt/config.py
  tit/opt/mp/__main__.py
  tit/opt/roi.py
Due: optimizer

calc: adopt Hirata 2024 sign-agnostic TI form, port peak-HF carrier metric
  tests/test_calc_mti.py
  tit/calc.py
Due: none

feat(opt): add threshold-free integral-focality goal to flex-search
  tests/test_objectives.py
  tests/test_opt_builder.py
  tests/test_opt_config.py
  tests/test_opt_flex_utils.py
  tit/gui/flex_search_tab.py
  tit/opt/config.py
  tit/opt/flex/builder.py
  tit/opt/flex/objectives.py
  tit/opt/flex/utils.py
Due: optimizer

examples: deep-vs-superficial focality comparison on ernie
  examples/focality_integral_ernie/README.md
  examples/focality_integral_ernie/make_report.py
  examples/focality_integral_ernie/run_comparison.py
Due: none

fix(examples): capture per-cell trajectory via in-process log handler
  examples/focality_integral_ernie/run_comparison.py
Due: none

examples: rich visual comparison report (field, scalp, ROC, distributions)
  examples/focality_integral_ernie/make_report.py
  examples/focality_integral_ernie/run_comparison.py
Due: none

examples: honest findings, polished report generator, runner flags
  examples/focality_integral_ernie/README.md
  examples/focality_integral_ernie/make_artifact.py
  examples/focality_integral_ernie/run_comparison.py
Due: none

examples: retire flatness claim in report narrative (empirically disproven)
  examples/focality_integral_ernie/make_artifact.py
Due: none

examples: budget-aware report narrative (convergence story)
  examples/focality_integral_ernie/make_artifact.py
Due: none

examples: 3-arm x 2-target study with T1 overlay + objective explanation
  examples/focality_integral_ernie/README.md
  examples/focality_integral_ernie/make_artifact.py
  examples/focality_integral_ernie/make_report.py
  examples/focality_integral_ernie/run_comparison.py
  examples/focality_integral_ernie/t1_overlay.py
Due: none

fix(examples): init PathManager from PROJECT_DIR in make_report
  examples/focality_integral_ernie/make_report.py
Due: none

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
