Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

Delete tracks/active directory
  tracks/active/fix-cicd-pipeline.md
Due: none

Delete tracks/active directory (#76)
  tracks/active/fix-cicd-pipeline.md
Due: none

simulation output fixed and update
  tit/gui/simulator_tab.py
  tit/reporting/generators/simulation.py
Due: none

Simplified/Corrected Peak HF field calculation
  tests/test_calc.py
  tit/calc.py
Due: none

GUI would not load, no tit.cli
  container/blueprint/apptainer.def
  dev/loader/docker-compose.dev.yml
  docs/installation/hpc-apptainer.md
  package/docker/loader.sh
  package/src/backend/docker-manager.js
Due: none

GUI would not load, no tit.cli (#77)
  container/blueprint/apptainer.def
  dev/loader/docker-compose.dev.yml
  docs/installation/hpc-apptainer.md
  package/docker/loader.sh
  package/src/backend/docker-manager.js
Due: none

Analysis Tissue selection didn't work
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/analyzer/group.py
  tit/gui/analyzer_tab.py
  tit/paths.py
Due: analyzer

analyzer tissue feature
  tests/test_analyzer_modules.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/gui/analyzer_tab.py
Due: analyzer

Analyzer tissue (#78)
  tests/test_analyzer_modules.py
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/analyzer/group.py
  tit/gui/analyzer_tab.py
  tit/paths.py
Due: analyzer

updated analyzer&visualizer to handle atlases correctly.
  tests/test_analyzer.py
  tests/test_atlas.py
  tests/test_integration.py
  tit/analyzer/__init__.py
  tit/analyzer/analyzer.py
  tit/atlas/__init__.py
  tit/atlas/constants.py
  tit/atlas/mesh.py
Due: analyzer

Add combined ROI support: analyze_cortex() accepts list of regions
  tests/test_analyzer_full.py
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/analyzer/group.py
Due: analyzer

Add combined ROI multi-region selection to analyzer GUI tab
  tit/gui/analyzer_tab.py
Due: none

Combined/distributed ROI analysis
  tests/test_analyzer_full.py
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/gui/analyzer_tab.py
Due: analyzer

Feature/combined roi unified (#79)
  tests/test_analyzer_full.py
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/analyzer/group.py
  tit/gui/analyzer_tab.py
Due: analyzer

clean up of preproc and nifti viewer tabs
  tit/atlas/__init__.py
  tit/atlas/constants.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/pre_process_tab.py
Due: none

fixed width of long file names breaking UI
  tit/gui/analyzer_tab.py
Due: none

removed unused packages
  tit/sim/utils.py
Due: simulator

updated the simulator montage approach for a cleaner api surface
  docs/api_mkdocs/docs/getting-started.md
  docs/api_mkdocs/docs/index.md
  docs/api_mkdocs/docs/pipeline/simulation.md
  docs/wiki/scripting.md
  docs/wiki/simulator.md
  scripts/pipeline.py
  scripts/simulator.py
  tests/test_integration.py
  tests/test_sim_config.py
  tests/test_sim_pipeline.py
  tests/test_sim_utils.py
  tit/config_io.py
  tit/gui/simulator_tab.py
  tit/sim/TI.py
  tit/sim/__init__.py
  tit/sim/__main__.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator

syntax and types updates to reflect python 3.11
  tit/opt/ex/results.py
  tit/sim/utils.py
Due: simulator, optimizer

small fix.
  tit/sim/TI.py
Due: simulator

removed overwriting from sim tab
  tit/gui/simulator_tab.py
Due: none

change electrodes for robustness against edges
  scripts/simulator.py
Due: none

cleaned some things
  tit/gui/analyzer_tab.py
  tit/gui/extensions/quick_notes.py
  tit/gui/flex_search_tab.py
  tit/pre/structural.py
  tit/reporting/core/base.py
Due: preprocessing

maps abbreviations like CDT → America/Chicago using a lookup table
  tit/gui/extensions/quick_notes.py
Due: none

tightening API surface area of optimizers
  tests/test_config_io.py
  tests/test_ex_logic.py
  tests/test_flex_manifest.py
  tests/test_integration.py
  tests/test_opt_builder.py
  tests/test_opt_config.py
  tests/test_opt_ex.py
  tests/test_opt_flex.py
  tests/test_opt_flex_utils.py
  tests/test_opt_main.py
  tests/test_opt_pareto.py
  tests/test_opt_results.py
  tit/analyzer/visualizer.py
  tit/config_io.py
  tit/gui/components/electrode_config.py
  tit/gui/components/roi_picker.py
  tit/gui/ex_search_tab.py
  tit/gui/flex_search_tab.py
  tit/opt/__init__.py
  tit/opt/config.py
  tit/opt/ex/__init__.py
  tit/opt/ex/__main__.py
  tit/opt/ex/engine.py
  tit/opt/ex/ex.py
  tit/opt/ex/logic.py
  tit/opt/ex/results.py
  tit/opt/flex/__main__.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/manifest.py
  tit/opt/flex/pareto.py
  tit/opt/flex/utils.py
  tit/opt/leadfield.py
Due: analyzer, optimizer

auto resolve of lf path
  tit/opt/ex/ex.py
Due: optimizer

cleaning scripts for production
  scripts/ex.py
  scripts/flex.py
  scripts/leadfield.py
  scripts/optimizer.py
  scripts/pipeline.py
  scripts/preprocess.py
Due: none

cleaning scripts for production
  scripts/ex.py
  scripts/pipeline.py
Due: none

updates to blender and clsuter-permutation
  dev/security/SECURITY_MASTER_DOCUMENT.md
  docs/search/search.json
  docs/wiki/blender.md
  scripts/blender.py
  scripts/cluster_permutation.py
  scripts/ex.py
  tests/conftest.py
  tests/test_blender_config.py
  tests/test_blender_integration.py
  tests/test_blender_io.py
  tests/test_scripts.py
  tests/test_stats_config.py
  tests/test_stats_full.py
  tit/blender/__init__.py
  tit/blender/__main__.py
  tit/blender/api.py
  tit/blender/config.py
  tit/blender/electrode_placement.py
  tit/blender/io.py
  tit/blender/montage_publication.py
  tit/blender/region_exporter.py
  tit/blender/region_ply_exporter.py
  tit/blender/region_stl_exporter.py
  tit/blender/scene_setup.py
  tit/blender/utils.py
  tit/blender/vector_field_exporter.py
  tit/config_io.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/visual_exporter.py
  tit/stats/__init__.py
  tit/stats/__main__.py
  tit/stats/config.py
  tit/stats/engine.py
  tit/stats/io_utils.py
  tit/stats/nifti.py
  tit/stats/permutation.py
  tit/stats/posthoc_atlas_analysis.py
  tit/stats/reporting.py
Due: stats

specific regions
  scripts/blender.py
Due: none

Update nifti_viewer_tab.py
  tit/gui/nifti_viewer_tab.py
Due: none

unit tests
  tests/test_analyzer_group.py
  tests/test_atlas_coverage.py
  tests/test_plotting.py
  tests/test_reporting_generators.py
  tests/test_stats_coverage.py
Due: none

unit tests
  tests/test_plotting.py
Due: none

unit tests
  tests/test_atlas_coverage.py
  tests/test_stats_main.py
Due: none

reverted back to pulling docker image everytime to save time
  .circleci/config.yml
Due: none

v2.3.0
  container/blueprint/README.md
  dev/loader/docker-compose.dev.yml
  docker-compose.yml
  docs/_layouts/releases.html
  package/docker/docker-compose.yml
  package/package.json
  package/src/index.html
  package/src/main.js
  tit/pre/qsi/dti_extractor.py
  version.py
Due: preprocessing

v2.3.0
  docs/releases/changelog.md
  docs/releases/releases.md
  docs/releases/v2.3.0.md
Due: none

use nvim executable instead of building from source
  container/blueprint/Dockerfile.simnibs
Due: none

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
