Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer

docs update
  docs/_layouts/gallery.html
  docs/gallery/UI.md
  docs/gallery/analysis.md
  docs/gallery/blender.md
  docs/gallery/flex-search.md
  docs/gallery/gallery.md
  docs/gallery/gmsh-freeview.md
  docs/gallery/nilearn.md
  docs/gallery/pre-processing.md
  docs/gallery/simulations.md
  docs/gallery/statistics.md
Due: none

added visualizers tab to the wiki page
  docs/_layouts/wiki.html
  docs/wiki/visualizers.md
  docs/wiki/wiki.md
Due: none

added labeling.nii.gz to the freeview visualizer in case no reconall ran
  tit/gui/nifti_viewer_tab.py
Due: none

added a more comperhensive explanation regarding visualizers
  docs/assets/imgs/visualizers/freeview_example.png
  docs/assets/imgs/visualizers/freeview_menu.png
  docs/assets/imgs/visualizers/gmsh_launching.png
  docs/assets/imgs/visualizers/gmsh_options_menu.png
  docs/assets/imgs/visualizers/gmsh_tools_menu.png
  docs/assets/imgs/visualizers/group_diff_nifti.png
  docs/assets/imgs/visualizers/visualizer_MRI_ROI.png
  docs/assets/imgs/visualizers/visualizer_MRI_ROI_field.png
  docs/assets/imgs/visualizers/visualizer_MRI_atlas.png
  docs/assets/imgs/visualizers/visualizer_MRI_atlas_field.png
  docs/gallery/gmsh-freeview.md
  docs/gallery/simulations.md
  docs/wiki/nifti-group-averaging.md
  docs/wiki/visualizers.md
Due: none

correct output to montage publication
  tit/cli/vis_blender.py
Due: none

added dti info and images to simulator wiki and gallery
  docs/assets/imgs/simulator/dti_CC.png
  docs/assets/imgs/simulator/dti_spinal.png
  docs/gallery/simulations.md
  docs/wiki/simulator.md
Due: none

cleaned blender and blender cli tool
  tit/blender/montage_publication.py
  tit/cli/vis_blender.py
Due: none

redid simulator cli, plus moved some montage logic to tit.sim and removed from GUI
  tit/cli/simulator.py
  tit/gui/simulator_tab.py
  tit/sim/montage_loader.py
  tit/sim/utils.py
Due: simulator

super simplifed leadfield creation
  tit/cli/create_leadfield.py
Due: none

ex_search cli and gui cleanup with slight refactor
  tit/cli/ex_search.py
  tit/core/paths.py
  tit/core/roi.py
  tit/gui/ex_search_tab.py
  tit/opt/ex/__init__.py
  tit/opt/ex/config.py
  tit/opt/ex/main.py
  tit/opt/ex/roi_utils.py
Due: core, optimizer

ex_search cli and gui cleanup with slight refactor
  tit/opt/leadfield.py
Due: optimizer

flex search cleanup
  tit/cli/flex_search.py
  tit/gui/flex_search_tab.py
  tit/opt/__init__.py
  tit/opt/flex/flex_config.py
  tit/opt/flex/flex_log.py
  tit/opt/flex/utils.py
Due: optimizer

cleaned cluster permutation + added location for .csv files /derivatives/ti-toolbox/stats/data/*.csv
  tit/cli/cluster_permuatation.py
  tit/gui/extensions/cbp.py
Due: none

clean cli wrapper of GUI
  tit/cli/gui.py
Due: none

moved batch simulate to be under advanced to avoid confusion
  tit/cli/advanced/batch_simulate.py
Due: none

added base and utils to cli to create a consist and clean scheme
  tit/cli/base.py
  tit/cli/utils.py
Due: none

preprocess cli cleaned according to others
  tit/cli/pre_process.py
Due: none

analyzer clenaup + implementation of more core path to be recycled.
  tests/conftest.py
  tests/test_cli.py
  tests/test_viz.py
  tit/analyzer/field_selector.py
  tit/analyzer/main_analyzer.py
  tit/analyzer/mesh_analyzer.py
  tit/analyzer/visualizer.py
  tit/analyzer/voxel_analyzer.py
  tit/cli/analyzer.py
  tit/cli/group_analyzer.py
  tit/cli/pre_process.py
  tit/core/__init__.py
  tit/core/paths.py
  tit/gui/analyzer_tab.py
  tit/gui/nifti_viewer_tab.py
  tit/plotting/_common.py
  tit/plotting/focality.py
  tit/reporting/__init__.py
  tit/sim/simulator.py
Due: core, simulator, analyzer

fixed analyzer. updated path approach throughout the codebase, added tests
  tit/analyzer/compare_analyses.py
  tit/analyzer/field_selector.py
  tit/analyzer/main_analyzer.py
  tit/analyzer/mesh_analyzer.py
  tit/analyzer/visualizer.py
  tit/analyzer/voxel_analyzer.py
  tit/blender/montage_publication.py
  tit/blender/publication_utils.py
  tit/blender/utils.py
  tit/cli/analyzer.py
  tit/cli/create_leadfield.py
  tit/cli/ex_search.py
  tit/cli/group_analyzer.py
  tit/cli/gui.py
  tit/cli/pre_process.py
  tit/cli/simulator.py
  tit/core/__init__.py
  tit/core/nifti.py
  tit/core/paths.py
  tit/gui/analyzer_tab.py
  tit/gui/ex_search_tab.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/electrode_placement.py
  tit/gui/extensions/nifti_group_average.py
  tit/gui/extensions/visual_exporter.py
  tit/gui/movea_tab.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/simulator_tab.py
  tit/opt/ex/main.py
  tit/opt/ex/roi_utils.py
  tit/opt/flex/flex_config.py
  tit/opt/leadfield.py
  tit/plotting/nilearn/visualizer.py
  tit/sim/session_builder.py
  tit/sim/simulator.py
Due: core, simulator, analyzer, optimizer

fixed analyzer. updated path approach throughout the codebase, added tests
  pytest.ini
  tests/conftest.py
  tests/run_tests.sh
  tests/test_compare_analyses.py
  tests/test_csv_group_comparator.py
  tests/test_field_selector.py
  tests/test_main_analyzer.py
  tests/test_montage_loader.py
  tests/test_nifti.py
  tests/test_paths.py
  tests/test_paths_resolver.py
  tests/test_session_builder.py
  tests/test_visualizer.py
Due: none

tests are passing locally with coverage flag
  tests/test_ex_analyzer.py
Due: none

continue on fixing integration tests given latest changes
  tests/test_analyzer_runner.sh
  tests/test_simulator_runner.sh
Due: none

continue on fixing integration tests given latest changes
  tests/test_analyzer_outputs.bats
  tests/test_simulator_runner.sh
Due: none

corrected cleaning
  tests/test_simulator_runner.sh
Due: none

increased coveraged and streamlined framanted testing logic
  .circleci/config.yml
  .coveragerc
  .gitignore
  codecov.yml
  pytest.ini
  tests/README_TESTING.md
  tests/conftest.py
  tests/run_tests.sh
  tests/test.sh
  tests/test_leadfield.py
  tests/test_process.py
  tests/test_reporting_preprocessing_report_generator.py
  tests/test_reporting_report_util.py
  tests/test_reporting_simulation_report_generator.py
  tests/test_tools_tissue_analyzer.py
Due: none

added testing coverage
  tests/test_cli_simulator_flex.py
  tests/test_cli_utils.py
  tests/test_opt_flex_multi_start.py
  tests/test_opt_flex_multi_start_summary.py
  tests/test_reporting_preprocessing_generator.py
  tests/test_reporting_simulation_generator.py
  tests/test_stats_permutation_analysis_config.py
  tests/test_stats_permutation_analysis_workflow.py
  tests/test_stats_stats_utils.py
Due: none

corrects some issue, improved input in direct mode
  tests/test_analyzer_runner.sh
  tests/test_cli.py
  tests/test_cli_argparse_usability.py
  tests/test_cli_direct_smoke.py
  tests/test_cli_simulator_flex_mode.py
  tests/test_cli_utils_high_impact.py
  tests/test_leadfield.py
  tests/test_opt_flex_multistart.py
  tests/test_opt_flex_multistart_more.py
  tests/test_paths_resolver.py
  tests/test_simulator_runner.sh
  tests/test_stats_permutation_analysis_dispatch.py
  tests/test_stats_permutation_analysis_workflow_io.py
  tests/test_stats_utils_high_impact.py
  tit/blender/montage_publication.py
  tit/cli/advanced/batch_simulate.py
  tit/cli/base.py
  tit/cli/cluster_permuatation.py
  tit/cli/create_leadfield.py
  tit/cli/ex_search.py
  tit/cli/group_analyzer.py
  tit/cli/gui.py
  tit/cli/pre_process.py
  tit/cli/simulator.py
  tit/cli/utils.py
  tit/cli/vis_blender.py
  tit/core/constants.py
  tit/core/paths.py
  tit/gui/extensions/visual_exporter.py
  tit/gui/pre_process_tab.py
  tit/gui/simulator_tab.py
  tit/opt/ex/main.py
  tit/opt/flex/flex_config.py
  tit/opt/flex/flex_log.py
  tit/opt/leadfield.py
  tit/pre/tissue-analyzer.sh
Due: core, optimizer

fix more tests
  tests/test_cli.py
  tests/test_constants.py
  tit/benchmark/simulator.py
  tit/blender/utils.py
  tit/cli/analyzer.py
  tit/cli/base.py
  tit/cli/create_leadfield.py
  tit/cli/simulator.py
  tit/core/constants.py
  tit/gui/simulator_tab.py
  tit/new_project/configs/ex.json
  tit/new_project/configs/simulator.json
  tit/reporting/simulation_report_generator.py
  tit/sim/config.py
  tit/sim/subprocess_runner.py
  tit/tools/map_electrodes.py
  tit/tools/montage_visualizer.py
Due: core, simulator

replaced all old instancs of EGI_template with GSN-HydroCel-185
  tests/test_simulator.py
  tit/sim/README.md
  tit/tools/montage_visualizer.py
Due: simulator

replaced all old instancs of EGI_template with GSN-HydroCel-185
  tests/test_cli.py
  tests/test_cli_argparse_usability.py
  tests/test_cli_simulator_flex.py
  tests/test_cli_simulator_flex_mode.py
  tests/test_core_integration.py
  tests/test_montage_loader.py
  tests/test_montage_visualizer.py
  tests/test_opt_flex_multi_start_summary.py
  tests/test_opt_flex_multistart_more.py
  tests/test_reporting_simulation_generator.py
  tests/test_session_builder.py
  tests/test_simulator.py
  tests/test_simulator_runner.sh
  tests/test_subprocess_runner.py
Due: none

replaced all old instancs of EGI_template with GSN-HydroCel-185
  docs/assets/other/simulation_report_20250610_063527.html
Due: none

replaced all old instancs of EGI_template with GSN-HydroCel-185
  docs/search/search.json
Due: none

Removed undefined variable check that caused GUI crash when terminated a pre-process
  tit/core/process.py
Due: core

all tests passing
  tests/test_cli_direct_smoke.py
  tests/test_field_selector.py
  tests/test_stats_permutation_analysis_dispatch.py
  tests/test_stats_utils_high_impact.py
Due: none

typo in gui name
  tit/cli/gui.py
Due: none

typo in cbp
  tit/gui/extensions/cbp.py
Due: none

integrating the new montage visualizer to the gui extension
  tit/gui/extensions/visual_exporter.py
Due: none

Path conditions:
  core: any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**
  simulator: any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**
  analyzer: any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**
  optimizer: any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**
