Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "tit/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "tit/blender/**"     # Blender scripts (require Blender)
  - "tit/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - tit/core/
    carryforward: true

  simulator:
    paths:
      - tit/sim/
    carryforward: true

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: true

  optimizer:
    paths:
      - tit/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

codecov.yml:

# Codecov Configuration for TI-Toolbox
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage report settings
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Coverage for individual patches/PRs
    patch:
      default:
        target: 65%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Component-specific coverage flags
# These match the flags passed in CircleCI: -F unittests,core,simulator,analyzer,optimizer
flags:
  unittests:
    paths:
      - tests/
    carryforward: false

  core:
    paths:
      - tit/core/
    carryforward: false
    target: 80%

  simulator:
    paths:
      - tit/sim/
    carryforward: false
    target: 70%

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: false
    target: 75%

  optimizer:
    paths:
      - tit/opt/
    carryforward: false
    target: 65%

  stats:
    paths:
      - tit/stats/
    carryforward: false
    target: 60%

  plotting:
    paths:
      - tit/plotting/
    carryforward: false
    target: 60%

  preprocessing:
    paths:
      - tit/pre/
    carryforward: false
    target: 60%

# Files to ignore in coverage reports
ignore:
  - "**/__pycache__"
  - "**/*.pyc"
  - "**/test_*.py"
  - "tests/**"
  - "setup.py"
  - "version.py"
  - "**/gui/**"  # GUI code is harder to test in headless environments
  - "**/__init__.py"  # Init files are often just imports

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - master

# GitHub status checks configuration
github_checks:
  annotations: true

refactor(reporting): the DTI report, its advisories and the HTML layer carry no dead flexibility
  tit/plotting/slices.py
  tit/pre/qsi/dti_advisories.py
  tit/reporting/generators/dti_qc.py
  tit/reporting/html/components.py
  tit/reporting/html/report.css
  tit/reporting/qc_rules.py
Due: plotting, preprocessing

fix(dti): the DTI report headline names what the page shows, and the masthead shows when the tensor was written
  docs/dev/CHANGELOG.md
  tests/numerical/test_dti_advisories.py
  tests/test_reporting_dti_qc.py
  tit/reporting/generators/dti_qc.py
  tit/reporting/html/components.py
Due: none

refactor(reports): reports carry no print stylesheet, since PDF export is not offered
  docs/dev/ARCHITECTURE.md
  tit/reporting/core/templates.py
  tit/reporting/html/components.py
  tit/reporting/html/report.css
Due: none

docs(reports): TI-Toolbox keeps five report kinds; the catalog no longer titles mEx-search reports
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tit/catalog.py
  tit/reporting/README.md
Due: none

refactor(dti): the DTI report cites methods by registry key; the label map it duplicated is gone
  tit/reporting/generators/dti_qc.py
Due: none

feat(pre): the charm stage copies SimNIBS's charm report into the subject's reports
  tests/test_pre_charm.py
  tit/catalog.py
  tit/pre/charm.py
Due: preprocessing

feat(reports): every simulation writes a simulator report on the shared report layer
  docs/dev/CHANGELOG.md
  resources/amv/10-10.csv
  tests/test_ci_data_integration.py
  tests/test_nilearn_cutoffs.py
  tests/test_report_previews.py
  tests/test_reporting_generators.py
  tests/test_reporting_runs.py
  tit/plotting/nilearn/config.py
  tit/plotting/nilearn/cutoffs.py
  tit/plotting/slices.py
  tit/reporting/__init__.py
  tit/reporting/generators/__init__.py
  tit/reporting/generators/common.py
  tit/reporting/generators/dti_qc.py
  tit/reporting/generators/simulation.py
  tit/reporting/html/components.py
  tit/reporting/html/report.css
  tit/reporting/qc_rules.py
  tit/reporting/reportlets/references.py
  tit/sim/base.py
  tit/tools/montage_visualizer.py
Due: simulator, plotting

feat(reports): the flex-search report names the target, explains the score and fits in 0.3 MB
  docs/dev/CHANGELOG.md
  tests/test_opt_builder.py
  tests/test_opt_flex.py
  tests/test_report_previews.py
  tests/test_reporting_generators.py
  tests/test_reporting_runs.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/reporting/__init__.py
  tit/reporting/generators/__init__.py
  tit/reporting/generators/flex_search.py
Due: optimizer

feat(reports): ex-search writes a report: the winner on the cap, every montage in one chart, a sortable top 25
  docs/dev/CHANGELOG.md
  tests/test_reporting_runs.py
  tit/opt/ex/ex.py
  tit/reporting/generators/common.py
  tit/reporting/generators/ex_search.py
  tit/reporting/generators/flex_search.py
  tit/reporting/generators/simulation.py
Due: optimizer

refactor(reports)!: one report layer: the reportlet/assembler layer is deleted and the references are data
  contracts/generated/config.schema.json
  contracts/generated/openapi.json
  desktop/src/renderer/api/schema.d.ts
  docs/api_mkdocs/docs/getting-started.md
  docs/api_mkdocs/docs/pipeline/reporting.md
  docs/assets/other/simulation_report_20260826_223702.html
  docs/assets/other/simulation_report_ernie.html
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/dev/TESTING.md
  docs/wiki/reports.md
  tests/test_reporting.py
  tests/test_reporting_dti_qc.py
  tests/test_reporting_generators.py
  tit/__init__.py
  tit/reporting/README.md
  tit/reporting/__init__.py
  tit/reporting/core/__init__.py
  tit/reporting/core/assembler.py
  tit/reporting/core/base.py
  tit/reporting/core/protocols.py
  tit/reporting/core/templates.py
  tit/reporting/generators/__init__.py
  tit/reporting/generators/base_generator.py
  tit/reporting/html/components.py
  tit/reporting/qc_rules.py
  tit/reporting/references.py
  tit/reporting/reportlets/__init__.py
  tit/reporting/reportlets/images.py
  tit/reporting/reportlets/metadata.py
  tit/reporting/reportlets/text.py
Due: none

fix(reports): flex-search drops the restart-count and current advisories, simulator drops the ROI outline
  tests/test_reporting_runs.py
  tit/reporting/generators/flex_search.py
  tit/reporting/generators/simulation.py
  tit/reporting/qc_rules.py
Due: none

fix(reports): ex-search drops its only advisory, references reflect only what each page shows
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  tests/test_reporting_dti_qc.py
  tests/test_reporting_runs.py
  tit/reporting/generators/common.py
  tit/reporting/generators/dti_qc.py
  tit/reporting/generators/ex_search.py
  tit/reporting/generators/flex_search.py
  tit/reporting/generators/simulation.py
  tit/reporting/qc_rules.py
  tit/reporting/references.py
Due: none

fix(reports): no ROI or checks in simulator report, no cap in flex/ex
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/dev/TESTING.md
  docs/wiki/reports.md
  tests/test_reporting_runs.py
  tit/reporting/generators/common.py
  tit/reporting/generators/ex_search.py
  tit/reporting/generators/flex_search.py
  tit/reporting/generators/simulation.py
  tit/reporting/qc_rules.py
  tit/reporting/references.py
Due: none

fix(reports): PO10 draws on GSN E168, ex-search names the winner's electrodes, report leftovers are gone
  agent-plugin/mcp/server.py
  agent-plugin/skills/ti-codebase/SKILL.md
  agent-plugin/skills/ti-toolbox/SKILL.md
  docs/api_mkdocs/docs/getting-started.md
  docs/api_mkdocs/docs/pipeline/reporting.md
  docs/assets/other/simulation_report_ernie.html
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/flex-search.md
  docs/wiki/jobs.md
  docs/wiki/montage_visualizer.md
  docs/wiki/reports.md
  docs/wiki/simulator.md
  docs/wiki/telemetry.md
  docs/wiki/wiki.md
  resources/amv/10-10.csv
  tests/test_reporting_runs.py
  tit/constants.py
  tit/opt/flex/__init__.py
  tit/plotting/nilearn/visualizer.py
  tit/reporting/README.md
  tit/reporting/generators/ex_search.py
  tit/reporting/generators/simulation.py
  tit/reporting/html/report.css
  tit/server/routes/files.py
Due: optimizer, plotting

release: v3.0.2
  CITATION.cff
  README.md
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/stack.ts
  desktop/tests/unit/stack-image-attach.test.ts
  docker-compose.yml
  docs/_data/downloads.yml
  docs/_data/nav.yml
  docs/dev/CHANGELOG.md
  docs/dev/RELEASING.md
  docs/releases/releases.md
  docs/releases/v3.0.2.md
  loader.sh
  resources/dataset_descriptions/simnibs.dataset_description.json
  tests/test_bash_loader_lifecycle.py
  tests/test_launch.py
  tests/test_launch_image.py
  tit/__init__.py
  tit/launch.py
  version.py
Due: none

docs(releases): v3.0.2 notes show Ernie's corrected DTI in TetraVox
  docs/assets/imgs/releases/v3.0.2/ernie_t1_dti_tetravox.png
Due: none

chore: stop tracking the film animatic committed by accident; ignore Claude outputs/
  .gitignore
  Claude outputs/ti_film_animatic.mp4
Due: none

cleanup
  docs/releases/v3.0.2.md
Due: none

docs(changelog): every v2 release heading carries its release date
  docs/dev/CHANGELOG.md
Due: none

feat(sim): carrier-only (ΔF = 0) control with coherent carrier fields
  agent-plugin/mcp/server.py
  contracts/CHANGES.md
  contracts/generated/config.schema.json
  contracts/generated/openapi.json
  desktop/src/renderer/api/schema.d.ts
  desktop/src/renderer/pages/simulator/JobSettingsDialog.tsx
  desktop/src/renderer/pages/simulator/SimulationSettings.tsx
  desktop/src/renderer/pages/simulator/buildConfig.ts
  desktop/src/renderer/pages/simulator/types.ts
  desktop/tests/e2e/simulator.spec.ts
  desktop/tests/unit/simulator-defaults.test.ts
  tests/numerical/test_sci07_exposure_channels.py
  tests/test_config_io.py
  tests/test_fields.py
  tests/test_plan_routes.py
  tests/test_sim_config.py
  tests/test_sim_utils.py
  tests/test_source.py
  tit/fields.py
  tit/sim/TI.py
  tit/sim/config.py
  tit/sim/utils.py
  tit/source/fsaverage.py
Due: simulator

docs(sim): document carrier-only (ΔF = 0) controls and their coherent carrier fields
  agent-plugin/skills/ti-domain/SKILL.md
  agent-plugin/skills/ti-scripting/SKILL.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/wiki/analyzer.md
  docs/wiki/scripting.md
  docs/wiki/simulator.md
Due: none

feat(source): store fsaverage projections as viewable .msh
  agent-plugin/skills/ti-domain/SKILL.md
  agent-plugin/skills/ti-scripting/SKILL.md
  contracts/CHANGES.md
  contracts/generated/config.schema.json
  contracts/generated/openapi.json
  desktop/src/renderer/api/schema.d.ts
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/dev/TESTING.md
  docs/wiki/cluster-permutation-testing.md
  docs/wiki/extension.md
  docs/wiki/simulator.md
  resources/fsaverage/README.md
  tests/numerical/test_fsaverage_msh.py
  tests/test_catalog_metadata_boundaries.py
  tests/test_jobs_preflight.py
  tests/test_source.py
  tests/test_stats_surface.py
  tests/test_viewer_library.py
  tit/catalog.py
  tit/jobs/preflight.py
  tit/paths.py
  tit/source/__main__.py
  tit/source/config.py
  tit/source/fsaverage.py
  tit/stats/surface.py
  tit/viewspec.py
Due: stats

feat(stats): surface cluster-permutation results are a .msh map plus CSV tables
  agent-plugin/skills/ti-scripting/SKILL.md
  desktop/src/renderer/pages/results/preview/views.tsx
  desktop/src/renderer/pages/results/results.css
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/dev/TESTING.md
  docs/wiki/cluster-permutation-testing.md
  tests/numerical/test_fsaverage_msh.py
  tests/test_catalog_group_stats.py
  tests/test_plotting.py
  tit/catalog.py
  tit/plotting/nilearn/surface.py
  tit/source/fsaverage.py
  tit/stats/surface.py
Due: stats, plotting

fix(pre): map Windows LOCAL_PROJECT_DIR to Docker Desktop VM path for sibling containers (#171)
  tests/test_pre_freesurfer.py
  tests/test_pre_qsi_utils.py
  tit/pre/freesurfer.py
  tit/pre/qsi/utils.py
Due: preprocessing

refactor(pre): drop duplicate docker_host_path call
  tit/pre/qsi/utils.py
Due: preprocessing

fix(pre): pass the native host path to sibling containers, as v2 did (#171)
  tests/test_pre_freesurfer.py
  tests/test_pre_qsi_docker.py
  tests/test_pre_qsi_utils.py
  tit/pre/freesurfer.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/utils.py
Due: preprocessing

refactor(paths): one host-path module per language, shared fixture table
  .github/workflows/README.md
  .github/workflows/host-paths.yml
  desktop/src/main/index.ts
  desktop/src/main/stack.ts
  desktop/src/shared/paths.ts
  desktop/tests/unit/paths.test.ts
  tests/fixtures/host_paths.json
  tests/test_freesurfer_license.py
  tests/test_host_path.py
  tests/test_host_path_table.py
  tests/test_native_scene_export.py
  tests/test_pre_freesurfer.py
  tests/test_pre_qsi_docker.py
  tests/test_pre_qsi_utils.py
  tests/test_saved_scene_health.py
  tests/test_server_skeleton.py
  tests/test_view_open.py
  tests/test_viewspec_overrides.py
  tit/host_path.py
  tit/launch.py
  tit/pre/freesurfer.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/utils.py
  tit/server/routes/project.py
  tit/server/routes/system.py
  tit/server/routes/viewer_library.py
  tit/server/routes/viewers.py
  tit/server/schemas.py
Due: preprocessing

test: make charm thread test independent of CPU count; skip PIL-dependent report fixture when Pillow is absent
  tests/test_pre_charm.py
  tests/test_reporting_runs.py
Due: none

feat(jobs): submit routes record who submitted; "agent" is an allowed creator
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  docs/dev/ARCHITECTURE.md
  docs/dev/DECISIONS.md
  tests/test_jobs_routes.py
  tit/jobs/spec.py
  tit/server/routes/jobs.py
Due: none

feat(agent-plugin): the user's own agent can stage, preprocess, optimise and simulate through the running app
  .claude-plugin/marketplace.json
  AGENTS.md
  agent-plugin/.claude-plugin/plugin.json
  agent-plugin/.mcp.json
  agent-plugin/README.md
  agent-plugin/mcp/jobs_server.py
  agent-plugin/mcp/test_stdio.py
  agent-plugin/skills/ti-run-pipelines/SKILL.md
  agent-plugin/skills/ti-toolbox/SKILL.md
  docs/dev/CHANGELOG.md
  docs/wiki/agent-plugin.md
  docs/wiki/ai-assistant.md
  tests/test_agent_plugin_jobs.py
Due: none

feat(jobs): an agent proposes a pipeline, the user approves it, the server queues it
  agent-plugin/.claude-plugin/plugin.json
  agent-plugin/README.md
  agent-plugin/mcp/jobs_server.py
  agent-plugin/skills/ti-run-pipelines/SKILL.md
  agent-plugin/skills/ti-toolbox/SKILL.md
  contracts/generated/openapi.json
  contracts/openapi.yaml
  desktop/src/renderer/api/schema.d.ts
  desktop/tests/fixtures/settings_seed.json
  desktop/tests/mock-server/contract.test.ts
  desktop/tests/mock-server/server.mjs
  docs/dev/ARCHITECTURE.md
  docs/dev/DECISIONS.md
  docs/dev/TESTING.md
  tests/test_agent_plugin_jobs.py
  tests/test_flex_simulation_resolver.py
  tests/test_jobs_routes.py
  tests/test_proposals_routes.py
  tit/jobs/spec.py
  tit/server/proposals.py
  tit/server/routes/jobs.py
  tit/server/routes/proposals.py
  tit/server/routes/settings.py
  tit/server/routes/ws_jobs.py
  tit/sim/montage_sources.py
Due: simulator

feat(desktop): an Assistant page runs the user's own Claude Code or Codex in a host terminal, plugin attached
  agent-plugin/README.md
  desktop/electron-builder.yml
  desktop/package-lock.json
  desktop/package.json
  desktop/scripts/fix-node-pty.mjs
  desktop/scripts/verify-package.mjs
  desktop/src/main/assistant.test.ts
  desktop/src/main/assistant.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/app/registry.ts
  desktop/src/renderer/pages/assistant/assistant.css
  desktop/src/renderer/pages/assistant/index.tsx
  desktop/src/shared/tit-bridge.d.ts
  desktop/tests/e2e/assistant.spec.ts
  desktop/tests/e2e/packaged-launch.spec.ts
  desktop/tests/e2e/smoke.spec.ts
  desktop/tests/e2e/system.spec.ts
  desktop/tests/mock-server/server.mjs
  desktop/tests/unit/assistant-page.test.tsx
  desktop/tests/unit/package-runtime.test.ts
  desktop/tests/unit/shell-registry.test.ts
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/dev/TESTING.md
  docs/wiki/ai-assistant.md
Due: none

feat(desktop): an agent's plan is a card on the Jobs page that the user approves, edits or rejects
  agent-plugin/mcp/jobs_server.py
  desktop/src/renderer/app/NavRail.tsx
  desktop/src/renderer/app/jobs-rail/columns.tsx
  desktop/src/renderer/app/jobs/jobsStream.ts
  desktop/src/renderer/app/jobs/types.ts
  desktop/src/renderer/app/proposals/PendingProposalsBadge.tsx
  desktop/src/renderer/app/proposals/ProposalCard.tsx
  desktop/src/renderer/app/proposals/api.ts
  desktop/src/renderer/app/proposals/model.ts
  desktop/src/renderer/app/proposals/proposals.css
  desktop/src/renderer/pages/jobs/index.tsx
  desktop/src/renderer/pages/settings/index.tsx
  desktop/tests/e2e/proposals.spec.ts
  desktop/tests/mock-server/server.mjs
  desktop/tests/unit/extensions-navigation.test.tsx
  desktop/tests/unit/proposal-card.test.tsx
  docs/dev/CHANGELOG.md
  docs/dev/ROADMAP.md
  docs/wiki/ai-assistant.md
  tests/test_agent_plugin_jobs.py
Due: none

feat(desktop): the Assistant page says plans wait for approval on the Jobs page
  desktop/src/renderer/pages/assistant/assistant.css
  desktop/src/renderer/pages/assistant/index.tsx
  desktop/tests/unit/assistant-page.test.tsx
Due: none

docs(agent-plugin): README states plugin 0.4.0 and the Assistant page as the zero-setup path
  agent-plugin/README.md
Due: none

feat(desktop): a plan waiting for approval raises a native banner while the app is in the background
  desktop/src/main/jobsNotifier.ts
  desktop/src/shared/jobNotifications.ts
  desktop/tests/unit/job-notifications.test.ts
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/ROADMAP.md
  docs/wiki/ai-assistant.md
Due: none

fix(reporting): a flex/ex report on a cortical annot target reads the annotation, not a volume
  docs/dev/CHANGELOG.md
  tests/numerical/test_report_surface_roi.py
  tests/test_reporting_runs.py
  tit/reporting/generators/common.py
  tit/reporting/generators/ex_search.py
  tit/reporting/generators/flex_search.py
Due: none

fix(desktop): the Assistant terminal fits its card exactly and draws block glyphs with WebGL
  desktop/package-lock.json
  desktop/package.json
  desktop/src/renderer/pages/assistant/assistant.css
  desktop/src/renderer/pages/assistant/index.tsx
  desktop/tests/e2e/assistant.spec.ts
  desktop/tests/unit/assistant-page.test.tsx
  docs/dev/ARCHITECTURE.md
  docs/dev/CHANGELOG.md
  docs/dev/DECISIONS.md
  docs/dev/TESTING.md
Due: none
