Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

docs: add an interactive atlas browser
  dev/build_atlas_assets.py
  docs/_data/atlases.json
  docs/assets/atlas/cit168.nii.gz
  docs/assets/atlas/glasser.nii.gz
  docs/assets/atlas/massp.nii.gz
  docs/assets/atlas/mni152_t1_1mm.nii.gz
  docs/assets/atlas/morel.nii.gz
  docs/assets/js/atlas-browser.js
  docs/assets/js/niivue.min.js
  docs/wiki/atlases.md
Due: none

docs: add a multipolar TI page
  docs/wiki/mti.md
Due: none

docs: correct ROI, tissue and atlas claims in analyzer, ex-search and scripting
  docs/wiki/analyzer.md
  docs/wiki/ex-search.md
  docs/wiki/scripting.md
Due: none

sim: define the output fields in the help popup instead of classifying them
  tests/test_field_registry.py
  tit/constants.py
  tit/gui/simulator_tab.py
Due: none

docs: split the atlas browser into MNI and subject-space sections
  docs/assets/js/atlas-browser.js
  docs/wiki/atlases.md
Due: none

docs: add subject-space atlas assets from the ernie example subject
  dev/build_atlas_assets.py
  docs/_data/atlases.json
  docs/assets/atlas/ernie_a2009s.nii.gz
  docs/assets/atlas/ernie_charm.nii.gz
  docs/assets/atlas/ernie_dkt.nii.gz
  docs/assets/atlas/ernie_massp.nii.gz
  docs/assets/atlas/ernie_t1.nii.gz
  docs/assets/atlas/glasser.nii.gz
  docs/assets/atlas/morel.nii.gz
Due: none

docs: fix the blank atlas viewer for anyone holding a cached script
  docs/assets/js/atlas-browser.js
  docs/wiki/atlases.md
Due: none

cleanup atlases
  docs/wiki/atlases.md
Due: none

analyzer wiki cleanup
  docs/wiki/analyzer.md
Due: none

flex-search updating
  docs/wiki/flex-search.md
Due: none

docs: fix wiki image overflow, widen sidebar, add image lightbox and per-page subnav
  docs/_layouts/wiki.html
  docs/assets/css/style.scss
  docs/assets/js/wiki-lightbox.js
  docs/assets/js/wiki-subnav.js
Due: none

fix: clean up raw function repr in flex-search summary.txt Goal line
  tit/opt/flex/flex.py
Due: optimizer

docs: typeset equations with KaTeX across the wiki, releases and notes
  docs/_includes/head.html
  docs/_plugins/search_generator.rb
  docs/assets/css/style.scss
  docs/assets/js/math.js
  docs/gallery/ex-search.md
  docs/notes/ti-field-metrics.html
  docs/releases/changelog.md
  docs/releases/v2.2.1.md
  docs/wiki/analyzer.md
  docs/wiki/blender.md
  docs/wiki/diffusion-processing.md
  docs/wiki/ex-search.md
  docs/wiki/flex-search.md
  docs/wiki/mti.md
  docs/wiki/tissue-analyzer.md
Due: none

docs: refine wiki subnav with dot indicators and a wider sidebar
  docs/assets/css/style.scss
Due: none

perf(qsi): scale QSI thread count to the host instead of pinning it to 1
  tit/constants.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/qsirecon.py
Due: preprocessing

feat(qsi): validate DWI gradient tables and sidecars before the container runs
  tests/conftest.py
  tests/test_pre_preflight.py
  tests/test_pre_qsi_utils.py
  tit/constants.py
  tit/pre/qsi/utils.py
Due: preprocessing

feat(qsi): run DWI preflight in run_qsiprep and log node crashfiles on failure
  tit/pre/qsi/qsiprep.py
Due: preprocessing

fix(qsi): don't mistake QSIRecon's log directory for existing output
  tests/test_pre_qsi_recon.py
  tit/pre/qsi/qsirecon.py
Due: preprocessing

fix(pre): warn when a converted DWI arrives without its gradient table
  tit/pre/dicom2nifti.py
Due: preprocessing

feat(atlas): discover custom label volumes in m2m_<id>/masks/
  tit/atlas/constants.py
  tit/atlas/voxel.py
  tit/paths.py
Due: none

feat(gui): offer custom subject masks as subcortical ROI targets
  tit/gui/components/roi_picker.py
Due: none

test(atlas): cover custom mask discovery; document the masks/ convention
  docs/api_mkdocs/docs/pipeline/atlas.md
  tests/test_atlas_coverage.py
  tests/test_paths.py
Due: none

docs(about): add Past Contributors section; move Aksel Jackson there
  docs/about/about.md
Due: none

docs(about): cap contributor card width so single cards don't stretch
  docs/about/about.md
Due: none

docs(about): expand overview and acknowledge QSIPrep/QSIRecon, Blender, Python stack
  docs/about/about.md
Due: none

gui(analyzer): stop cancels queued spheres; expose custom masks in analyzer and viewer
  tests/test_gui_imports.py
  tit/gui/analyzer_tab.py
  tit/gui/nifti_viewer_tab.py
Due: none

gui(ex-search): run atlas ROIs in mTI mode; failed ROI reads no longer report success
  tests/test_gui_imports.py
  tit/gui/ex_search_tab.py
Due: none

sim: name the multipolar envelope field mTI_max instead of TI_Max
  docs/api_mkdocs/docs/getting-started.md
  docs/api_mkdocs/docs/pipeline/core.md
  docs/api_mkdocs/docs/pipeline/simulation.md
  docs/dev/known-issues-2026-08.md
  docs/wiki/analyzer.md
  docs/wiki/mti.md
  tests/test_analyzer.py
  tests/test_field_registry.py
  tests/test_sim_pipeline.py
  tit/constants.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/source/config.py
Due: simulator

opt(flex): make the optimised current split reach the final FEM solve
  tests/test_objectives.py
  tit/opt/flex/objectives.py
Due: optimizer

analyzer: honour the selected field and default voxel analysis to the envelope
  tests/test_analyzer_full.py
  tests/test_analyzer_group.py
  tests/test_analyzer_modules.py
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/analyzer/group.py
Due: analyzer

opt(ex): reject empty ROI configs; tolerate header rows in MNI ROI CSVs
  tests/test_opt_config.py
  tests/test_opt_ex.py
  tit/opt/config.py
  tit/opt/ex/engine.py
  tit/opt/ex/roi.py
Due: optimizer

opt(mex): enumerate pool montages up to symmetry with a closed-form count
  tests/test_opt_mex.py
  tit/opt/mex/engine.py
  tit/opt/mex/logic.py
Due: optimizer

dev(loader): survive first run and shell exits under set -euo pipefail
  dev/loader/loader_dev.sh
Due: none

pre(qsi): clamp --omp-nthreads to the cgroup-aware --nthreads
  tests/test_pre_qsi_docker.py
  tit/pre/qsi/docker_builder.py
Due: preprocessing

feat(agent-plugin): Claude Code plugin + MCP server so AI assistants understand TI-Toolbox
  .claude-plugin/marketplace.json
  .gitignore
  AGENTS.md
  agent-plugin/.claude-plugin/plugin.json
  agent-plugin/.mcp.json
  agent-plugin/README.md
  agent-plugin/mcp/server.py
  agent-plugin/skills/ti-codebase/SKILL.md
  agent-plugin/skills/ti-domain/SKILL.md
  agent-plugin/skills/ti-scripting/SKILL.md
  agent-plugin/skills/ti-toolbox/SKILL.md
  agent-plugin/skills/troubleshoot-project/SKILL.md
  tests/test_agent_plugin_mcp.py
Due: none

docs: AI Assistant guide for users and Agent Plugin Internals for developers
  README.md
  docs/_layouts/wiki.html
  docs/index.md
  docs/installation/installation.md
  docs/wiki/agent-plugin.md
  docs/wiki/ai-assistant.md
  docs/wiki/scripting.md
  docs/wiki/wiki.md
Due: none

readme
  README.md
Due: none

docs(site): redesign theme — full-width three-column layout, data-driven sidebars
  docs/README.md
  docs/_data/nav.yml
  docs/_includes/docs.html
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_includes/sidebar.html
  docs/_layouts/default.html
  docs/_layouts/gallery.html
  docs/_layouts/home.html
  docs/_layouts/installation.html
  docs/_layouts/page.html
  docs/_layouts/releases.html
  docs/_layouts/wiki.html
  docs/assets/css/style.scss
  docs/assets/js/search/header.js
  docs/assets/js/search/results.js
  docs/assets/js/site.js
  docs/assets/js/toc.js
  docs/assets/js/wiki-subnav.js
  docs/index.md
Due: none

docs(site): fit landing page above the fold
  docs/assets/css/style.scss
Due: none

dev(loader): import tit from the checkout instead of the host site-packages
  dev/loader/loader_dev.py
Due: none

Path conditions:
  core: (any of: tit/core/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/core/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  simulator: (any of: tit/sim/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/sim/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  analyzer: (any of: tit/analyzer/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/analyzer/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  optimizer: (any of: tit/opt/, but not: tests/, **/__pycache__/, *.pyc, setup.py, version.py, tit/gui/**, tit/blender/**, tit/tools/visualization_util.py, dev/**, docs/**) or (any of: tit/opt/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py)
  unittests: any of: tests/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  stats: any of: tit/stats/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  plotting: any of: tit/plotting/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
  preprocessing: any of: tit/pre/, but not: **/__pycache__, **/*.pyc, **/test_*.py, tests/**, setup.py, version.py, **/gui/**, **/__init__.py
