Repository idossha/TI-Toolbox: changes, and which Codecov flags are due for each by the changed paths.
All: core, simulator, analyzer, optimizer, unittests, stats, plotting, preprocessing

.codecov.yml:

# Codecov configuration for TI-Toolbox
# https://docs.codecov.io/docs/codecov-yaml

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%              # Minimum acceptable coverage
        threshold: 2%            # Allow 2% drop before failing
        if_ci_failed: error      # Require CI to pass

    # Coverage for changed code in PRs
    patch:
      default:
        target: 80%              # New code should have high coverage
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - files/directories not to include in coverage
ignore:
  - "tests/"                     # Test files themselves
  - "**/__pycache__/"
  - "*.pyc"
  - "setup.py"
  - "version.py"
  - "tit/gui/**"         # GUI code (requires X11, hard to test in CI)
  - "tit/blender/**"     # Blender scripts (require Blender)
  - "tit/tools/visualization_util.py"  # Visualization utilities
  - "dev/**"                    # Development utilities
  - "docs/**"                   # Documentation

# Flags for different parts of the codebase
flags:
  core:
    paths:
      - tit/core/
    carryforward: true

  simulator:
    paths:
      - tit/sim/
    carryforward: true

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: true

  optimizer:
    paths:
      - tit/opt/
    carryforward: true

# GitHub PR comment formatting
github_checks:
  annotations: true

# Codecov token (should be set as environment variable in CI)
# Do not hardcode the token here!

codecov.yml:

# Codecov Configuration for TI-Toolbox
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage report settings
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Coverage for individual patches/PRs
    patch:
      default:
        target: 65%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Component-specific coverage flags
# These match the flags passed in CircleCI: -F unittests,core,simulator,analyzer,optimizer
flags:
  unittests:
    paths:
      - tests/
    carryforward: false

  core:
    paths:
      - tit/core/
    carryforward: false
    target: 80%

  simulator:
    paths:
      - tit/sim/
    carryforward: false
    target: 70%

  analyzer:
    paths:
      - tit/analyzer/
    carryforward: false
    target: 75%

  optimizer:
    paths:
      - tit/opt/
    carryforward: false
    target: 65%

  stats:
    paths:
      - tit/stats/
    carryforward: false
    target: 60%

  plotting:
    paths:
      - tit/plotting/
    carryforward: false
    target: 60%

  preprocessing:
    paths:
      - tit/pre/
    carryforward: false
    target: 60%

# Files to ignore in coverage reports
ignore:
  - "**/__pycache__"
  - "**/*.pyc"
  - "**/test_*.py"
  - "tests/**"
  - "setup.py"
  - "version.py"
  - "**/gui/**"  # GUI code is harder to test in headless environments
  - "**/__init__.py"  # Init files are often just imports

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - master

# GitHub status checks configuration
github_checks:
  annotations: true

multi-polar optimization: MP search engine, n_pairs flex support, multi-pair TI postprocessing
  resources/map-electrodes/tes_flex_optimization.py
  scripts/mp_leadfield_test.py
  scripts/mp_sweep.py
  tests/test_opt_mp.py
  tit/opt/__init__.py
  tit/opt/config.py
  tit/opt/fast_eval.py
  tit/opt/flex/builder.py
  tit/opt/flex/manifest.py
  tit/opt/mp/__init__.py
  tit/opt/mp/__main__.py
  tit/opt/mp/engine.py
  tit/opt/mp/optimizer.py
  tit/opt/mp/results.py
  tit/opt/roi.py
Due: optimizer

blueprint update to support jupter and auto-complete with insight
  container/blueprint/Dockerfile.simnibs
  container/blueprint/entrypoint.sh
  container/config/nvim/lua/idossha/plugins/lsp.lua
  dev/loader/docker-compose.dev.yml
  docker-compose.yml
  package/docker/docker-compose.yml
Due: none

docstring update to support auto-complete
  tit/__init__.py
  tit/analyzer/analyzer.py
  tit/analyzer/group.py
  tit/opt/config.py
  tit/sim/config.py
  tit/sim/utils.py
  tit/stats/config.py
  tit/stats/permutation.py
Due: simulator, analyzer, optimizer, stats

docs update to support jupyter
  docs/api_mkdocs/docs/getting-started.md
  docs/dev/qsi-integration.md
  docs/wiki/python_env.md
  docs/wiki/scripting.md
Due: none

docs: NumPy-style docstrings for core infrastructure
  tit/__init__.py
  tit/calc.py
  tit/config_io.py
  tit/constants.py
  tit/logger.py
  tit/paths.py
Due: none

docs: NumPy-style docstrings for tit.analyzer and tit.stats
  tit/analyzer/__init__.py
  tit/analyzer/__main__.py
  tit/analyzer/analyzer.py
  tit/analyzer/field_selector.py
  tit/analyzer/group.py
  tit/analyzer/visualizer.py
  tit/stats/__init__.py
  tit/stats/config.py
  tit/stats/engine.py
Due: analyzer, stats

docs: NumPy-style docstrings for tit.gui
  tit/gui/__init__.py
  tit/gui/analyzer_tab.py
  tit/gui/ex_search_tab.py
  tit/gui/flex_search_tab.py
  tit/gui/main.py
  tit/gui/process.py
  tit/gui/simulator_tab.py
  tit/gui/style.py
  tit/gui/utils.py
Due: none

docs: NumPy-style docstrings for tit.pre
  tit/pre/__init__.py
  tit/pre/__main__.py
  tit/pre/charm.py
  tit/pre/dicom2nifti.py
  tit/pre/qsi/__init__.py
  tit/pre/recon_all.py
  tit/pre/structural.py
  tit/pre/tissue_analyzer.py
  tit/pre/utils.py
Due: preprocessing

docs: NumPy-style docstrings for tit.cli, tit.tools, tit.blender, tit.project_init
  tit/blender/__init__.py
  tit/blender/__main__.py
  tit/blender/config.py
  tit/blender/electrode_placement.py
  tit/tools/__init__.py
  tit/tools/check_for_update.py
  tit/tools/extract_labels.py
  tit/tools/field_extract.py
  tit/tools/gmsh_opt.py
  tit/tools/map_electrodes.py
  tit/tools/mesh2nii.py
  tit/tools/montage_visualizer.py
  tit/tools/nifti_to_mesh.py
  tit/tools/read_annot.py
Due: none

docs: NumPy-style docstrings for tit.reporting
  tit/reporting/__init__.py
  tit/reporting/core/__init__.py
  tit/reporting/core/assembler.py
  tit/reporting/core/base.py
  tit/reporting/core/protocols.py
  tit/reporting/core/templates.py
Due: none

docs: NumPy-style docstrings for tit.opt
  tit/opt/__init__.py
  tit/opt/config.py
  tit/opt/flex/__init__.py
  tit/opt/flex/builder.py
  tit/opt/flex/flex.py
  tit/opt/flex/manifest.py
  tit/opt/flex/pareto.py
  tit/opt/leadfield.py
Due: optimizer

docs: NumPy-style docstrings for tit.sim
  tit/sim/TI.py
  tit/sim/__init__.py
  tit/sim/base.py
  tit/sim/config.py
  tit/sim/mTI.py
  tit/sim/utils.py
Due: simulator

docs: NumPy-style docstrings for GUI and internal modules
  tit/gui/acknowledgments_tab.py
  tit/gui/components/__init__.py
  tit/gui/components/add_montage_dialog.py
  tit/gui/components/conductivity_dialog.py
  tit/gui/components/qsi_config_dialogs.py
  tit/gui/contact_tab.py
  tit/gui/extensions.py
  tit/gui/extensions/cbp.py
  tit/gui/extensions/electrode_placement.py
  tit/gui/extensions/nifti_group_average.py
  tit/gui/extensions/nilearn_viz.py
  tit/gui/extensions/quick_notes.py
  tit/gui/extensions/subject_info_viewer.py
  tit/gui/extensions/visual_exporter.py
  tit/gui/help_tab.py
  tit/gui/nifti_viewer_tab.py
  tit/gui/optimizer_tab.py
  tit/gui/pre_process_tab.py
  tit/gui/settings_menu.py
  tit/gui/system_monitor_tab.py
  tit/plotting/__init__.py
  tit/project_init/__init__.py
  tit/project_init/first_time_user.py
  tit/project_init/initializer.py
Due: none

docs: NumPy-style docstrings for remaining public API gaps
  tit/blender/helpers/extract_metadata.py
  tit/blender/helpers/inspect_blend.py
  tit/opt/ex/logic.py
  tit/opt/ex/results.py
  tit/opt/flex/utils.py
  tit/plotting/nilearn/__init__.py
  tit/plotting/nilearn/visualizer.py
  tit/pre/qsi/docker_builder.py
  tit/pre/qsi/dti_extractor.py
  tit/reporting/generators/__init__.py
  tit/stats/nifti.py
  tit/stats/reporting.py
Due: optimizer, stats, plotting, preprocessing

docs: fix remaining 12 docstring gaps
  tit/blender/montage_publication.py
  tit/gui/extensions/visual_exporter.py
  tit/opt/ex/__main__.py
  tit/opt/flex/__main__.py
  tit/plotting/_common.py
  tit/pre/qsi/debug_dti.py
  tit/sim/__main__.py
  tit/stats/__main__.py
Due: simulator, optimizer, stats, plotting, preprocessing

docs: standardize mermaid diagram color scheme, shapes, and I/O logic
  docs/api_mkdocs/docs/index.md
  docs/api_mkdocs/docs/pipeline/analysis.md
  docs/api_mkdocs/docs/pipeline/atlas.md
  docs/api_mkdocs/docs/pipeline/core.md
  docs/api_mkdocs/docs/pipeline/optimization.md
  docs/api_mkdocs/docs/pipeline/plotting.md
  docs/api_mkdocs/docs/pipeline/preprocessing.md
  docs/api_mkdocs/docs/pipeline/reporting.md
  docs/api_mkdocs/docs/pipeline/simulation.md
  docs/api_mkdocs/docs/pipeline/statistics.md
Due: none

docs: standardize mermaid diagram color scheme, shapes, and I/O logic (#86)
  docs/api_mkdocs/docs/index.md
  docs/api_mkdocs/docs/pipeline/analysis.md
  docs/api_mkdocs/docs/pipeline/atlas.md
  docs/api_mkdocs/docs/pipeline/core.md
  docs/api_mkdocs/docs/pipeline/optimization.md
  docs/api_mkdocs/docs/pipeline/plotting.md
  docs/api_mkdocs/docs/pipeline/preprocessing.md
  docs/api_mkdocs/docs/pipeline/reporting.md
  docs/api_mkdocs/docs/pipeline/simulation.md
  docs/api_mkdocs/docs/pipeline/statistics.md
Due: none

ci: switch docs deployment from legacy branch to GitHub Actions
  .github/workflows/deploy-docs.yml
Due: none

ci: switch docs deployment from legacy branch to GitHub Actions (#87)
  .github/workflows/deploy-docs.yml
Due: none

docs: update docs README to reflect Actions deployment
  docs/README.md
Due: none

docs: update docs README to reflect Actions deployment (#88)
  docs/README.md
Due: none

corrected path in roi picker gui
  tit/gui/components/roi_picker.py
Due: none

when you backspace to clear the field, the preview label just clears instead of crashing
  tit/gui/flex_search_tab.py
Due: none

fixed issue with macOS executable builds
  package/.npmrc
  package/package.json
Due: none

added note for replacing tags faster
  dev/update/README.md
Due: none

fix --- header that disabled the page
  docs/releases/v2.3.0.md
Due: none

loader.sh --> loader.py
  docs/index.md
  docs/installation/bash-cli.md
  docs/installation/installation.md
  docs/installation/linux.md
  docs/installation/macos.md
  docs/installation/troubleshooting.md
  docs/installation/windows.md
Due: none

fixed GUI crash --> RecursionError caused by passing a plain Python list to set_xlim(
  tit/gui/system_monitor_tab.py
Due: none

adding additional search tab for secondary search
  tit/gui/flex_search_tab.py
  tit/gui/optimizer_tab.py
  tit/gui/secondary_ex_search_tab.py
  tit/opt/flex/flex.py
Due: optimizer

feat: add download stats tracking (data stored in private repo)
  .github/workflows/fetch-stats.yml
  .gitignore
  tracking/dashboard.py
  tracking/fetch_stats.py
  tracking/requirements.txt
Due: none

fix: use STATS_GITHUB_TOKEN for traffic API (needs repo scope)
  .github/workflows/fetch-stats.yml
Due: none

feat: add anonymous opt-in usage telemetry (GA4)
  dev/telemetry/README.md
  tests/test_telemetry.py
  tit/analyzer/analyzer.py
  tit/constants.py
  tit/gui/main.py
  tit/gui/settings_menu.py
  tit/opt/ex/ex.py
  tit/opt/flex/flex.py
  tit/sim/utils.py
  tit/telemetry.py
Due: simulator, analyzer, optimizer

improved telemetry
  dev/loader/docker-compose.dev.yml
  dev/loader/loader_dev.py
  dev/telemetry/README.md
  docker-compose.yml
  package/docker/docker-compose.yml
  package/src/backend/env.js
  scripts/pipeline.py
  tests/test_telemetry.py
  tit/analyzer/group.py
  tit/blender/montage_publication.py
  tit/blender/region_exporter.py
  tit/blender/vector_field_exporter.py
  tit/constants.py
  tit/gui/extensions_config.py
  tit/gui/main.py
  tit/paths.py
  tit/pre/charm.py
  tit/pre/dicom2nifti.py
  tit/pre/qsi/qsiprep.py
  tit/pre/qsi/qsirecon.py
  tit/pre/recon_all.py
  tit/pre/structural.py
  tit/reporting/generators/base_generator.py
  tit/stats/permutation.py
  tit/telemetry.py
Due: analyzer, stats, preprocessing

streamlined initializer
  tit/project_init/README.md
  tit/project_init/__init__.py
  tit/project_init/example_data_manager.py
  tit/project_init/first_time_user.py
  tit/project_init/initializer.py
Due: none

telemetry readme update
  dev/telemetry/README.md
Due: none

updated test_pre_dicom
  tests/test_pre_dicom.py
Due: none

tests update after private methods
  tests/test_opt_builder.py
Due: none

update telemetry
  tit/telemetry.py
  tracking/dashboard.py
  tracking/fetch_stats.py
  tracking/requirements.txt
Due: none
